<section>
    <div class="user-dashboard user-profiledetails">
        <form ng-submit="vm.updateProfile(vm.mngprofile.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.mngprofile">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <img ng-src="{{vm.user.personalInfo.profileImg}}" height=100 width=100 class="profile_pic">
                    <input type="file" ng-model="vm.file" name="file" file-uploader ng-change="vm.onLoad(vm.file)"  accept="image/*">
                    <input value="Business Referral Details" class="add_btn_other_profile btn login" ng-click="vm.otherDetailPop(vm.user._id)" type="button" ng-if="vm.user.role == 'b_owner'">

                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 list-controls">
                    <div class="list-controls">
                        <div class="row">
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-6">
                                <h1>Profile</h1>
                            </div>

                            <!--<div class="col-lg-2 col-md-7 col-sm-4 col-xs-5 pull-right txt_right">
                                <input value="Edit" class="add_btn_new" type="button">
                            </div>-->
                            <div class="clearfix"></div>
                            <!-- Form Name -->
                            <div class="profile_form">
                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.name.$invalid && !vm.mngprofile.name.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="name">Name:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12"> 
                                        <input type="text" name="name" placeholder="Name" class="form-control input-md profile_field" ng-model="vm.user.personalInfo.name" required>
                                        <span ng-show="vm.mngprofile.name.$invalid && !vm.mngprofile.name.$pristine">Name is required.</span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.mobileNo.$invalid && !vm.mngprofile.mobileNo.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="mobileNo">Phone:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                        <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control input-md profile_field" ng-model="vm.user.personalInfo.mobileNo" ng-minlength="10" ng-maxlength="10" required>
                                        <span ng-show="vm.mngprofile.mobileNo.$invalid && !vm.mngprofile.mobileNo.$pristine || vm.mngprofile.$error.minlength || vm.mngprofile.$error.maxlength" class="alert_box">Required. 10 char. only</span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="email">Email:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                        <input type="email" name="email" placeholder="Email" class="form-control input-md profile_field" ng-model="vm.user.email" ng-disabled="true">
                                        <span ng-show="vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine">Enter valid email.</span>
                

                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="address">Address:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                         <input type="text" name="address" placeholder="Address" class="form-control input-md profile_field" ng-model="vm.user.address.address" required>
                                        <span ng-show="vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine">Enter address here.</span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.city.$invalid && !vm.mngprofile.city.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="city">City:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                         <input type="text" name="city" placeholder="City" class="form-control input-md profile_field" ng-model="vm.user.address.city" required>
                                        <span ng-show="vm.mngprofile.city.$invalid && !vm.mngprofile.city.$pristine">Enter city here.</span>
                                    </div>
                                </div>

                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.state.$invalid && !vm.mngprofile.state.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="state">Province/ State:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                         <input type="text" name="state" placeholder="Province/State" class="form-control input-md profile_field" ng-model="vm.user.address.state" required>
                                        <span ng-show="vm.mngprofile.state.$invalid && !vm.mngprofile.state.$pristine">Enter province/state here.</span>
                                    </div>
                                </div>
                                    
                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.zipcode.$invalid && !vm.mngprofile.zipcode.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="zipcode">Zip/ Postal code:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                        <input type="text" name="zipcode" placeholder="Zip/ Postal code" class="form-control input-md profile_field" ng-model="vm.user.address.zipcode" required>
                                        <span ng-show="vm.mngprofile.zipcode.$invalid && !vm.mngprofile.zipcode.$pristine">Enter your zip/postal code.</span>
                                    </div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.country.$invalid && !vm.mngprofile.country.$pristine }">
                                    <label class="col-lg-3 col-md-3 control-label" for="country">Country:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                         <input type="text" name="country" placeholder="Country" class="form-control input-md profile_field" ng-model="vm.user.address.country" required>
                                        <span ng-show="vm.mngprofile.country.$invalid && !vm.mngprofile.country.$pristine">Enter country here.</span>
                                    </div>
                                </div>
<!--                                 Text input
                                <div class="form-group">
                                    <label class="col-lg-3 col-md-3 control-label" for="textinput">Password</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                        <input id="passwordinput" name="passwordinput" placeholder="" class="form-control input-md profile_field" type="password">

                                    </div>
                                </div>-->
                               <!-- <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.password_old.$invalid && !vm.mngprofile.password_old.$pristine || vm.mngprofile.password_new.$invalid && !vm.mngprofile.password_new.$pristine || vm.mngprofile.password_confirm.$invalid && !vm.mngprofile.password_confirm.$pristine}">
                                    <label class="col-lg-3 col-md-3 control-label" for="password_old">Password:</label>  
                                    <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 pad_bot_pass">
                                        <input type="password" name="password_old" placeholder="Old Password" class="form-control input-md profile_field" ng-model="vm.user.password" required>
                                        <span ng-show="vm.mngprofile.password_old.$invalid && !vm.mngprofile.password_old.$pristine">Enter password here.</span>
                                    </div>
                                </div>-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.password_old.$invalid && !vm.mngprofile.password_old.$pristine || vm.mngprofile.password_new.$invalid && !vm.mngprofile.password_new.$pristine || vm.mngprofile.password_confirm.$invalid && !vm.mngprofile.password_confirm.$pristine}">
                                    <label class="col-lg-3 col-md-3 control-label" for="password_new">New&nbsp;Password:</label>  
                                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 pad_bot_pass" >
                                        <input type="password" name="password_new" placeholder="New Password" class="form-control input-md profile_field gap_b_sm_15" ng-model="vm.user.newpassword" ng-minlength="8" ng-maxlength="20">
                                        <span ng-show="vm.mngprofile.password_new.$invalid && !vm.mngprofile.password_new.$pristine || vm.mngprofile.password_new.$error.minlength || vm.mngprofile.password_new.$error.maxlength" class="alert_box">Must between 8 to 20 characters.</span>
                                    </div>

                                    <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 pad_bot_pass" >
                                        <input type="password" name="password_confirm" placeholder="Confirm New Password" class="form-control input-md profile_field" ng-model="vm.user.confirmpassword" compare-to="vm.user.newpassword" ng-minlength="8" ng-maxlength="20">
                                        <span ng-show="vm.mngprofile.password_confirm.$error.compareTo">Must match with password.</span>
                                    </div>
                                </div>
                                
                                <div class="row"></div>
                                <div class="form-group" ng-if="vm.user.role == 'b_owner'">
                                    <label class="col-lg-3 col-md-3 control-label" for="textinput">Visibility:</label>  
                                    <div class="col-lg-9 col-md-9  col-sm-12 col-xs-12">
                                        <div class="material-switch pad_top">
                                            <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="vm.user.visibility"/>
                                            <label for="someSwitchOptionSuccess" class="label-success"></label>
                                            <span class="desc-txt"> Make your business visible to everyone, not just those you have granted referral status to. Recommended for maximum referral results. </span>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="list-controls footer">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                            <input type="submit" value="Save" class="btn login" ng-disabled="vm.mngprofile.$invalid">
                            <!--<button type="submit" class="add_btn">Save</button>-->
                        </div>

                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                            <a class="btn btn-default abtncancelinner" ui-sref="anon.dashboard" ng-if="vm.user.role == 'b_owner'">Cancel</a>
                             <a class="btn btn-default abtncancelinner" ui-sref="anon.s_dashboard" ng-if="vm.user.role == 's_owner'">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<div class="popup2 popup4 instant-call-container">
            <a href="" ng-click="vm.Close3();" class="close_new">CLOSE</a>
            <form>
              <p><br/></p>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <p>Total Referrals : {{vm.totalReffsVar}}</p>
                  <p>Successful Referrals : {{vm.totalbusinessRefVar.count}}</p>
                  <p>Total Unsuccessful/Pending Referrals : {{vm.totalBusinessPendingVar}}</p>
                   <p>Total Referrals Earning : ${{vm.totalbusinessRefVar.referrerEarning ? vm.totalbusinessRefVar.referrerEarning : 0}}</p>
                </div>
            </form>
            <br>
</div>
<div style="display: none;" class="overlay"></div>