<!DOCTYPE html>
<html lang="en" data-ng-app="referral-app" ng-strict-di>
<head>
<base href="/">
<meta charset="utf-8">
<meta name="google-site-verification" content="MG0kChj4NK3-QIbVpcYcvRapjhTsBsxn_jQ733Lmp7Y" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<!--<meta name="Roi" content="">-->
<meta name="author" content="">
<link rel="shortcut icon" type="image/x-icon" href="images/favicon.ico">
<title>Referral Max</title>

    <style>
        .ng-hide, .ng-cloak { display: none!important;}
    </style>
<!-- Bootstrap core CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
     <link rel="stylesheet" href="css/dashboard/jquery-ui.css">
    <link href="css/global.css" rel="stylesheet">
    <link href="css/responsive.css" rel="stylesheet">
    <!--<link href="css/style.css" rel="stylesheet">-->
    <link href="libs/angular-toastr/dist/angular-toastr.css" rel="stylesheet">
   
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
    
    <link href="css/dashboard/style.css" rel="stylesheet">
    <link href="css/dashboard/responsive.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
    
</head>
  <body>
      <div style="height: 100%;">
          <!-- Header Start -->
          <header ng-show="!loginstatus" data-ng-include="'app/layout/header.html'" ></header>
          
          <div ng-show="loginstatus" data-ng-include="'app/layout/loggedHeader.html'" >
              
          </div>
       
          <!-- Header End -->
          
          <!--<main class="main"  >
              <ui-view></ui-view>
          </main>-->
          
          
        <section class="home" ng-controller="HeaderController as vm">
        <div class="container-fluid display-table">
            <div class="row display-table-row">
                <div ng-show="loginstatus" class="col-md-2 col-sm-1 display-table-cell v-align box" id="navigation"><!-- hidden-xs  -->
                    <div class="lft_lgn_info">
                        <div class="lli_userimg"><img ng-src="{{loggeduser.personalInfo.profileImg}}"  height=85 width=70 alt="user image"></div>
                            <div class="lli_usermane">{{loggeduser.personalInfo.name}}</div>
                            <a href="" class="lli_userlogbtn" title="LogOut" ng-click="vm.logout()">LogOut</a>
                    </div>
                    <div class="navi">
                        <ul>
                            
                            <li ng-show="rolewise"><a class="sales-first-menu" title="Employees" ui-sref="anon.dashboard"><i class="lft-mnu lft-mnu-manage_sales_managers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Employees</span></a></li>
                            
                            
                            <li><a ui-sref="anon.mngprofile"><i class="lft-mnu lft-mnu-manage_profile" title="Profile" aria-hidden="true"></i><span class="hidden-xs hidden-sm">My Profile</span></a></li>
                           
                            <li><a ui-sref="anon.mngmembership" title="Payment Plans" ng-show="rolewise"><i class="lft-mnu lft-mnu-payment_plan" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Payment Plans</span></a></li>
                            
                            <li ng-show="allow_refferers"><a ui-sref="anon.all-refferers" title="Referrers"><i class="lft-mnu lft-mnu-manage_referrers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Referrers</span></a></li>

                            <li ng-show="allow_offers"><a ui-sref="anon.offers" title="Offers"><i class="lft-mnu lft-mnu-manage_offers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Offers</span></a></li>

                            <li><a class="sales-first-menu" title="Redeem Coupon" ui-sref="anon.s_dashboard"><i class="lft-mnu lft-mnu-manage_sales_managers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Redeem Coupon</span></a></li>

                             <li ng-show="allow_reports"><a ui-sref="anon.reports"><i class="lft-mnu lft-mnu-manage_profile" title="Profile" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Reports</span></a></li>

                        </ul>
                    </div>
                </div>
                <div class="col-md-10 col-sm-11 display-table-cell v-align main_cont">
                    <div class="main"><div class="row"  >
                        <ui-view></ui-view>
                    </div></div>  
                    <div class="row" ng-show="loginstatus">
                        <footer>
                            <div class="col-md-6">
                                <div class="ftr_link">
                                        <a ui-sref="anon.termsconditions">Terms & conditions</a> | <a ui-sref="anon.privacy">Privacy policy</a> | <a ui-sref="anon.faqs">Faqs</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
          
          
          
          
          
<!--           <div class="loading-wrp" referral-loader>
              <div class="loading"></div>
          </div>-->
          <!-- Footer Start -->
          <footer ng-show="!loginstatus" class="footer" data-ng-include="'app/layout/footer.html'" ></footer>
    </section>
          <!-- Footer End -->
      </div>

    <!-- inject-vendor:js --> 

    <script src="libs/jquery/dist/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="libs/angular/angular.min.js"></script>
    <script src="libs/angular-animate/angular-animate.min.js"></script>
    <script src="libs/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="libs/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="libs/satellizer/dist/satellizer.min.js"></script>
    <script src="libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/ngstorage/ngStorage.min.js"></script>
    <script src="libs/moment/min/moment.min.js"></script>
    <script src="libs/angular-moment/angular-moment.min.js"></script>
    <script src="libs/angular-svg-round-progressbar/build/roundProgress.min.js"></script>
    <!-- for no html5 browsers support -->
    <script src="libs/ng-file-upload/ng-file-upload-shim.min.js"></script> 
    <script src="libs/ng-file-upload/ng-file-upload.min.js"></script>
    
    <script src="libs/angular-base64-upload/dist/angular-base64-upload.min.js"></script>
    <script src="libs/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="libs/angular-toastr/dist/angular-toastr.tpls.js"></script>

    <!--<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places"></script>-->

     <script src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyBCfy2ygM-VsBqFQehuzzqKmsJXI8pF3Uc &libraries=places" ></script>


    <script src="app/referral/placepicker/jquery.placepicker.js"></script>

    <!-- Bootstrapping -->
    <script src="app/referral/app.module.js"></script>
    <script src="app/referral/app.api.js"></script>
    <script src="app/scripts/app.constant.js"></script>
    <!-- Header -->
    <script src="app/referral/header/header.controller.js"></script>
    <!-- Home -->
    <script src="app/referral/services/auth.service.js"></script>
    <script src="app/referral/home/home.controller.js"></script>
    
    <!-- User -->
    <script src="app/user/password.controller.js"></script>
    
     <!-- Profile -->
    <script src="app/referral/profile/profile.controller.js"></script>
    <script src="app/referral/profile/profile.service.js"></script>
  
    
    <!-- DashBoard -->
    <script src="app/referral/dashboard/dashboard.controller.js"></script>
    <script src="app/referral/dashboard/dashboard.service.js"></script>
  
    <!-- Directives -->
    <script src="app/referral/directives/password.strength.directive.js"></script>    
    <script src="app/referral/directives/loader.directive.js"></script> 
    <script src="app/referral/directives/compare.password.js"></script> 
    <script src="app/referral/directives/file.directive.js"></script> 
    <script src="app/referral/directives/image.directive.js"></script> 
     <script src="app/referral/directives/import.directive.js"></script> 
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->

     <!-- Offers -->
    <script src="app/referral/offer/offer.controller.js"></script>
    <script src="app/referral/offer/offer.service.js"></script>

     <!-- Refferer -->
    <script src="app/referral/refferer/refferer.controller.js"></script>
    <script src="app/referral/refferer/refferer.service.js"></script>

    <!-- Reports -->
    <script src="app/referral/reports/report.controller.js"></script>
    <script src="app/referral/reports/report.service.js"></script>

    <script>
    $(document).ready(function() {
		$(".labl-btn-grp input").click(function(){
			if ($("#opt2").is(":checked")) {
			   $(".qs-child-wrp").addClass("cssslidedown");
			}
			else{
				$(".qs-child-wrp").removeClass("cssslidedown");	
			}
		});

        // $(window).resize(function(){
        //     if ($(window).width() <= 768) {
        //        $("p").hide();
        //     }
        //     else {
        //        $("p").show();
        //     }
        // });

    });

   

    </script>
  </body>
</html>
