<h3>Privacy Policy</h3>
Guardian Voice Privacy Statement
<p>At Guardian Voice, we are extremely proud of our commitment to protect your privacy. We value your trust in us and assure you that we would use the information we collect only to provide a more personalized experience. We will work hard to earn your confidence so that you can enthusiastically use our services and recommend us to friends and family. Please read the following policy to understand how your personal information will be treated as you make full use of our many offerings. This document provides a thorough description of tools that Guardian Voice provides to help you interact with other users and Guardian Voice's practices to help you understand Guardian Voice's approaches to privacy. You should carefully read this Privacy Statement (the "Statement"). </p>

<p>This Statement supplements the Guardian Voice User Agreement (the "Agreement"). Thus, this Statement is incorporated into and governed by all of the terms of the Agreement. In the event of any conflict between the terms of the Agreement and this Statement, the terms of this Statement shall control.</p>

<p>This Statement applies only to information collected on the Guardian Voice iOS and Android application. It does not speak about Guardian Voice's practices for information collected elsewhere or the practices of any third parties, including those who may operate sites / mobile applications on Guardian Voice's behalf and that display Guardian Voice branding.</p>

1. Unregistered Guests:
<p>The Guardian Voice iOS and Android Application is optimized for registered users. By registering, you can obtain benefits such as the opportunity to write Opinions, rate schools and personalize your experience within your child class and bus community. If you choose not to register, you can still use some portions of the iOS and Android Application.  </p>

2. Registered Users:
<p>If you register, Guardian Voice stores your preferences and passwords for your convenience, to provide you with a more personalized experience. </p>

3. Your Registration Information:
<p>When you register, Guardian Voice asks you for a number of pieces of information. 
Guardian Voice uses registration information internally for a number of purposes, including:</p>

<p>- email distribution as described in the Agreement, as you request on the iOS and Android Application (such as promotional opportunities or newsletters if you check the applicable boxes on the registration page, and as described below in Section 9), and for administrative purposes (such as to notify you about changes to the Agreement or this Statement or other problems with your account). In accordance with instructions on the iOS and Android Application, you may opt not to receive certain emails in the future, and Guardian Voice will use reasonable efforts to honor your request.</p>

<p>- display banner (and similar) advertising to you in connection with the iOS and Android Application that is more targeted to you specifically. In doing this type of targeting, Guardian Voice or its ad server, and not the advertiser, connect you with the targeting criteria.</p>

<p>You may request to cancel your registration to the iOS and Android Application or request the removal of your registration information from member records by emailing support@Guardian Voice.com which permission may or may not be granted. However, Guardian Voice will send you an email to confirm your request. After you respond, Guardian Voice will in most cases, remove your information from its "live" database, but residual information may remain in archives and records. In addition, if your account is being terminated for violations of the Agreement, Guardian Voice may keep some of your registration information active to prevent re-registration.</p>


4. Your Opinions:
<p>All information you submit as part of an Opinion is automatically displayed on the iOS and Android Application (so long as it passes the non-abusive content). Guardian Voice may use such information in accordance with the license granted in the Agreement. This includes the right to use the Opinion or teaser portions (including your identity and photo) throughout the iOS and Android Application. Subject to the limitations discussed in the Agreement, you can request to change an Opinion at any time or if you wish to delete an Opinion, you may request support@Guardian Voice.com on a case-by-case basis. Your request may or may not be granted, depending on the reason of your request. In all cases, Guardian Voice will protect your privacy, as laid down in this policy. However, if the Opinion has been transferred to schools, your changes may not propagate to these other places.</p>

5. Comments on Opinions:
<p>Posting comments to other people's Opinions automatically displays your identity. This is true even if you have rated the Opinion anonymously. Guardian Voice may choose to transfer your comments to third parties if Guardian Voice transfers the associated Opinion.</p>

6. Your Personal Profile Pages:
<p>Guardian Voice allows you to display a large variety of personal information about yourself through the tools that edit your personal profile page. As you can see when you edit your profile you can change this information at any time (although, as discussed elsewhere, it may not be possible to propagate all of these changes instantly or ever). Please note that whatever photo you choose to upload as your profile picture will cause that photo to be displayed in many places throughout the iOS and Android Application (not just on the personal profile page).</p>

<p>Guardian Voice does not transfer your personal profile in total to third parties, but may transfer pieces of your personal profile page in accordance with your instructions, in situations similar to those described under the Registration Information heading above, or as described elsewhere in this Statement.</p>

7. Your Rating of Others and the Trusted Circle:
<p>One of the most powerful aspects of the iOS and Android Application is that it personalizes your experience based on your personal interests using the community. The system assesses your prior experiences on the iOS and Android Application (as evidenced by how you've rated other Opinions or trusted/distrusted other members), and then uses these experiences to dynamically sort the database of Opinions for you based on those that are more likely to interest you. To do this, Guardian Voice captures information about your interactions with other users and then processes this information each time you look for Opinions. The more you interact with others, the more personalized your subsequent uses of the iOS and Android Application will be.</p>

<p>In rating and commenting on others' Opinions, your ID is displayed. This causes the Opinion author and all other readers of the Opinion to see your rating. Similarly, even if you choose to hide your Trusted and Distrusted Member list, the members who you trust and distrust will know that you trust or distrust them.</p>

<p>Except as otherwise contemplated in this Statement, Guardian Voice does not transfer the complete database of rating and transactional information to others. However, the database is used throughout all of the iOS and Android Application Guardian Voice operates or may operate in future, whether branded solely by Guardian Voice, co-branded with others, or operated for others on a private-label basis.</p>


8. Email Notifications:
<p>In a number of places, Guardian Voice provides the option to receive an email when an activity occurs. For example, you can choose to be emailed if a specific other member writes an Opinion or a comment, or if a new Opinion is written. If you choose to be notified when another member writes an Opinion or comment, that other member will be able to see that you've done so.</p>

9. Integrated Services:
<p>Although Guardian Voice doesn't currently offer any integrated services operated by third parties as part of your registration, Guardian Voice expects to do so in the future. These could include functionality like a Guardian Voice email account. In these circumstances, Guardian Voice may transfer some or all of your registration information and other information to the third party to operate the integrated service if you choose to use these services.</p>

10. Internal Analyses and Reports:
<p>Guardian Voice uses all of the information in its databases, including personal information you've submitted, and other server and usage logs, to analyze the iOS and Android Application and user behavior, troubleshoot technical problems, resolve disputes and address complaints, and prepare aggregated reports that are shared with others, including the management of Guardian Voice.</p>

11. Other Information:
<p>Specific uses of personal information that vary from this Privacy Statement (if any) may be found throughout the iOS and Android Application. To the extent that, during your submission of information on the iOS and Android Application, you are notified of privacy practices that are different from those described in this Privacy Statement, those alternative disclosures will govern that submission.</p>

<p>There may be situations where Guardian Voice collects data through a survey or similar process when the page does not link to this Statement. In those cases, unless you are informed otherwise, you should assume that Guardian Voice treats all information from such pages as it treats its other valuable business records.</p>

<p>Of course, there are many other ways in which Guardian Voice could get information from or about you that are not described elsewhere in this Statement. For example, you might send email through a customer service email address, or Guardian Voice may get a complaint about you from a third party. Guardian Voice's practices with respect to such information are pretty much as you'd expect-Guardian Voice uses and disclose this information in a commercially reasonable business manner.</p>

12. Children:
<p>Guardian Voice feels strongly about protecting the privacy of children and encourages kids to involve their parents in any interactive activity they participate in online. If you are 12 or younger and we collect your age information through the registration process, you are not eligible to use the iOS and Android application. If you are under 18, Guardian Voice encourages you to use the iOS and Android Application with the help of your parents or Guardian Voices of legal age. </p>

13. The "Corporate Family":
<p>Guardian Voice may share some or all of your information with its subsidiaries or parent company (if any in future), in which case Guardian Voice will ask such entities to honor the promises in this Statement. In addition, as part of a diligence review, Guardian Voice may disclose some or all of your personal information to a potential acquirer or merger partner, although in this case Guardian Voice would try to restrict their use and disclosure of this information.</p>

14. Government Relations and Lawsuits:
<p>In some cases, the government can compel the disclosure of information about you, and of course Guardian Voice will need to comply. However, irrespective of those situations, Guardian Voice can unilaterally turn over information about you to the government if it believes such disclosure to be appropriate, in which case you authorize it to do so. You also consent to Guardian Voice disclosing information about you to actual or potential parties to a lawsuit that Guardian Voice is or may become involved in (a) if it is required to do so, (b) if it reasonably believes that such disclosures will potentially mitigate its liability, or (c) to enforce its rights.</p>

15. Collecting Personal Information from the Site:
<p>Many friendships have developed through the iOS and Android Application, and Guardian Voice wants the community to be vibrant and engaged. Thus, Guardian Voice is delighted when users begin communicating with each other outside the context of the iOS and Android Application. However, not every user wants to engage in these types of dialogue, and Guardian Voice believes each user should have the right to set the boundaries that feel right to them. Thus, you may not collect, use or store any personal information about other users on the iOS and Android Application for any purpose whatsoever unless the user invites you to do so. Thus, if a user displays an email address in his or her personal profile, you can assume that the user is willing to receive a single personal email from you that has some relation to the iOS and Android Application. However, without that user's permission, you may not contact the user about something that has nothing to do with Guardian Voice, store that user's contact information in a database for further communications, or continue to contact the user if they have requested you not to. In all circumstances, as described in the Agreement, you may not use robots, scripts or other automated procedures to collect any information, including user contact information, from the iOS and Android Application. You may also not email users inviting them to join your own review site/Mobile apps under any circumstance-doing so is a theft of Guardian Voice's valuable rights and an affront to users. Guardian Voice will protect its users' interests-and its own interests-very vigorously in this regard.</p>

16. Limits on Guardian Voice' Abilities:
<p>A iOS and Android Application and service as complicated as Guardian Voice is never perfect, and thus Guardian Voice may inadvertently make uses or disclosures of your information in ways not contemplated by, or in direct contravention of, this Statement. For example, if the software has a temporary glitch, your personal information could be displayed on the iOS and Android Application even though you've configured your preferences otherwise. Guardian Voice might also make ad hoc uses of your information in ways it can't contemplate here. Guardian Voice will do its best to work with you if these types of situations arise, but your sole remedy in these cases is to have Guardian Voice try to rectify the problem as soon as it can.</p>
<p>In addition, although highly unlikely, it is possible for Internet transmissions containing your personal information to be intercepted by others. It is impossible for Guardian Voice to ensure the privacy and security of all transmissions made to and from the iOS and Android Application while in transit.
Of course, Guardian Voice does not control the privacy practices of its advertisers and other third-party sites that it promotes or links to. If you click through a banner ad or link and submit your information to an advertiser, you will be subject to their privacy policies. Please make sure you understand these policies before submitting your information.</p>

17. Security Practices:
<p>Guardian Voice uses industry-standard methods of securing its databases of user information, such as, if and where appropriate, firewalls and limits on who can access user information databases. However, please keep in mind that there is no such thing as perfect security on the Internet.</p>
