<h3>Terms of Services</h3>
<p>Guardian Voice User Agreement, Terms of Services 
Welcome to Guardian Voice! It is an environment that fosters interaction and participation among its members. Members should thus feel free to express themselves. However, members should keep comments and contributions within the community values of the Service and must comply with applicable laws and the terms of service of Guardian Voice. This User Agreement (the "Agreement") describes the terms on which, Guardian Voice (India) Private Limited and its subsidiaries or parents hereby referred to as ("Guardian Voice") offers you an account on the Guardian Voice iOS and Android Application ("Guardian Voice"). BY PRESSING THE "CREATE MY ACCOUNT" BUTTON, YOU ACCEPT THE TERMS AND CONDITIONS OF THIS AGREEMENT. If you have any questions about this Agreement, email at abc@xyz.com. Any opinions expressed by a Member are of those of the Member alone, and are not to be attributed to Guardian Voice. Guardian Voice cannot and does not assume responsibility for the accuracy, completeness, safety, timeliness, legality or applicability of anything said or written by any Member.</p>

1. Amendment and Addenda:
Guardian Voice may amend this Agreement at any time by informing you of the amended terms via email to your email address. Such amendments will be effective when Guardian Voice emails a notice of the revisions to you. Alternatively or additionally, Guardian Voice may display amended terms to you when you log in to the iOS and Android Application, in which case such terms shall be effective when posted by Guardian Voice.

<p>In addition, Guardian Voice may offer you additional rights or services via addenda to this Agreement, which shall amend this Agreement if you choose to click through such terms.</p>

2. Submission and ownership of Content:
a. Definition:

<p>Guardian Voice allows you to provide your content (including without limitation text, data, photos, graphics, music, sounds and videos) to Guardian Voice in a number of forms, such as reviews and opinions about services or other decisions ("Opinions"), comments to other people's Opinions ("Comments") and information about yourself (your "Profile") for your profile page. Collectively, the Opinions, Reviews, Comments, Profiles and other content you provide to Guardian Voice (by uploading such Content to the iOS and Android Application or otherwise) is defined as your "Content."</p>
b. License:
<p>You retain all ownership rights to your Content. However, by submitting Content to Guardian Voice, you automatically grant to Guardian Voice an exclusive, royalty-free, perpetual, irrevocable, worldwide license (a) to use, reproduce, modify, adapt, publish, translate, create derivative works from, distribute, perform, transmit and display such Content (in whole or part) and/or to incorporate it in other works in any form, media, or technology now known or later developed for the full term of any Rights that may exist in such Content. (b) Display your Content online and offline and permit others (including without limitation Guardian Voice' co-brand partners) to do the same, and (c) display portions of your Content online or offline and permit others to do the same. You are free to use your Content offline in any manner you choose. However, Guardian Voice gets users to come to Guardian Voice and your Opinions by promising users high quality content they cannot get anywhere else. In order to sustain this traffic draw, by submitting Opinions to Guardian Voice, you grant to Guardian Voice (and its sub-licensees) the exclusive right to display your Opinions anywhere online, except the following circumstances:</p>

<p>You may not post your Opinions on any USENET newsgroups or any other web site / mobile applications, besides Guardian Voice. However, you may do so any time after one year of originally posting that Opinion on Guardian Voice, but you must include the following attribution in the post: "You can read this review at [Guardian Voice App of the review page on Guardian Voice] and other reviews on the same topic at [Guardian Voice App of the service page on Guardian Voice]. </p>

<p>In all other cases, Guardian Voice's exclusive display rights apply even if you initially post the Opinion somewhere else online and then desire to post it to Guardian Voice and then re-post it on Guardian Voice. If you desire other online rights to your Opinions, you may request permission at abc@xyz.com, which permission may be granted or withheld in Guardian Voice' sole discretion on a case-by-case basis. (For purposes of this section, the word "display" covers all copyright and other intellectual property rights necessary to effectuate the foregoing intent.)</p>

c. Pursuit of Violators:
<p>If Guardian Voice identifies someone who is displaying your Content online in violation of this Agreement and Guardian Voice wishes to take action against the infringer, Guardian Voice may contact you to seek your help with the action. However, Guardian Voice may also directly enforce your ownership rights in the Content against the infringer, and you authorize Guardian Voice to take any actions on your behalf that Guardian Voice reasonably deems necessary or appropriate to protect the parties' respective rights. If Guardian Voice decides to sue the infringer, (1) Guardian Voice may join you as a co-plaintiff to the action, and (2) any resulting damages or settlements attributable to online uses of your Opinions shall be solely Guardian Voice's.</p>

d. Removal of Opinions:
<p>Currently, Guardian Voice allows you to edit your Opinions by sending the request at abc@xyz.com. At any time, without further notice, Guardian Voice may restrict your ability to edit or delete your Opinions.</p>

e. Standards:
<p>You agree not to provide any Content to Guardian Voice that (a) infringes any third-party intellectual property or publicity/privacy rights, (b) violates any applicable law or regulation, (c) is defamatory, obscene, child pornographic or harmful to minors, (d) contains any viruses, Trojan horses, automated computer scripts, worms, time bombs, e-mail bombs, cancel bots or other computer programming routines that are intended to damage, detrimentally interfere with, surreptitiously intercept or expropriate any system, data or personal information, or (e) is otherwise tortuous or criminal.</p>

f. Content Filtering:
<p>Guardian Voice permits others to make judgments about your Content that may affect the display of your Content. Further, Guardian Voice may choose to use automated software filters that may prevent you from uploading your Content or may affect its display. Finally, Guardian Voice may take any actions that it deems necessary or appropriate to minimize its liability from your Content or to preserve Guardian Voice' relationships with its service providers (such as its Internet access providers).</p>

<p>g. Other Filtering/ Protection for Children:
Parental control protections (such as computer hardware, software and filtering services) are commercially available that may assist you in limiting access to material that is harmful to minors.</p>

2. Your Honest Identity:
<p>The successful functioning of Guardian Voice (including the Community system) depends, in part, on users telling each other the truth and nothing but the truth about who they are. Thus, you may not (a) establish more than one account (even if the accounts are created using different email addresses or established through co-branded sites), (b) provide incomplete or inaccurate registration information, (c) fail to update your registration information if it changes, (d) select a Member ID deliberately intended to mislead others about your identity or that infringes a third party's intellectual property rights, (e) select a photo to identify yourself that deliberately misleads others about your identity, or (f) You may not share your account (or the associated password) with anyone else. Guardian Voice may assume that all activities made using your Member ID and password are authorized by you; thus, if for any reason you suspect that your password has been compromised, you should contact Guardian Voice at once at abc@xyz.com.</p>

3. Privacy:
<p>Because your privacy is very important to Guardian Voice, the iOS and Android Application offers you a number of choices to facilitate decisions about how you would like Guardian Voice to use and disclose your personal information. By accepting this Agreement, you expressly consent to Guardian Voice's disclosure and use of your personal information (including using email to communicate with you) as described in the then-current Privacy Statement, which is incorporated herein by reference.</p>

4. Termination:
<p>Guardian Voice may terminate your use of the iOS and Android Application immediately if (a) you breach any element of this Agreement, (b) you infringe upon the intellectual property rights of a third party, or (c) Guardian Voice is unable to verify any registration information you provide. Alternatively, in such circumstances, Guardian Voice may take some lesser remedies, such as hiding the display of some or all of your Content or suspending your account. If you want to terminate your account, email at abc@xyz.com. Guardian Voice may choose to assume that you intended to terminate your account if you do not access it for more than 3 months. Following termination, at its sole option, Guardian Voice may remove some or all of your Content from the iOS and Android Application or leave it available for public review.</p>

5. No Warranty:
<p>THE GUARDIAN VOICE iOS AND ANDROID APPLICATION AND SERVICES ARE PROVIDED "AS IS," AND GUARDIAN VOICE AND ITS SUPPLIERS AND CO-BRAND PARTNERS EXPRESSLY DISCLAIM ALL WARRANTIES OR CONDITIONS OF ANY KIND (EXPRESS, IMPLIED OR STATUTORY), INCLUDING WITHOUT LIMITATION THE IMPLIED WARRANTIES OF TITLE, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE. Without limiting the foregoing, Guardian Voice does not promise or warrant to you that any aspect of the iOS and Android Application and system will work properly or will be available continuously.</p>
 
a. Liability Limits:
<p>IN NO EVENT SHALL GUARDIAN VOICE OR ITS SUPPLIERS OR CO-BRAND PARTNERS BE LIABLE FOR ANY LOST PROFITS OR SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES (HOWEVER ARISING, INCLUDING NEGLIGENCE) ARISING OUT OF OR IN CONNECTION WITH THE GUARDIAN VOICE SITE, ITS SERVICES OR THIS AGREEMENT. FURTHER, IN NO EVENT SHALL GUARDIAN VOICE OR ITS SUPPLIERS OR CO-BRAND PARTNERS BE LIABLE TO YOU FOR AN AMOUNT GREATER THAN THAT OF FEES, IF ANY, PAID BY YOU TO GUARDIAN VOICE.</p>


b. Indemnity:
<p>You release and indemnify Guardian Voice and/or any of its officers and representatives from any cost, damage, liability or other consequence of any of the actions of the users of Guardian Voice and specifically waive any claims that you may have in this behalf under any applicable law. Because user authentication on the Internet is difficult, the Company cannot and does not confirm that each user is who they claim to be. Because we do not and cannot be involved in user-to-user dealings or control the behavior of participants on any Guardian Voice iOS and Android Application, in the event that you have a dispute with one or more users, you release the Company (and our agents and employees) from claims, demands and damages (actual and consequential, direct and indirect) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such disputes.</p>

2. Access Limits:
<p>Without Guardian Voice's CEO's express written consent, you may not (a) use any automated means to access the iOS and Android Application or collect any information from the iOS and Android Application (including without limitation robots, spiders or scripts), or (b) frame the iOS and Android Application, or otherwise affect the display of its pages.</p>

3. General:
<p>You shall comply with all laws and regulations applicable to your access and use of the iOS and Android Application and your publication of your Content. If any portion of this Agreement is deemed unenforceable, that portion shall be enforced to the maximum extent possible and the remaining portions of the Agreement shall be given full effect. Guardian Voice's failure to act in a particular circumstance does not waive the ability to act with respect to that circumstance or similar circumstances. Guardian Voice shall be excused for any failure to perform to the extent that its performance is prevented by any reason outside of its control. No agency, partnership, joint venture, employment or franchise relationship is intended or created by this Agreement. Guardian Voice may change, remove, or require registration or payment to continue use of, any aspect of the iOS and Android Application and service at any time without further notice to you. Guardian Voice's suppliers and co-brand partners are third-party beneficiaries of this Agreement. Except as provided in Section 1, this Agreement may be amended only by writing, physically signed by both Guardian Voice and you.</p>

4. Entire Agreement:
<p>This Agreement (and any addenda or statements expressly incorporated into this Agreement that you enter into) constitute the entire agreement, and supersede the provisions of any other agreements or understandings (oral or written), between the parties with respect to the subject matter of such documents. In the event of any conflict between the terms of this Agreement and an addendum, the provisions of the addendum shall control.</p>

5. Fees and Taxes:
<p>If you are an individual non-corporate member, Guardian Voice does not charge you any fees to use its services (although this may change at any time). However, any expenses (such as hardware, software and Internet access costs) or taxes you incur to access the iOS and Android Application shall be your sole responsibility. Guardian Voice currently does not offers any paid services. </p>

6. Governing Law and Arbitration:
<p>This Agreement is governed in all respects by the laws of Republic of India as such laws are applied to agreements entered into and to be performed entirely within India between Indian residents. Any controversy or claim arising out of or relating to this Agreement or the Guardian Voice iOS and Android Application shall be settled by binding arbitration in accordance with the Indian Arbitration Act 1996. Any such controversy or claim shall be arbitrated on an individual basis, and shall not be consolidated in any arbitration with any claim or controversy of any other party. The arbitration shall be conducted in New Delhi, India and judgment on the arbitration award may be entered into New Delhi court having jurisdiction thereof. The award of the arbitrator shall be final and binding upon the parties without appeal or review. Notwithstanding the foregoing, Guardian Voice may seek any interim or preliminary relief from a court of competent jurisdiction in New Delhi, India. Guardian Voice at its option, may bypass arbitration in cases of fraud or other crimes against itself, interference with its technical operations or violations of its rights or property.</p>

