@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i';

* { padding: 0px; margin: 0px; }
body,html { font-family: 'Lato', sans-serif; font-size: 15px; color: #696969; width: 100%; }
input,textarea { border: 0; display: block; outline: none; font-family: 'Lato', sans-serif; font-size: 15px; color: #696969; }
img, a { outline: none!important; border:0px; }
input,textarea{border:0;display:block;outline:none;}
img,input{border:none;display:block;outline:none;}
header, section, footer, aside, nav, main, article, figure{display:block;} 
a{-moz-transition:all 0.2s ease 0s;	-ms-transition:all 0.2s ease 0s;-o-transition:all 0.2s ease 0s;-webkit-transition:all 0.2s ease 0s;transition:all 0.2s ease 0s; text-decoration:none;}
a:hover, a:focus { text-decoration:none; }
ul, li { margin:0px; padding:0px; list-style-type:none; }
input, button { outline:0px; }
p { font-size:16px; color:#868a8d; font-family: 'Lato', sans-serif; }
header, section, footer, aside, nav, main, article, figure { display: block; } 

/* general */
.clear { clear: both; overflow: hidden; height: 0px; }
.container { position: relative; }
/* wrap */

.overlay {z-index: 5;background: rgba(0, 0, 0, .7); display: none;position: fixed;width: 100%;height: 100%;top: 0; -webkit-transition: opacity 500ms; -moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;}
/* header */
/*header .header { position:relative; background:url(../images/home_bnnr.jpg) center center no-repeat; background-attachment:fixed; background-size:cover; /*height:500px;*/ /*padding:32px 0px;  } */
header .header { position:relative;/* background-color: #3161ac; */ 
    background-attachment:fixed; background-size:cover; /*height:500px;*/ 

   /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+5,1e5799+99 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top, #7db9e8 5%, #1e5799 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7db9e8 5%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7db9e8 5%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */





    padding:32px 0px;  }

header .header .logo { float:left; }
header .header .logo img { max-width:100%; display:block; }
header .header .navigation { float:right; }
header .header .navigation ul.nav { display:inline-block; padding-top:27px; }
header .header .navigation ul.nav li { font-size:14px; margin-right:32px; display:inline-block; vertical-align:top; line-height:normal; }
header .header .navigation ul.nav li a { color:#ffffff; text-decoration:none; padding:0px 10px; }

header .header .navigation .button { display:inline-block; height:55px; }
header .header .navigation .button a { border:2px solid #fff; text-align:center; display:inline-block; height:38px; line-height:34px; border-radius:30px; width:148px; font-weight:500; color:#ffffff; }
header .header .navigation .button a:hover { color:#fff; background:#39bfe2; }

header .header .navigation .button ul.dropdown-menu { width:370px; height:auto; background:#fff; left:inherit; right:0px; padding:40px 35px 30px 35px; border:0px; margin-top:0px; }
header .header .navigation .button ul.dropdown-menu li .form-control { border:2px solid #e8e8e8; height:40px; border-radius:30px; margin-top:28px; box-shadow:none; font-size:16px; color:#949494; padding-right:45px; outline:0px; }
header .header .navigation .button ul.dropdown-menu li:first-child .form-control {margin-top:0;}
/*header .header .navigation .button ul.dropdown-menu li .form-control {margin-top:28px;}*/
header .header .navigation .button ul.dropdown-menu li input.email { background:url(../images/email_icon.png) 95% 10px no-repeat; }
header .header .navigation .button ul.dropdown-menu li input.password { background:url(../images/password_icon.png) 95% 10px no-repeat;  }

header .header .navigation .button ul.dropdown-menu li button.btn { width:177px; height:40px; text-align:center; /*display:block;*/ 
      
     /* background:#39bfe2;*/
      
          background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
      
      
      
      color:#fff; line-height:30px; border:0px; font-weight:500; border-radius:30px; -moz-border-radius:30px; -webkit-border-radius:30px; -ms-border-radius:30px; }
header .header .navigation .button ul.dropdown-menu li button.btn:hover { /*background:#2888a5;*/
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  

}

header .header .navigation .button ul.dropdown-menu li a { padding:18px 0px 25px 0px; color:#2888a5; height:auto; line-height:normal; width:100%; display:block; float:right; text-align:right; font-size:14px; }
header .header .navigation .button ul.dropdown-menu li a.newuser { color:#39bfe2; padding:5px 0px 0px 0px; display:inline-block; width:auto; font-size:16px; font-weight:500; }
header .header .navigation .button ul.dropdown-menu li .form-control.second { margin-bottom:0px; }
header .header .navigation .button ul.dropdown-menu li a:hover, header .header .navigation .button ul.dropdown-menu li a:focus { background:none; }

/**/
header .header .navigation .button.dropdown.open a.dropdown-toggle:after {   content: url(../images/dropdown_arrow.png); width:28px; height:16px; position: absolute; right: 30px; top: 38px; width: 28px; z-index: 9999; }

header .header .navigation ul.nav li a:hover, header .header .navigation ul.nav li a:focus { color:#39bfe2; }
header .header .navigation .nav > li > a:focus, header .header .navigation .nav > li > a:hover { background:none; }

.download_sec { background:url(../images/section_bg.png) center center repeat-x; position:relative; background-size:cover; padding-top:7%; }
.download_sec .app-img img { max-width:100%; display:block; }
.download_sec h2 { font-family: 'Playfair Display', serif; font-size:48px; color:#434343; margin:10px 0px 28px 0px; padding:65px 0px 0px 0px; font-weight:700; }
.download_sec p { font-size:22px; color:#696969; line-height:normal; margin:0px;  }
.download_sec .button-app { margin-top:30px; display:block; margin-bottom:30px; }
.download_sec .button-app img { display:inline-block; vertical-align:top; margin-right:28px; max-width:100%; }

footer.footer { position:relative; margin-top: 40px; background:#353535; /*line-height:55px;  height:55px;*/}
footer.footer ul { margin:0px; }
footer.footer ul li { background:url(../images/footer_line.png) right 22px no-repeat; display:inline-block; vertical-align:top; padding-right:35px; margin-right:35px; }
footer.footer ul li:last-child { background:none; }
footer.footer ul li a { color:#ffffff; font-weight:500; text-decoration:none; }
footer.footer ul li a:hover { color:#39bfe2; }


/*Popup Style*/

.name_icon_sprite{ background:url(../images/form-sprite.png) right -7px no-repeat; }
.email_icon_sprite{ background:url(../images/form-sprite.png) right -52px no-repeat; }
.phone_icon_sprite{ background:url(../images/form-sprite.png) right -100px no-repeat; }
.password_icon_sprite{ background:url(../images/form-sprite.png) right -148px no-repeat; }




.instant-call-container {width: 370px;  background: #fff; background-size: contain; border-radius: 4px; }
.instant-call-container form {text-align:center;}
.instant-call-container form h3 {color: #ffffff; /*background:#39bfe2;*/
                                background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
                                font-size:24px; text-align:center; display:block; padding:15px 10px; margin:0px 0px 25px 0px; }
.instant-call-container p { font-size:16px; text-align:center; margin-bottom:25px; padding:0px; }
.instant-call-container .form-gp { padding:0px 35px; }
.instant-call-container form input {   border: 2px solid hsl(0, 0%, 91%); border-radius: 30px; box-shadow: none!important; color: hsl(0, 0%, 58%); font-size: 16px; height: 40px;   margin-bottom: 28px; padding-right: 45px; outline:0px; }
	
.instant-call-container form button.button {background: hsl(192, 74%, 55%) none repeat scroll 0 0; border: 0 none; border-radius: 30px; color: hsl(0, 0%, 100%); display: block;
    font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 177px; margin:0 auto; }
.instant-call-container a.close {position: absolute;right: 20px;top: 12px;background: url(../images/close.png) no-repeat top left;text-indent: -2500px;width: 28px;height: 28px;opacity: 1;}
.instant-call-container a.close:hover {opacity:1;}
.instant-call-container button:hover { background:#128195; border:1px solid #0a788c; }


.popup, .popup2 , .popup3 {left: 0px; right:0px; margin: 0 auto; position: fixed; top:1%;display: none;z-index: 9999;-webkit-transition: opacity 500ms;-moz-transition: opacity 500ms;-o-transition: opacity 500ms;transition: opacity 500ms;}/*Popup style end*/
.popup .popup-footer, .popup2 .popup-footer, .popup3 .popup-footer { width:100%; float:left; display:block; border-top:1px solid #cecece; position:relative; padding:15px 35px 15px 35px; margin-top:30px; }
.popup .popup-footer a, .popup2 .popup-footer a, .popup3 .popup-footer a { display:inline-block; vertical-align:top; padding-top:7px; }
.popup .popup-footer a.login, .popup2 .popup-footer a.login, .popup3 .popup-footer a.login { font-size:16px; color:#39bfe2; border:2px solid #39bfe2; border-radius:30px; width:117px; height:40px; text-align:center; display:inline-block; float:right; line-height:35px; padding:0px; }
.abtncancel { /*font-size:16px; color:#39bfe2; border:2px solid #39bfe2; border-radius:30px; width:117px; height:40px; text-align:center; display:inline-block; line-height:25px; padding:0px; */
background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */
    
    
    /*background: #4da8dd !important;*/
    text-align: center;
    border-radius:50px; color:#fff; border:none;
    color: #fff !important;
    padding-left: 30px;
    padding-right: 30px;
    margin:5px 15px; 
    line-height: 28px;
    font-size:16px;
}




/*Popup Style2*/

.instant-call-container_new {/*width: 370px;*/ width: 44%;  background: #fff; background-size: contain; border-radius: 4px; }
.instant-call-container_new form {text-align:center;}
.instant-call-container_new form h3 {color: #ffffff;
      /* background:#39bfe2;*/
	background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */                                
                                    
font-size:24px; text-align:center; display:block; padding:15px 40px 15px 10px; margin:0px 0px 25px 0px; }
.instant-call-container_new p { font-size:16px; text-align:center; margin-bottom:25px; padding:0px; }
.instant-call-container_new .form-gp { padding:0px 35px; }
.instant-call-container_new form input { /*border: 2px solid hsl(0, 0%, 91%);*/ /* border-radius: 30px; */ box-shadow: none!important; color: hsl(0, 0%, 58%); font-size: 16px; height: 40px; margin-bottom: 28px; padding-right: 45px; outline:0px; /*width: 48%; margin-right: 2%; float:left; */}
.instant-call-container_new form input[type="file"] {padding-right: 0;width: 100%;}
.instant-call-container_new form input.new {   /*border: 2px solid hsl(0, 0%, 91%);*/ border-radius: 30px; box-shadow: none!important; color: hsl(0, 0%, 58%); font-size: 16px; height: 40px; margin-bottom: 4px; padding-right: 45px; outline:0px; /*width: 48%; margin-right: 2%; float:left; */ }
.instant-call-container_new form .alert_box { width:100%; text-align: center;}
.instant-call-container_new form .form-group{ width: 48%; margin-right: 2%; float:left; min-height: 30px; }
.instant-call-container_new form .form-group_new{ width: 100%;  }

.instant-call-container_new form button.button {background: hsl(192, 74%, 55%) none repeat scroll 0 0; border: 0 none; border-radius: 30px; color: hsl(0, 0%, 100%); display: block; font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 177px; margin:0 auto; }
.instant-call-container_new a.close {position: absolute;right:12px;top: 12px;background: url(../images/close.png) no-repeat top left;text-indent: -2500px;width: 28px;height: 28px;opacity: 1;}
.instant-call-container_new a.close:hover {opacity:1;}
.instant-call-container_new button:hover { background:#128195; border:1px solid #0a788c; }



.margin_auto{ margin:0 auto;}
.instant-call-container form button.button_new {/*background: hsl(192, 74%, 55%) none repeat scroll 0 0;*/ border: 0 none; border-radius: 30px; color: hsl(0, 0%, 100%); display: block;
                                background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
    font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 214px; margin:0 auto; }
div#popupiframe {
    position: relative;
    top: 350px;
}	
.user-dashboard .popup3.instant-call-container .popup_box {
    margin-top: -150px;
}	
	

/*contact us - 19-jan-16*/

header .contact { position:relative; background:#fff; background-attachment:fixed; background-size:cover; height:100px; padding:32px 0px;  }
header .contact .logo { float:left; }
header .contact .logo img { max-width:100%; display:block; }
header .contact .navigation { float:right; }
header .contact .navigation ul.nav { display:inline-block; padding-top:10px; }
header .contact .navigation ul.nav li { font-size:14px; margin-right:32px; display:inline-block; vertical-align:top; line-height:normal; }
header .contact .navigation ul.nav li a { color:#000; text-decoration:none; padding:10px 10px; }


.download_contact {position:relative; min-height:942px; padding-top:7%; 	
background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */}

.download_contact h2 { font-family: 'Playfair Display', serif; font-size:48px; color:#434343; margin:10px 0px 28px 0px; padding:65px 0px 0px 0px; font-weight:700; }
.download_contact p { font-size:22px; color:#696969; line-height:normal; margin:0px;  }
.download_contact .button-app { margin-top:30px; display:block; margin-bottom:30px; }
.download_contact .button-app img { display:inline-block; vertical-align:top; margin-right:28px; max-width:100%; }


.reset_password_form {/*width: 370px;*/ width: 100%;  background: #fff; background-size: contain; padding:20px 10px 30px; }
.reset_password_form form {text-align:center;}
.reset_password_form form h3 {color: #545454; background: url(../images/reset_icon.png) 0px 20px no-repeat #fff; font-weight:normal; font-size:24px; text-align:left; display:block; padding:15px 0px 0 29px; margin:0px 0px 10px 0px; font-weight:300}
.reset_password_form p { font-size:16px; text-align:left; margin-bottom:25px; padding:0px; color:#949494; }
.reset_password_form .form-gp { padding:0px 22px; }
.reset_password_form form input {   border: 2px solid hsl(0, 0%, 91%); border-radius: 30px; box-shadow: none!important; color: hsl(0, 0%, 58%); font-size: 16px; height: 40px; margin-bottom: 28px; padding-right: 45px; outline:0px; width: 100%; margin-right: 2%; float:left; }
	
.reset_password_form form button.button {background: hsl(202, 68%, 58%) none repeat scroll 0 0; border: 0 none; border-radius: 30px; color: hsl(0, 0%, 100%); display: block; font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 200px; margin:0; text-transform:uppercase; float:left; }

.reset_password_form form button.button_new {background: hsl(0, 0%, 100%) none repeat scroll 0 0; border: 0 none; border-radius: 30px; color: hsl(0, 0%, 59%); display: block; font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 150px; margin:0 0 0 10px; text-transform:uppercase; border:2px solid #979797; float:left; }

.reset_password_form a.close {position: absolute;right: 20px;top: 12px;background: url(../images/close.png) no-repeat top left;text-indent: -2500px;width: 28px;height: 28px;opacity: 1;}
.reset_password_form a.close:hover {opacity:1;}
.reset_password_form button:hover { background:#128195; border:1px solid #0a788c; }

.add_sale_img{height:100px;width:100px; background:url(../images/thumbnail.jpg) 0 0 no-repeat; background-size:100px 100px; border: 1px solid #ddd;/*-webkit-border-radius: 50%; -moz-border-radius: 50%;border-radius: 50%;*/ overflow:hidden;}

.form-group_img-selector{ width: 100%; clear: both; display: inline-block;} 
.form-group_img-selector input{margin-bottom: 0px !important; height:auto !important;}


.fl{    float: left;}
.fr{    float: right;}

.lt-address_new{display:inline-block; padding-left:15px;font-size:13px;font-weight:400; background: url(../../images/add.jpg) 0 0 no-repeat;}

/* 2-feb-17*/


.instant-call-container a.close_new {position: absolute;right: 20px;top: 12px;background: url(../images/delete_cross.png) no-repeat top left;text-indent: -2500px;width: 28px;height: 28px;opacity: 1;}
.instant-call-container .icon_top{ margin-top:10%;}
.instant-call-container button.button_cancel{background:#ffffff; border: 0 none; border-radius: 30px; color: #979797 !important; display: block; font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 34%; margin:0 20px 0 0px; text-transform:uppercase; border:2px solid #979797; float:left; border:2px solid #979797; margin-bottom: 10%; margin-left:10%;}
.instant-call-container button.button_delete{background:#e95448; border: 0 none; border-radius: 30px; color:#fff !important; display: block; font-weight: 500; height: 40px; line-height: 30px; text-align: center; width: 34%; margin:0 20px 0 0px; text-transform:uppercase; float:left;  margin-left:0%; margin-bottom: 10%;}
.instant-call-container .title_txt{ font-size:26px;}



input.btn.login {
    
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */ 
    
    
    width: 128px;
    text-align: center;
    color: #fff !important;
}
.main {min-height: 700px !important;margin-bottom:70px;}
/* 13 feb */
.btn.login {
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */
    
    
    /*background: #4da8dd !important;*/
    text-align: center;
    border-radius:50px; color:#fff; border:none;
    color: #fff !important;
    padding-left: 0px;
    padding-right: 0px;
    margin:5px 15px; 
}


/* CSS For Add New Offer Page - Dated  - 10 - feb -2017*/

.add-new-offer-form .control-label {text-transform: inherit;}
.add-new-offer-form input#textinput {border-radius: 15px;}
.add-new-offer-form .add-new-offer-img {text-align: center;}
.add-new-offer-img img { width: 100%;}
.add-new-offer-form .add-new-offer-imgdiv {margin-bottom: 3rem;}
.cross-span {position: absolute;top: -8px;right:8px;}
.checkbox-icon {position: absolute;float: right;top: 30%;left: 40%;}


.placepicker-map {
        width: 100%;
        height: 300px;
}

.another-map-class {
width: 100%;
height: 300px;
}

.pac-container {
border-radius: 5px;
}

/* 6-feb-17 */


.offer-dashboard { margin:18px 15px;padding: 25px 30px; background:#fff;}
.offer-dashboard h1 { color: #0e1a35; font-size: 30px;font-weight: 500; margin: 0; padding: 21px 0;
}


.offer_block .nav-tabs { border-bottom: 2px solid #DDD; }
.offer_block .nav-tabs > li.active > a,.offer_block .nav-tabs > li.active > a:focus,.offer_block .nav-tabs > li.active > a:hover { border-width: 0; }
.offer_block .nav-tabs > li > a {border: none; color: #666; background:#b6b6b6; border: 0px solid #000000;-moz-border-top-left-radius: 5px;-moz-border-top-right-radius: 5px;
-webkit-border-top-left-radius: 5px;-webkit-border-top-right-radius: 5px;border-top-left-radius: 5px;border-top-right-radius: 5px; font-size:18px; color:#fff; width: 230px; text-align:center; text-transform:uppercase;display:block;}
.offer_block .nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none;  background:#4daade; color:#fff; }
.offer_block .nav-tabs > li > a::after { content: ""; /*background: #4285F4;*/ height: 2px; position: absolute; width: 100%; left: 0px;  transition: all 250ms ease 0s; transform: scale(0); }
/*.offer_block .nav-tabs > li.active > a::after,.offer_block .nav-tabs > li:hover > a::after { transform: scale(1); }*/
.offer_block .tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }
.offer_block .tab-pane { padding: 15px 0; }
.offer_block .tab-content{padding:30px; background:#f2f1f1; }

.offer_block .card {/*background: #FFF none repeat scroll 0% 0%; box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3); */margin-bottom: 30px; }
.offer_block .card .nav>li>a{padding:0 /*10px 15px*/; line-height: 50px; cursor: pointer; }


.offer_block .list-table tbody tr:nth-child(2n+1){background:#fff;}
.offer_block .lt-offers{display:block; font-size:12px;font-weight:400;}
.offer_block .list-table td{ font-size:14px;}

input[type="file"] {max-width: 100%;overflow: hidden; }
.abtncancelinner{
    height: 36px;
    margin: 0 0 10px 0;
    /*background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);*/
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 180px;
    border-radius: 50px;
    border: none;
    padding-left: 0px;
    color: #fff !important;

    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */
}

.abtncancelplan{
    height: 36px;
    margin: 0 0 10px 0;
    /*background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);*/
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 180px;
    border-radius: 50px;
    border: none;
    padding-left: 0px;
    color: #fff !important;
    float: right;
    background: -moz-linear-gradient(90deg, red 0%, red 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, red), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, red 0%, red 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg,red 0%, red 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, red 0%, red 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, red 0%, red 100%);/* W3C */
}

/* Fab 08 - 2017 */

.Chroma-Offers-image img {
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: 100%;
}
.Chroma-Offers-paragraph {
    margin: 1.5rem 0 0rem;
    border-bottom: 1px solid #eee;
    padding-bottom: 1.6rem;
}
.Chroma-Offers-paragraph p {
    font-size: 13px;
    color: #5c5c5c;
    font-family: "Lato", sans-serif;
}
.Chroma-Offers-paragraph h3 {
    font-family: "Lato", sans-serif;
    font-weight: 600;
    font-size: 20px;
    color: #5c5c5c;
}
.Chroma-Offers-paragraph li, ul {
    list-style-image: url('../images/offer-li.png') !important;
    margin-left: 7px;
    color:#5c5c5c;
}
.Chroma-Offers-paragraph ul {
    margin-top: -1rem;margin-bottom: 1rem;
}   
.add_btn_new_edit{
    position: relative !important;
    width: 90% !important;
    max-width: 180px !important;
    border-radius: 50px !important;
    background: url(../images/edit_profile.png)13px center no-repeat #4da8dd !important;
}
.add_btn_new_delete{
    position: relative !important;
    width: 90% !important;
    max-width: 180px !important;
    border-radius: 50px !important;
    background: url(../images/delete_offer.png)13px center no-repeat #4da8dd !important; 
}
.add_btn_border_back.pull-right{    
    position: relative !important;
    width: 100%;
    max-width: 180px;
    border-radius: 50px !important;
    /*background: #fff !important ;
    border: 2px solid #49a9e5 !important;
    color: #49a9e5 !important;*/ height:40px !important;

}
.Chroma-Offers-image .carousel-indicators {
      position: absolute;
    bottom: 10px;
     width:74%; text-align:right;
}
.carousel-indicators li {
   border: none;
    background-color: #4bb8cf;
}
.carousel-indicators .active {
    background-color: #fff;
    
}


a.add_btn_new_delete, a.add_btn_new_edit {display: inline-block;padding: 5px 15px 5px 30px;height: 36px;font-size: 14px;color: #fff;font-weight: 700;line-height: 26px;text-transform: uppercase;text-align: center;cursor:pointer;}
a.add_btn_new_delete:hover, a.add_btn_new_edit:hover {color: #fff;text-decoration: none;}

/*.ofr_video_sec{position: relative;}*/

/*.popup3.instant-call-container{position: fixed ; top:0; bottom: 0; left: 0; right: 0;  width: 100%; height: 100%; background-color: rgba(0,0,0,.90);}*/
/*.popup_box{position: relative;width: 100%; height: 100%; }*/
/*.popup3.instant-call-container a.close_new{height: 26px;width: 26px;background-color: rgba(255,255,255,.5);border-radius: 50%;}*/
#popupiframe{position: absolute;top: 50%; left: 50%; width: 560px;-ms-transform: translate(-50%, -50%);-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);}
.info_link{display: inline-block;width: 16px; height: 16px; text-indent: -8000px; overflow: hidden; background:url(../images/i-icon.png) center center no-repeat; background-size: 100% 100%;vertical-align: middle; }

.popup .form-gp .row .col-lg-6.col-md-6.col-sm-12.col-xs-12{margin-bottom: 10px;}

.pop-video{margin: auto; width: 100%;}

.form-signin .checkbox-inline{float: left; margin-top:20px;}
.form-signin .checkbox-inline input{margin-top:-10px;}