/* responsive Document */
.navigate { display: none; }

@media only screen and (min-width:1024px) {
/*header .header .navigation .button.dropdown:hover .dropdown-menu {  display: block; }*/
}

@media only screen and (max-width:992px) {
header .header .navigation ul.nav li { margin-right:5px; }
header .header .navigation ul.nav li a { padding:0px 5px; }
.checkbox-inline .ng-pristine.ng-untouched.ng-valid.ng-empty {width: 20px;float: left;}
.ng-valid.ng-dirty.ng-valid-parse.ng-empty.ng-touched {
    width: 20px;
}
.checkbox-inline .ng-pristine.ng-untouched.ng-valid.ng-not-empty {
    width: 20px;
}
.checkbox-inline .ng-not-empty, .checkbox-inline .ng-empty, .checkbox-inline .ng-touched, .checkbox-inline  	.ng-untouched {width: 20px !important;}
/**.instant-call-container a.close_new {right: -20px;}*/


}

@media only screen and (max-width:1200px) {

.instant-call-container_new{ width:55%;}
.reset_password_form{ width:100%;}

}

@media only screen and (min-width:991px) and (max-width:1250px) { 
 .add_btn_other_profile.btn.login.ng-scope {
    font-size: 10px;
}
}


@media only screen and (min-width:991px) and (max-width:1024px) { 
   
}

@media only screen and (min-width:768px) and (max-width:990px) { 

.app-img{ padding-top: 13%;}

.instant-call-container_new{ width:55%;}
.instant-call-container_new form input {width: 100%; }

.reset_password_form{ width:100%;}
.reset_password_form form input {width: 100%; }

.reset_password_form button.button{width: 100px;}
 .main {min-height: 700px !important;}
 .add_btn_other_profile.btn.login.ng-scope {
    font-size: 10px;
}
}

@media only screen and (max-width:768px) {
.shw_menu{display: none!important;}	
.dropdown.hid_menu{display: inline-block!important;}
.nav.nav_ntlg{float: right;}
header .header .navigation ul.nav.nav_ntlg{padding-top: 5px;}
/*.dropdown.hid_menu.not_logged{display: inline-block!important;position: absolute;right: 20px;top: 98px;}*/
.dropdown.hid_menu.not_logged .dropdown-menu{left: unset;right: 0px; top: 130%;}
.checkbox-inline {margin-top: 5px !important;}


}

@media only screen and (max-width:767px) {
header .header .logo { float:none; display:block; margin-bottom:10px; }
header .header .logo img { margin:0px auto; }
header .header .navigation { float:none; margin:0px auto; text-align:center; }

.download_sec h2 { padding-top:30px; font-size:33px; }

header .header .navigation .button { position:inherit; }

header .header .navigation .button ul.dropdown-menu { min-width:85%; width:85%; left:0px; right:0px; margin:0px auto 0px auto; padding:20px 20px 20px;  }
header .header .navigation .button.dropdown.open a.dropdown-toggle::after { top:inherit; bottom:4px; right:120px; }
.instant-call-container .form-gp { padding:0px 20px; }
.instant-call-container_new .form-gp{ padding:0px 20px; }
.reset_password_form .form-gp{ padding:0px 20px; }

.popup .popup-footer { padding:15px 20px; }
.popup .popup-footer a.login { width:95px; }
footer.footer ul li { margin-right:12px; padding-right:12px; }


.instant-call-container_new{ width:65%;}
.instant-call-container_new form input {width: 100%; }

.reset_password_form{ width:100%;}
.reset_password_form form input {width: 100%; }
 main.main {min-height: 400px;}
.user-dashboard {margin:10px 5px 80px!important; /*padding:10px!important;*/}
.ftr_link a{margin: 0 5px!important;}
.radioBtn-fmt label {margin: 0px 10px !important;display: block;width: 100%;}
.radioBtn-fmt, .radioBtn-fmt label span {text-align: left;}
.list-controls .lc-serch-box #btnSearch {
    width: 100%;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
}




}


@media only screen and (max-width:550px) {
#popupiframe{width: 100%;}
.report-form-class input.btn.login{margin-left: -70px !important;}
#ui-id-2 .btn.login {margin-left: -15px !important;}


}

@media only screen and (min-width:550px) {
.instant-call-container a.close_new {right: 10px;}

}



@media only screen and (min-width:280px) and (max-width:479px){
header .header .navigation ul.nav li a { padding:0px 3px; }
header .header .navigation .button { margin-top:10px; }
header .header .navigation ul.nav.nav_ntlg{padding-top: 15px;}
.download_sec .button-app img { margin-right:5px; }
.download_sec .button-app { margin-bottom:30px; }
.instant-call-container { width:90%; }

header .header .navigation .button.dropdown.open a.dropdown-toggle::after { top:inherit; bottom:4px; right:0px; left:0px; margin:0px auto; }

.instant-call-container_new{ width:85%;}
.reset_password_form{ width:100%;}

.reset_password_form form button.button_new{ margin:0px;}
.pad_bot{ margin-top:10px !important;}

header .contact{ height:90px;}

header .contact .logo{width: 64%;}
header .contact .logo img{max-width: 89%;}
header .contact .navigation ul.nav{ padding-top:0px;}
header .contact .navigation ul.nav li{margin-right: 11px;}

}

@media only screen and (min-height:991px) and (max-height:1024px) { 
  .main {min-height: 952px !important;} 
}

@media only screen and (max-width: 550px){
  .instant-call-container a.close_new {right: 10px !important;}
}
@media only screen and (max-device-width: 767px){  
.list-controls form.ng-pristine.ng-valid input.add_btn {top: 50px;}
.list-controls form.ng-pristine.ng-valid {margin-bottom: 40px;}

}