<div class="header" ng-controller="HeaderController as vm">
<div class="container">
    <div class="logo">
        <a href="#"><img src="images/logo-landing.png" alt="" title=""></a>
    </div>
    <nav class="navigation">
        <ul class="nav nav_ntlg">
            <li class="shw_menu"><a ui-sref="anon.referralPal">Why Referral Max?</a></li>
            <li class="shw_menu"><a ui-sref="anon.pricing">Payment Plans</a></li>
            <li class="shw_menu"><a ui-sref="anon.contact">Contact Us</a></li>
            <li class="dropdown hid_menu not_logged">
                <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="dwnarrow"></span></a>
                <ul class="dropdown-menu user-profile-setting-pop">
                    <li><a ui-sref="anon.referralPal">Why Referral Max?</a></li>
                    <li><a ui-sref="anon.pricing">Payment Plans</a></li>
                    <li><a ui-sref="anon.contact">Contact Us</a></li>
                </ul>
            </li>
        </ul>
        <div class="button dropdown">
            <a href="#" class="dropdown-toggle" ng-click="vm.loginPopup()" id="areatoggle loginDiv" data-toggle="dropdown" >Log In / Sign Up</a>
            <!--<a href="javascript.void(0);" class="dropdown-toggle" ui-sref="login" ng-click="vm.signup()">Log in</a>-->
             <div id="">
                <form accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.loginForm" ng-submit="vm.login(vm.loginForm.$valid)">
                    <ul class="dropdown-menu over" id="loginFormId">
                        <li>
                            <div class="form-group" ng-class="{ 'has-error' : vm.loginForm.email.$invalid && !vm.loginForm.email.$pristine }">
                                <input type="email" name="email" class="form-control new" placeholder="Email" ng-model="vm.user.email" required>
                                <span ng-show="vm.loginForm.email.$invalid && !vm.loginForm.email.$pristine" class="alert_box">Enter valid email.</span>
                            </div>
                        </li>
                        <li>
                            <div class="form-group" ng-class="{ 'has-error' : vm.loginForm.password.$invalid && !vm.loginForm.password.$pristine }">
                                <input type="password" name="password" class="form-control new" placeholder="Password" ng-model="vm.user.password" ng-minlength="8"  ng-maxlength="20" required >
                                <span class="alert_box" ng-show="vm.loginForm.password.$invalid && !vm.loginForm.password.$pristine || vm.loginForm.password.$error.minlength || vm.loginForm.password.$error.maxlength">Must between 8 to 20 characters.</span>
                            </div>
                        <li><a href="#" ng-click="vm.forgotPasswordPopup()">Forgot Password?</a></li>
                        <li>
                            
                            <button type="submit" class="btn login_btn" ng-disabled="vm.loginForm.$invalid">Login</button>
                            <a href="javascript:void(0)" class="newuser" ng-click="vm.signupPopup();">New User?</a>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </nav>
    
    <div class="popup instant-call-container_new">
        <a href="#" class="close" ng-click="vm.close();">CLOSE</a>
        <form ng-submit="vm.register(vm.signup.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.signup">
            <h3 class="heading-3">Sign Up</h3>
            <div class="form-gp">
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.businessName.$invalid && !vm.signup.businessName.$pristine }">
                <input type="text" name="businessName" placeholder="Business Name" class="form-control new" ng-model="vm.newuser.business.name" required>
                <span ng-show="vm.signup.businessName.$invalid && !vm.signup.businessName.$pristine" class="alert_box">Business name is required.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.email.$invalid && !vm.signup.email.$pristine }" >
                <input type="email" name="email" placeholder="Email" class="form-control new email email_icon_sprite" ng-model="vm.newuser.email" required>
                <span ng-show="vm.signup.email.$invalid && !vm.signup.email.$pristine" class="alert_box">Enter valid email.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.name.$invalid && !vm.signup.name.$pristine }" >
                <input type="text" name="name" placeholder="Name" class="form-control new user name_icon_sprite" ng-model="vm.newuser.personalInfo.name" required>
                <span ng-show="vm.signup.name.$invalid && !vm.signup.name.$pristine" class="alert_box">Name is required.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.mobileNo.$invalid && !vm.signup.mobileNo.$pristine }" >
                <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control new phoneno phone_icon_sprite" ng-model="vm.newuser.personalInfo.mobileNo" ng-minlength="10" ng-maxlength="10" required>
                <span ng-show="vm.signup.mobileNo.$invalid && !vm.signup.mobileNo.$pristine || vm.signup.mobileNo.$error.minlength || vm.signup.mobileNo.$error.maxlength" class="alert_box">Required. 10 char. only</span>
            </div>
          
           
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.password.$invalid && !vm.signup.password.$pristine }" >
                <input type="password" name="password" placeholder="Password" class="form-control new password password_icon_sprite" ng-model="vm.newuser.password" ng-minlength="8"  ng-maxlength="20" required >
               <span ng-show="vm.signup.password.$invalid && !vm.signup.password.$pristine || vm.signup.password.$error.minlength || vm.signup.password.$error.maxlength" class="alert_box">Must between 8 to 20 characters.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.confirmpassword.$invalid && !vm.signup.confirmpassword.$pristine }" >
                <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control new password password_icon_sprite" ng-model="vm.newuser.confirmpassword" ng-minlength="8"  ng-maxlength="20" compare-to="vm.newuser.password" required>
               <!--<span ng-show="vm.signup.confirmpassword.$invalid && !vm.signup.confirmpassword.$pristine">Password must be of 8 characters.</span>-->
               <span ng-show="vm.signup.confirmpassword.$error.compareTo" class="alert_box">Must match with password.</span>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error' : vm.signup.address.$invalid && !vm.signup.address.$pristine }" >
                <textarea class="form-control new newuser" name="address" placeholder="Address" ng-model="vm.newuser.address.address" required rows="2"></textarea>
                <!--<input type="text" name="address" placeholder="Address" class="form-control newuser" ng-model="vm.newuser.address" required>-->
               <span ng-show="vm.signup.address.$invalid && !vm.signup.address.$pristine" class="alert_box">Enter address here.</span>
            </div>
            <div class="form-group col-md-6" ng-class="{ 'has-error' : vm.signup.description.$invalid && !vm.signup.description.$pristine }" >
                <textarea class="form-control new newuser" name="description" placeholder="Business Description" ng-model="vm.newuser.business.description" required rows="2"></textarea>
                <!--<input type="text" name="address" placeholder="Address" class="form-control newuser" ng-model="vm.newuser.address" required>-->
               <span ng-show="vm.signup.description.$invalid && !vm.signup.description.$pristine" class="alert_box">Enter description of business.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.position.$invalid && !vm.signup.position.$pristine }">
                <input type="text" name="position" placeholder="Position" class="form-control new newuser"  ng-model="vm.newuser.position" required >
                <span ng-show="vm.signup.position.$invalid && !vm.signup.position.$pristine" class="alert_box">Position is required.</span>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : vm.signup.category.$invalid && !vm.signup.category.$pristine }">
                <select  name="category" class="form-control new newuser" ng-model="vm.newuser.category" required>
                    <option value="">Select category:</option>
                    <option value="Transport">Transport</option>
                    <option value="Vehicle">Vehicle</option>
                    <option value="Finance">Finance</option>
                    <option value="Beauty">Beauty</option>
                </select>
                <span ng-show="vm.signup.category.$invalid && !vm.signup.category.$pristine" class="alert_box">Category is required.</span>
            </div>
            <div class="form-action">
                <input class="btn login" type="submit" value="Sign Up" ng-disabled="vm.signup.$invalid" />
                <!--<button type="submit" class="button">Sign Up</button>-->
            </div>
            </div>
        </form>
        <div class="popup-footer">
            <a href="#">Already Registered?</a>
            <a href="#" class="btn login" ng-click="vm.loginPopup()">LogIn</a>
        </div>
    </div>
    <div class="popup2 instant-call-container">
           <a href="#" ng-click="vm.closeForgot();" class="close">CLOSE</a>
            <form ng-submit="vm.forgotPwd(vm.forgotpwdform.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.forgotpwdform">
               <h3 class="heading-3">Forgot Password</h3>
               <div class="form-gp"> 
               <img src="images/lock-icon.png" class="margin_auto"><br>
                   <p>Enter your email address and we’ll send <br>
                                       you a link to reset your password.</p>
                   <!--<input type="text" name="Email" value="Email" onFocus="if(this.value == this.defaultValue){this.value='';}" onBlur="if (this.value == '') { this.value = 'Email'; }" class="form-control email email_icon_sprite">-->
                <div class="form-group" ng-class="{ 'has-error' : vm.forgotpwdform.email.$invalid && !vm.forgotpwdform.email.$pristine }" >
                    <input type="email" name="email" placeholder="Email" class="form-control email email_icon_sprite" ng-model="vm.forgotpwd.email" required>
                <span ng-show="vm.forgotpwdform.email.$invalid && !vm.forgotpwdform.email.$pristine">Enter valid email.</span>
            </div>
               </div>
               <div class="clearfix"></div>
               <button type="submit" class="button_new" ng-disabled="vm.forgotpwdform.$invalid">SEND EMAIL</button>
            </form>
           <br>
       </div>
</div>
    <div class="overlay" ng-click="vm.hideOverlay();"></div>
</div>
 

    