<section class="home " ng-controller="HeaderController as vm">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="col-md-2 col-sm-1 display-table-cell v-align box" id="navigation"><!-- hidden-xs  -->
                <div class="logo">
                    <div ng-if="rolewise == true">
                        <a ui-sref="anon.dashboard"><img src="images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                            <img src="images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                        </a> 
                    </div>
                    <div ng-if="rolewise == false">
                        <a ui-sref="anon.s_dashboard"><img src="images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm">
                            <img src="images/circle-logo.png" alt="merkery_logo" class="visible-xs visible-sm circle-logo">
                        </a>
                    </div>
                   
                </div>
                <!--<div class="lft_lgn_info">
                        <div class="lli_userimg"><img src="images/user_img1.jpg" alt="user image"></div>
                        <div class="lli_usermane">David Bose</div>
                        <a href="#" class="lli_userlogbtn" title="LogOut">LogOut</a>
                </div>
                <div class="navi">
                    <ul>
                        <li class="active"><a href="#"><i class="lft-mnu lft-mnu-manage_sales_managers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Sales Managers</span></a></li>
                        <li><a href="#"><i class="lft-mnu lft-mnu-manage_profile" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Profile</span></a></li>
                        <li><a href="#"><i class="lft-mnu lft-mnu-payment_plan" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Payment Plan</span></a></li>
                        <li><a href="#"><i class="lft-mnu lft-mnu-manage_referrers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Referrers</span></a></li>
                        <li><a href="#"><i class="lft-mnu lft-mnu-manage_offers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Offers</span></a></li>
                        <li><a href="#"><i class="lft-mnu lft-mnu-manage_store_managers" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Manage Store Managers</span></a></li>
                    </ul>
                </div>-->
            </div>
            <div class="col-md-10 col-sm-11 display-table-cell v-align main_cont">
                <!--<button type="button" class="slide-toggle">Slide Toggle</button> -->
                <div class="row">
                    <header>
                    <div class="header_back">
                   <div class="row ">
                       
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-1">
                            <nav class="navbar-default pull-left">
                                <div class="navbar-header">
<!--                                    <button type="button" class="navbar-toggle collapsed" data-toggle="offcanvas" data-target="#side-menu" aria-expanded="false">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>
                                    <button type="button" class="navbar-toggle collapsed srb_menu_toggle">
                                        <span class="sr-only">Toggle navigation</span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                        <span class="icon-bar"></span>
                                    </button>-->
                                </div>
                            </nav>
                        </div>
                        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-11">
                            <div class="header-rightside">
                                <ul class="list-inline header-top pull-right">
                                    <li class="shw_menu"><a ui-sref="anon.referralPal">Why Referral Max?</a></li>
                                    <li class="shw_menu"><a ui-sref="anon.mngmembership">Payment Plans</a></li>
                                    <li class="shw_menu"><a ui-sref="anon.contact">Contact Us</a></li>
                                    <li class="dropdown hid_menu">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown"><span class="dwnarrow"></span></a>
                                        <ul class="dropdown-menu user-profile-setting-pop">
                                            <li><a ui-sref="anon.referralPal">Why Referral Max?</a></li>
                                            <li><a ui-sref="anon.mngmembership">Payment Plans</a></li>
                                            <li><a ui-sref="anon.contact">Contact Us</a></li>
                                        </ul>
                                    </li>
									<li class="dropdown">
                                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                                            <img ng-src="{{loggeduser.personalInfo.profileImg}}" alt="user">{{loggeduser.personalInfo.name}}
                                            <span class="dwnarrow"></span></a>
                                        <ul class="dropdown-menu user-profile-setting-pop">
                                            <li>
                                                <div class="navbar-content">
                                                    <span>{{loggeduser.personalInfo.name}}</span>
                                                    <p class="text-muted small">
                                                        {{loggeduser.email}}
                                                    </p>
                                                    <div class="divider">
                                                    </div>
                                                    <a ui-sref="anon.mngprofile" class="view btn-sm active">View Profile</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                   </div>
                       
                    </div>
                        </header>    
                </div>
				
		<!--<div class="row">
                    <footer>
                        <div class="col-md-6">
							<div class="ftr_link">
								<a href="">Terms & conditions</a> | <a href="">Privacy policy</a>
							</div>
                        </div>
						<div class="clearfix"></div>
                    </footer>
                </div>-->
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div id="add_project" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header login-header">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <h4 class="modal-title">Add Project</h4>
                </div>
                <div class="modal-body">
					<input type="text" placeholder="Project Title" name="name">
					<input type="text" placeholder="Post of Post" name="mail">
					<input type="text" placeholder="Author" name="passsword">
					<textarea placeholder="Desicrption"></textarea>
				</div>
                <div class="modal-footer">
                    <button type="button" class="cancel" data-dismiss="modal">Close</button>
                    <button type="button" class="add-project" data-dismiss="modal">Save</button>
                </div>
            </div>
        </div>
    </div>
</section>