<!--<section class="row">
<h3 class="col-md-12 text-center">Reset your password</h3>
<div class="panel panel-default col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 panel-radius">
        <div class="panel-body">
                
        </div>
</div>
</section>-->

<section class="download_contact">
    <div class="container">
        <div class="row">

            <div class="col-lg-6  col-md-6 col-sm-8 col-xs-12 col-lg-offset-3 col-md-offset-3 col-sm-offset-2">

                <div class="reset_password_form">

                    <form name="resetPwd" ng-submit="vm.resetUserPassword(resetPwd.$valid)" class="signin form-horizontal" novalidate autocomplete="off">

                        <div class="form-gp">
                            <h3>Reset Password</h3>
                            <p>Change your password or recover your current one.</p>

                            <div class="form-group" ng-class="{ 'has-error' : resetPwd.newpassword.$invalid && !resetPwd.newpassword.$pristine }" >
                                <input type="password" name="newpassword" placeholder="Password" class="form-control password password_icon_sprite" ng-model="vm.resetuser.newPassword1" ng-minlength="8"  ng-maxlength="20" required >
                                <span ng-show="resetPwd.newpassword.$invalid && !resetPwd.newpassword.$pristine || resetPwd.newpassword.$error.minlength || resetPwd.newpassword.$error.maxlength">Must between 8 to 20 characters.</span>
                            </div>
                            <div class="form-group" ng-class="{ 'has-error' : resetPwd.confirmpassword.$invalid && !resetPwd.confirmpassword.$pristine }" >
                                <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control password password_icon_sprite" ng-model="vm.resetuser.confirmpassword" ng-minlength="8"  ng-maxlength="20" compare-to="vm.resetuser.newPassword1" required>
                                <span ng-show="resetPwd.confirmpassword.$error.compareTo">Must match with password.</span>
                            </div>
                            <button type="submit" class="button" ng-disabled="resetPwd.$invalid">change password</button> 
                            <button type="submit" class="button_new pad_bot" ui-sref="anon.home">cancel</button>

                            <div class="clearfix"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>


