<!--NUMER COUNTER START -->

<section>
    <div class="user-dashboard">
    
    <div class="row">
    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 col-lg-offset-0">
        <div style="text-align: center; font-size: 26px;">
        	Your account has been verified. Please login
    	</div>
        
    </div>
    
</div>   
        </div>
</section>