<section>
    <div class="user-dashboard">
    
    <div class="row">
    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 col-lg-offset-0">
        <h1>Contact Us</h1>
        <div>
         <form ng-submit="vm.contactEmail(vm.contactForm.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.contactForm">    
	         <div class="col-sm-12">
	                  <div class="row">
	              		 <div class="col-sm-12">
		                    <div class="form-group add-new-offer-form">
		                      <label class="control-label" for="textinput">Name</label>  
		                      
		                     <input type="text" name="name" placeholder="Name" class="form-control input-md profile_field" ng-model="vm.contact.name" required>
		                      <span ng-show="vm.contactForm.name.$invalid && !vm.contactForm.name.$pristine" class="alert_box">Name is required.</span>
		                      
		                    </div>
	                  	</div>

	                  	<div class="col-sm-12">
		                    <div class="form-group add-new-offer-form">
		                      <label class="control-label" for="textinput">Email</label>  
		                      
		                     <input type="email" name="email" placeholder="Email Address" class="form-control input-md profile_field" ng-model="vm.contact.email" required>
		                      <span ng-show="vm.contactForm.email.$invalid && !vm.contactForm.email.$pristine" class="alert_box">Email address is required.</span>
		                      
		                    </div>
	                  	</div>

	                  	<div class="col-sm-12">
		                    <div class="form-group add-new-offer-form">
		                      <label class="control-label" for="textinput">Subject</label>  
		                      
		                     <input type="text" name="subject" placeholder="Subject" class="form-control input-md profile_field" ng-model="vm.contact.subject" required>
		                      <span ng-show="vm.contactForm.subject.$invalid && !vm.contactForm.subject.$pristine" class="alert_box">Subject is required.</span>
		                      
		                    </div>
	                  	</div>

	                  	<div class="col-sm-12">
		                    <div class="form-group add-new-offer-form">
		                      <label class="control-label" for="textinput">Message</label>  
		                      
		                     <textarea rows="4" name="message" placeholder="Your message ..." class="form-control input-md profile_field" ng-model="vm.contact.message" required></textarea>
		                      <span ng-show="vm.contactForm.message.$invalid && !vm.contactForm.message.$pristine" class="alert_box">Message is required.</span>
		                      
		                    </div>
	                  	</div>

	                  </div>
	        	</div>
	        	<div class="list-controls footer">
    
			            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
			                <input value="Send" class="add_btn" type="submit" ng-disabled="vm.contactForm.$invalid">
			            </div>
			    </div>
        	</form>
    </div>
        
    </div>
    
</div>   
        </div>
</section>
