<section class="download_sec">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12 app-img">
                <img src="images/mobile-pic.png" alt="" title="" class="img-responsive">
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <h2>Download App...</h2>
                <p>l’expérience Nespresso est désormais disponible en Mug. tttpetit-déjeuner comme à tout moment de la journée.</p>
                <div class="button-app">
                    <a href="#"><img src="images/download-app-img.png" alt="" title=""></a>
                    <a href="#"><img src="images/google-play-img.png" alt="" title=""></a>
                </div>
            </div>
        </div>
    </div>
</section>