<section>
    <div class="user-dashboard">
        <div class="row">
            <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 list-controls">
                <div class="list-controls">
                    <div class="row">
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                            <h1>Select Membership Plan</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                        <div class="container radioBtn-fmt">
                            <label class="radio-inline">
                              <input type="radio" checked="checked" id="monthly_radio" name="radioPlan" ng-click="vm.selectPlanType('monthly')"><span>Monthly Price</span>
                            </label>
                            <label class="radio-inline">
                              <input type="radio" id="yearly_radio" name="radioPlan" ng-click="vm.selectPlanType('yearly')"><span>Annual Price</span>
                            </label>
                        </div>

                    <div class="row" id="monthly_plan_div">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " ng-repeat="membershipPlan in vm.ShowMemeberShipPlan">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="icon_back silver_back"></div>
                                        <h3 class="panel-title">{{membershipPlan.plan_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="the-price">
                                            <h1>${{membershipPlan.amount}}/m</h1>
                                        </div>
                                        <table class="table">
                                             <tr>
                                                <td ng-if="membershipPlan.offers_limit == 0">Unlimited Offers Per Year</td>
                                                <td ng-if="membershipPlan.offers_limit != 0">{{membershipPlan.offers_limit}} Offers Per Year</td>
                                            </tr>
                                            <tr class="active">
                                                <td ng-if="membershipPlan.sowner_limit == 0">Unlimited Sales Account</td>
                                                <td ng-if="membershipPlan.sowner_limit != 0">{{membershipPlan.sowner_limit}} Sales Account</td>
                                            </tr>
                                            <tr>
                                                <td ng-if="membershipPlan.refferer_limit == 0">Unlimited Referrers</td>
                                                <td ng-if="membershipPlan.refferer_limit != 0">Max {{membershipPlan.refferer_limit}} Referrers</td>
                                            </tr>
                                            <tr class="active">
                                                <td>{{membershipPlan.history}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details">
                                                <td>{{membershipPlan.other_details}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details_2">
                                                <td>{{membershipPlan.other_details_2}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a class="panel-footer" ng-click="vm.openPaymentPop(membershipPlan._id,membershipPlan.plan_name,membershipPlan.duration,membershipPlan.amount)">Select Plan</a>
                                </div>
                            </div>

                    </div>

<!------------------------------------Yearly Plan Div ------------------------------------------>
                    <div class="row" id="yearly_plan_div" style="display:none;">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " ng-repeat="membershipPlan in vm.ShowMemeberShipPlan">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="icon_back silver_back"></div>
                                        <h3 class="panel-title">{{membershipPlan.plan_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="the-price">
                                            <h1>${{membershipPlan.amount}}/m</h1>
                                        </div>
                                        <table class="table">
                                            <tr>
                                                <td ng-if="membershipPlan.offers_limit == 0">Unlimited Offers Per Year</td>
                                                <td ng-if="membershipPlan.offers_limit != 0">{{membershipPlan.offers_limit}} Offers Per Year</td>
                                            </tr>
                                            <tr class="active">
                                                <td ng-if="membershipPlan.sowner_limit == 0">Unlimited Sales Account</td>
                                                <td ng-if="membershipPlan.sowner_limit != 0">{{membershipPlan.sowner_limit}} Sales Account</td>
                                            </tr>
                                            <tr>
                                                <td ng-if="membershipPlan.refferer_limit == 0">Unlimited Referrers</td>
                                                <td ng-if="membershipPlan.refferer_limit != 0">Max {{membershipPlan.refferer_limit}} Referrers</td>
                                            </tr>
                                            <tr class="active">
                                                <td>{{membershipPlan.history}}</td>
                                            </tr>
                                             <tr class="active" ng-if="membershipPlan.other_details">
                                                <td>{{membershipPlan.other_details}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details_2">
                                                <td>{{membershipPlan.other_details_2}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a class="panel-footer" ng-click="vm.openPaymentPop(membershipPlan._id,membershipPlan.plan_name,membershipPlan.duration,membershipPlan.amount)">Select Plan</a>
                                </div>
                            </div>
                    </div>

               </div>
            </div>
        </div>
    </div>
</section>

<!-------------------------------- ---------------------------->
<div class="popup instant-call-container_new" id="payment-popup">
        <a class="close" ng-click="vm.closePaymentPop();">CLOSE</a>
        <form ng-submit="vm.addPayment(vm.payment.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.payment">
            <h3 class="heading-3">Add Payment Details</h3>
            <div class="form-gp">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.payment.$invalid && !vm.payment.$pristine }" >
                    <input type="number" name="Card Number" placeholder="Card Number" class="form-control new newuser" ng-model="vm.card.card_number" required>
                   <span ng-show="vm.payment.card_number.$invalid && !vm.payment.card_number.$pristine" class="alert_box">Enter valid card number.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.payment.$invalid && !vm.payment.$pristine }" >
                    <input type="number" name="month" placeholder="Month" class="form-control new user " ng-model="vm.card.month" required>
                    <span ng-show="vm.payment.month.$invalid && !vm.payment.month.$pristine" class="alert_box">Month required.</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.payment.$invalid && !vm.payment.$pristine }" >
                    <input type="number" name="year" placeholder="Year" class="form-control new email " ng-model="vm.card.year" required>
                    <span ng-show="vm.payment.year.$invalid && !vm.payment.year.$pristine" class="alert_box">Enter a year.</span>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.payment.$invalid && !vm.payment.$pristine }" >
                    <input type="number" name="cvc" placeholder="cvc" class="form-control new email " ng-model="vm.card.cvc" required>
                    <span ng-show="vm.payment.cvc.$invalid && !vm.payment.cvc.$pristine" class="alert_box">Enter cvc.</span>
                </div>
            </div>
            <div class="popup-footer form-action">
                
            <img src="images/ajax-loader.gif" id="loader_img" style="display:none; padding-left: 42%;">
            <div id="submit_div">
                <a class="btn btn-default abtncancel" ng-click="vm.close();" >Cancel</a>
                <input class="btn login" type="submit" value="Save" ng-disabled="vm.payment.$invalid" />
            </div>    

            </div>
            </div>
        </form>
</div>

