<section>
    <div class="user-dashboard">
    
    <div class="row">
    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 col-lg-offset-0">
        <h1>{{vm.pageData.title}}</h1>
        <div>
        <p ng-bind-html="myHTML"></p>
    </div>
        
    </div>
    
</div>   
        </div>
</section>
