<div class="">
                    
                <div class="container">
                    <div class="add-new-offer-hedear">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                     <h3>Not a Member Yet? Sign Up Now !</h3>
                                     <!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
                                </div>
                            
                                <div class="clearfix"></div>
                            </div>
                    

                    <div class="col-sm-8">
                        <form ng-submit="vm.register(vm.signup.$valid)" accept-charset="UTF-8" role="form" id="registerForm" class="form-signin" novalidate name="vm.signup">  
                           <div class="list-controls">
                            
                             <div class="profile_form">
                             <div class="row">
                                <div class="col-sm-6 left-signup-fields">
                                    <div class="form-group add-new-offer-form"  ng-class="{ 'has-error' : vm.signup.businessName.$invalid && !vm.signup.businessName.$pristine }">
                                        <input type="text" name="businessName" placeholder="Business Name" class="form-control new" ng-model="vm.newuser.business.name" required>
                                        <span ng-show="vm.signup.businessName.$invalid && !vm.signup.businessName.$pristine" class="alert_box">Business name is required.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.mobileNo.$invalid && !vm.signup.mobileNo.$pristine }">
                                       <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control new phoneno phone_icon_sprite" ng-model="vm.newuser.personalInfo.mobileNo" ng-minlength="10" autocomplete="off" ng-maxlength="10" required>
                                       <span ng-show="vm.signup.mobileNo.$invalid && !vm.signup.mobileNo.$pristine || vm.signup.mobileNo.$error.minlength || vm.signup.mobileNo.$error.maxlength" class="alert_box">Required. 10 char. only</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.position.$invalid && !vm.signup.position.$pristine }">
                                      <input type="text" name="position" placeholder="Position" class="form-control new newuser"  ng-model="vm.newuser.position" required >
                                      <span ng-show="vm.signup.position.$invalid && !vm.signup.position.$pristine" class="alert_box">Position is required.</span>
                                    </div>

                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.category.$invalid && !vm.signup.category.$pristine }">
                                         <select name="category" class="signup-new-cat selectpicker" ng-model="vm.newuser.business.category" required ng-options="category._id as category.category for category in vm.categories">
                                            <option value="">Select category:</option>
                                            
                                        </select>
                                        <span ng-show="vm.signup.category.$invalid && !vm.signup.category.$pristine" class="alert_box">Category is required.</span>
                                    </div>

                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.address.$invalid && !vm.signup.address.$pristine }">
                                         <textarea class="form-control input-md profile_field" name="address" placeholder="Address" ng-model="vm.newuser.address.address" required rows="2"></textarea>
                                         <span ng-show="vm.signup.address.$invalid && !vm.signup.address.$pristine" class="alert_box">Enter address here.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.city.$invalid && !vm.signup.city.$pristine }">
                                        <input name="city" placeholder="City" class="form-control input-md profile_field" type="text" ng-model="vm.newuser.address.city" required>
                                         <span ng-show="vm.signup.city.$invalid && !vm.signup.city.$pristine" class="alert_box">City is required.</span>
                                    </div>
                                     
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.country.$invalid && !vm.signup.country.$pristine }">
                                         <input name="country" placeholder="Country" class="form-control input-md profile_field" type="text" ng-model="vm.newuser.address.country" required>
                                         <span ng-show="vm.signup.country.$invalid && !vm.signup.country.$pristine" class="alert_box">Country is required.</span>
                                    </div>
                                    
                                   
                                </div>
                                <div class="col-sm-6 right-signup-fields">
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.name.$invalid && !vm.signup.name.$pristine }">
                                          <input type="text" name="name" placeholder="Name" class="form-control new user name_icon_sprite" ng-model="vm.newuser.personalInfo.name" required>
                                         <span ng-show="vm.signup.name.$invalid && !vm.signup.name.$pristine" class="alert_box">Name is required.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.email.$invalid && !vm.signup.email.$pristine }">
                                       <input type="email" name="email" placeholder="Email" class="form-control new email email_icon_sprite" ng-model="vm.newuser.email" required>
                                         <span ng-show="vm.signup.email.$invalid && !vm.signup.email.$pristine" class="alert_box">Enter a valid email address.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.password.$invalid && !vm.signup.password.$pristine }">
                                         <input type="password" name="password" placeholder="Password" class="form-control new password password_icon_sprite" ng-model="vm.newuser.password" ng-minlength="8"  ng-maxlength="20" required >
                                         <span ng-show="vm.signup.password.$invalid && !vm.signup.password.$pristine || vm.signup.password.$error.minlength || vm.signup.password.$error.maxlength" class="alert_box">Must between 8 to 20 characters.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.confirmpassword.$invalid && !vm.signup.confirmpassword.$pristine }" >
                                          <input type="password" name="confirmpassword" placeholder="Confirm Password" class="form-control new password password_icon_sprite" ng-model="vm.newuser.confirmpassword" ng-minlength="8"  ng-maxlength="20" compare-to="vm.newuser.password" required>
                                          <span ng-show="vm.signup.confirmpassword.$error.compareTo" class="alert_box">Must match with password.</span>
                                    </div>
                                    
                                    <div class="form-group add-new-offer-form"  ng-class="{ 'has-error' : vm.signup.description.$invalid && !vm.signup.description.$pristine }">
                                        <textarea class="form-control new newuser" name="description" placeholder="Business Description" ng-model="vm.newuser.business.description" required rows="2"></textarea>
                                        <span ng-show="vm.signup.description.$invalid && !vm.signup.description.$pristine" class="alert_box">Enter description of business.</span>
                                    </div>

                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.state.$invalid && !vm.signup.state.$pristine }">
                                        <input name="state" placeholder="State/ Province" class="form-control input-md profile_field" type="text" ng-model="vm.newuser.address.state" required>
                                         <span ng-show="vm.signup.state.$invalid && !vm.signup.state.$pristine" class="alert_box">Province/ State is required.</span>
                                    </div>

                                    <div class="form-group add-new-offer-form" ng-class="{ 'has-error' : vm.signup.zipcode.$invalid && !vm.signup.zipcode.$pristine }">
                                        <input name="zipcode" placeholder="Zip/ Postal Code" class="form-control input-md profile_field" type="text" ng-model="vm.newuser.address.zipcode" required>
                                         <span ng-show="vm.signup.zipcode.$invalid && !vm.signup.zipcode.$pristine" class="alert_box">Zip/ Postal is required.</span>
                                    </div>
                                    
                                    
                                </div>
</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="list-controls footer">
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 pull-left txt_left">
                                    <input value="RESET" data-ng-click="vm.clearAll()" id="resetbutton" class="add_btn_border" type="button">
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-6 pull-left txt_left">
                                    <input class="btn login" type="submit" value="Sign Up" ng-disabled="vm.signup.$invalid" />
                                </div>   
                            </div>  
                       </form>   
                    </div>
                  
                    <div class="col-sm-4 user-login-box">
                        <form accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.loginForm" ng-submit="vm.login(vm.loginForm.$valid)">
                            <div class="user-login-box-content">    
                                    <h4>Already Have an Account?</h4>
                                    <div class="form-group add-new-offer-form inner-addon right-addon user-login-icons" ng-class="{ 'has-error' : vm.loginForm.email.$invalid && !vm.loginForm.email.$pristine }">
                                     <i class="glyphicon glyphicon-lock"></i>
                                        <input id="textinput" name="email" placeholder="Email" ng-model="vm.user.email" required placeholder="Email" class="form-control input-md profile_field" type="email">
                                        <span ng-show="vm.loginForm.email.$invalid && !vm.loginForm.email.$pristine" class="alert_box">Enter valid email id.</span>
                                    </div>
                                    <div class="form-group add-new-offer-form inner-addon right-addon user-login-icons" ng-class="{ 'has-error' : vm.loginForm.password.$invalid && !vm.loginForm.password.$pristine }">
                                         <i class="glyphicon glyphicon-lock"></i>
                                        <input id="textinput" name="password" placeholder="Password" class="form-control input-md profile_field" type="password" placeholder="Password" ng-model="vm.user.password" ng-minlength="8"  ng-maxlength="20" required>
                                        <span ng-show="vm.loginForm.password.$invalid && !vm.loginForm.password.$pristine || vm.loginForm.password.$error.minlength || vm.loginForm.password.$error.maxlength">Must between 8 to 20 characters.</span>
                                    </div>

                                    
                                    <div class="text-center">
                                        <input value="LOGIN" class="user_login_btn" type="submit" ng-disabled="vm.loginForm.$invalid">
                                    </div>
                            </div>
                        </form>    
                    </div>
      
    </div>
</div>

<script>
/*$('#resetbutton').click(function(){
            $('#registerForm')[0].reset();
 }); */
</script>