<section class="banner"> 
    <nav class="navbar navbar-default nav-sub">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar2" aria-expanded="false" aria-controls="navbar">		
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
    </nav>
    <div id="myCarousel" class="carousel slide slidebannr inerbanner tutorbanner" data-ride="carousel">
        <!-- Wrapper for slides -->
        <div class="carousel-inner teach-bx" role="listbox">
            <div class="item active" style="background-image:url(img/whyteach.jpg); background-position:left center;">
                <div class="container">
                    <div class="carousel-caption crasl-iner-ct">
                        <h3>Teach  <i>with ease</i> </h3>
                        <p>Gain unlimited access to lesson guides,
                            lesson plans, progress reports. Better 
                            your teaching with Learn Anything’s wide 
                            selection of effective teaching tools.</p>
                    </div>
                </div>
            </div>
            <div class="item " style="background:url(img/whyteach.jpg)">
                <div class="carousel-caption crasl-iner-ct">
                    <h3>Teach  <i>with ease</i> </h3>
                    <p>Gain unlimited access to lesson guides,
                        lesson plans, progress reports. Better 
                        your teaching with Learn Anything’s wide 
                        selection of effective teaching tools.</p>
                </div>
            </div>
        </div>
    </div>

</section>