/*!
 * Start Bootstrap - SB Admin (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

/* Global Styles */

body {
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 50px;
    }
}


.navbar-inverse .navbar-collapse {
min-height: 70px !important;
 /*position:relative;*/background-attachment:fixed; background-size:cover;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7db9e8+5,1e5799+99 */
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top, #7db9e8 5%, #1e5799 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7db9e8 5%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7db9e8 5%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
/*padding:32px 0px;*/
}
.navbar-inverse{background-color: transparent; border: 0 none;}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 25px;
    padding-bottom: 25px;
    line-height: 20px;
    color: #222;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 250px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0,0,0,.15);
}

li.message-preview>a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {
.side-nav {
    position: fixed;
    top: 70px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    /*background-color: #222;*/
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
    background: #7db9e8; /* Old browsers */
    background: -moz-linear-gradient(top, #7db9e8 5%, #1e5799 99%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #7db9e8 5%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #7db9e8 5%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */
}

.side-nav li{
    margin-bottom: -1px; 
    border: 1px solid rgba(255,255,255,.08);
    border-width: 1px 0;
}
.side-nav>li>a {
    width: 225px;
    font-size: 13px;
    font-weight: 400;
}
    
.navbar-inverse .navbar-nav>.active>a, 
.navbar-inverse .navbar-nav>.active>a:focus, 
.navbar-inverse .navbar-nav>.active>a:hover,
.side-nav li a:hover,
.side-nav li a:focus {
        outline: none;
        background: rgba(255,255,255,.15)!important;
    }
}

.side-nav>li>ul {
    padding: 0;
}

.side-nav>li>ul>li>a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
}
.navbar-inverse .navbar-nav>li>a{
    padding-left: 35px;
    color: #fff;
}
.navbar-inverse .navbar-nav>li>a i{
    margin-left: -20px;
    margin-right: 5px;
}
.side-nav>li>ul>li>a:hover {
    color: #222;
}

/* Flot Chart Containers */

.flot-chart {
    display: block;
    height: 400px;
}

.flot-chart-content {
    width: 100%;
    height: 100%;
}

/* Custom Colored Panels */

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}


/* New classes by ShyamRaj [26-4-2017] */
.list-controls {
    margin-bottom: 15px;
    padding: 10px 0;
}
.list-controls input[type="text"] {
    width: 100%;
    height: 36px !important;
    margin: 0;
    padding: 0 10px;
    padding-left: 36px;
    font-size: 13px;
    color: #949494;
    font-weight: 600;
    background: #fff url(../../images/icon_search.png) 15px center no-repeat;
    border: 1px solid #e1e1e1;
    border-radius: 50px;
}

.list-controls input[type="button"] {
    position: absolute;
    right: 0;
    top: 0;
    width: 120px;
    height: 36px;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    /* background: #4da8dd; */
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0');
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);
    border: 0 none;
    border-radius: 0px 50px 50px 0px;
}

.view_prof_detail img.profile_pic {
    margin: 45px 0 0 15px;
}

.break_long_word{
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

















