<div class="user-dashboard">
  <form ng-submit="vm.addOffer(vm.offerForm.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.offerForm">                    
    <div class="row">
    
        <div class="col-sm-12">
        <div class="list-controls">
            
            <div class="row add-new-offer-hedear">
                <div class="col-md-12 col-sm-12 col-xs-12">
                     <h3>Add New Offer</h3>
                </div>
            
                <div class="clearfix"></div>
            </div>
            <div class="row profile_form">
                <div class="col-sm-12">
                  <div class="row">
                <div class="col-sm-6">
                    <div class="form-group add-new-offer-form">
                      <label class="control-label" for="textinput">Offer Title</label>  
                      
                     <input type="text" name="offerName" placeholder="Offer Title" class="form-control input-md profile_field" ng-model="vm.offer.offerName" required>
                      <span ng-show="vm.offerForm.offerName.$invalid && !vm.offerForm.offerName.$pristine" class="alert_box">Offer title is required.</span>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group add-new-offer-form">
                      <label class="control-label" for="textinput">Offer Main Image</label>  
                      <input type="file" ng-model="vm.offer_image" name="offer_image" image-uploader accept="image/*">
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-sm-12">
                  <div class="row">
                  <div class="col-sm-6">
                     <div class="form-group add-new-offer-form date-sec">
                      <label class="control-label" for="textinput">Offer Start Date</label>  
                      
                      <input  name="startDate" type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.offer.startDate" is-open="vm.popup1.opened" ng-model-options="{timezone:'UTC'}" datepicker-options="vm.dateOptions" close-text="Close" alt-input-formats="altInputFormats" required />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>
                      <span ng-show="vm.offerForm.startDate.$invalid && !vm.offerForm.startDate.$pristine" class="alert_box">Offer start date is required.</span>
                      
                    </div>
                  </div>
                  <div class="col-sm-6">
                     
                    <div class="form-group add-new-offer-form date-sec">
                      <label class="control-label" for="textinput">Offer End Date</label>  
                      
                      <input type="text" name="endDate" class="form-control" ng-model-options="{timezone:'UTC'}" uib-datepicker-popup="{{vm.format}}" ng-model="vm.offer.endDate" min="vm.offer.startDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                      </span>

                      <span ng-show="vm.offerForm.endDate.$invalid && !vm.offerForm.endDate.$pristine" class="alert_box">Offer end date is required.</span>
                      
                    </div>
                  </div>
                  </div>
                  </div>
                  <div class="col-sm-12">

                    <div class="form-group add-new-offer-form">
                      <label class="control-label" for="textinput">Offer Description / Stipulations etc.</label>  
                      
                      <textarea rows="4" name="description" placeholder="Offer Description/Stipulations etc." class="form-control input-md profile_field" ng-model="vm.offer.description" required></textarea>  
                      <span ng-show="vm.offerForm.description.$invalid && !vm.offerForm.description.$pristine" class="alert_box">Offer description/stipulations is required.</span>
                      
                      
                    </div>
                  </div>
                  <div class="col-sm-12">
                  <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group add-new-offer-form">
                       <label class="control-label" for="textinput">Add Store Location</label>  

                        <input type="text" name="storeLocator" ng-model="vm.offer.storeLocator" class="placepicker form-control input-md profile_field" data-map-container-id="collapseOne" />
                        <div id="collapseOne" class="collapse">
                         <div class="placepicker-map thumbnail"></div>
                       </div>
                     </div> 
                  </div>
                  <div class="col-sm-6">

                    <div class="form-group" add-new-offer-form">
                        <label class="control-label" for="textinput">Visibility:</label>  
                            <div class="material-switch pad_top">
                                <input id="someSwitchOptionSuccess" name="someSwitchOption001" type="checkbox" ng-model="vm.offer.publishStatus"/>
                                <label for="someSwitchOptionSuccess" class="label-success"></label>
                                <span  class="desc-txt"> Make your offers visible to everyone not just those you have granted referral status to </span>
                            </div>
                    </div>

                </div>
                </div>
                </div>

                <div class="col-sm-12">
                  <div class="row">

                  
                    <div class="col-sm-6">
                      <div class="form-group add-new-offer-form">
                         <label class="control-label" for="textinput">Add Buyers Discount Description</label>
                        <textarea rows="4" name="discount_description" placeholder="$200 off a car, buy one get one free, three extra months of warranty, etc" class="form-control input-md profile_field" ng-model="vm.offer.discount_description" required></textarea>
                        <span ng-show="vm.offerForm.discount_description.$invalid && !vm.offerForm.discount_description.$pristine" class="alert_box">Add buyers discount description.</span>

                      </div>
                    </div>
                    <div class="col-sm-6">

                        <div class="form-group add-new-offer-form">
                           <label class="control-label" for="textinput">Add Referral Renumeration Description</label>
                          <textarea rows="4" name="remuneration_description" placeholder="$25 cash, 2500 service points, a free shirt with our logo etc." class="form-control input-md profile_field" ng-model="vm.offer.remuneration_description" required></textarea>
                          <span ng-show="vm.offerForm.remuneration_description.$invalid && !vm.offerForm.remuneration_description.$pristine" class="alert_box">Add referral renumeration description.</span>

                        </div>

                    </div>
                  </div>
                  </div>


                <div class="col-sm-12">
                  <div class="row">
                  <div class="col-sm-6">                   
                    <div class="form-group add-new-offer-form">
                      <label class="control-label" for="textinput">Add Buyers Discount Dollar Value <a class="info_link" href="javascript:void(0);" data-toggle="tooltip" title="This is the buyers discount">Information</a></label>
                      <input type="number" name="discount" placeholder="Dollar value offered to friends, family & associates" class="form-control input-md profile_field" ng-model="vm.offer.discount" required>
                      <span ng-show="vm.offerForm.discount.$invalid && !vm.offerForm.discount.$pristine" class="alert_box">The dollar value of the referral offer. Mandatory field, only enter numbers.</span>
                    </div>
                  </div>  

                  <div class="col-sm-6">
                     <div class="form-group add-new-offer-form">
                      
                      <label class="control-label" for="textinput">Add Referrers Renumeration Dollar Value</label>  
                     
                      <input type="number" name="remuneration" placeholder="Dollar value referrers receive for successful referrals" class="form-control input-md profile_field" ng-model="vm.offer.remuneration" required>
                      <span ng-show="vm.offerForm.remuneration.$invalid && !vm.offerForm.remuneration.$pristine" class="alert_box">Value of the referrers renumeration. Mandatory field, only enter numbers.</span>

                      
                      </div>
                  </div>
                  
                  </div>
                  </div>
                  
                  
                  

            </div>
            <div class="row add-new-offer-imgdiv">
        
                <div class="col-sm-6 addrem-sec"> 
                    <div class="col-md-12"><h4>Add Extra Offer Images</h4></div>
                    <fieldset  data-ng-repeat="image in vm.images">
                      <input type="file" ng-model="vm.file" name="file" id="file-upld_ctrl" file-uploader accept="image/*">
                      <button class="remove btn btn-info" ng-show="$last" ng-click="vm.removeImage()">-</button>
                   </fieldset>
                   <a class="addfields btn btn-info" ng-click="vm.addNewImage()">Add Image</a>
                </div>
                <div class="col-sm-6 addrem-sec"> 
                <div class="col-md-12"><h4>Add Offer Video</h4></div>
                    <fieldset  data-ng-repeat="video in vm.videos">
                      <input type="text" ng-model="vm.videoname[$index]" name="" placeholder="Enter youtube url" ng-blur="vm.videoLoad(vm.videoname[$index])">
                      <!--<button class="remove btn btn-info" ng-show="$last" ng-click="vm.removeVideo()">-</button>-->
                   </fieldset>
                   <!--<a class="addfields btn btn-info" ng-click="vm.addNewVideo()">Add Video</a>-->
                </div>
            </div>
            
            
        </div>
        
        
        </div>
    
        <div class="list-controls footer">
    
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                <input value="Save" class="add_btn" type="submit" ng-disabled="vm.offerForm.$invalid">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                <input value="<  Cancel" class="add_btn_border" type="button" ui-sref="anon.offers">
            </div>
    
        </div>
        
    </div>
 </form>   
</div>
