<div class="offer-dashboard">
    <div class="row">
    <div class="offer_block">
        <!-- Nav tabs --><div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="vm.listCurrentOffers();">Current Offers</a></li>
            <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="vm.listPastOffers();">Past Offers</a></li>

        </ul>
        <!--    FIRST TAB      -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">


            	<!--<label for="UpldfileCont" class="upld-file-lbl"> 

            	<input type="file" id="UpldfileCont" file-reader="fileContent" />
            	</label>-->

				<div class="list-controls">
				<form name="abc" action="">
				<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-select-box">
					  <select class="selectpicker" ng-model="vm.propertyName">
						<option value="">Select Filter</option>
                        <option value="offerName">By name</option>
                        <option value="endDate">By validity</option>
					  </select>
					  <input type="button" value="filter">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-serch-box">
						<input type="text" placeholder="Search" ng-model="vm.searchquery" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch').click()" ><input type="button" value="Search" id="btnSearch" ng-click="vm.searchCurrentOffer(vm.searchquery)">
					</div>
				</div>
				<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 txt_right">
					<input type="button" value="+ add new" class="add_btn" ui-sref="anon.addoffer">
				</div>
				<div class="clearfix"></div>
				</div>
				</form>
				</div>
				</div>
				<div class="row">
				<div class="list-table table-responsive">
				<table>
				<thead>
					<tr>
						<th class="lt-col1">Current Offers</th>
						<th class="lt-col2">Validity</th>
						<th class="lt-col2">Status</th>
						<th class="lt-col4">edit</th>
						<th class="lt-col5">delete</th>
						<th class="lt-col6">&nbsp;</th>
					</tr>
				    </thead>
				    <tbody>
					<tr ng-repeat="offer in vm.saleoffers | orderBy: vm.propertyName" >
						<td>
							<img onerror="this.src='images/offer_pic.jpg'" ng-src="{{offer.offerImage}}" height="64" width="64" alt="user" class="lt-userimg">
							<span class="lt-username">
								{{offer.offerName}}
							</span><span class="lt-offers">{{offer.description | limitTo:80 }}</span></td>
						<td>Till {{offer.endDate}}</td>
						<td>
							<span ng-if="offer.publishStatus == 'published'">All Referrers</span>
							<span ng-if="offer.publishStatus == 'unpublished'">My Referrers Only</span>
						</td>
						<td><a href="javascript:void(0);" ui-sref="anon.edit-offer({offerId: '{{offer._id}}'})" class="lt-icon-edit" title="Edit">Edit</a></td>
						<td><a href="javascript:void(0)" ng-click="vm.deletePop(offer._id,$index,'saleoffers')" class="lt-icon-delete" title="Delete">Delete</a></td>
						<td><a href="javascript:void(0);" ui-sref="anon.view-offer({viewofferId: '{{offer._id}}'})" title="View"><img src="images/lt-rgt-arrow.png" alt=""></a></td>
					</tr>
					<tr ng-show="vm.saleoffers.length==0">
	                    <td>No records found.</td>
	                    <td></td>
	                    <td></td>
	                    <td></td> 
	                    <td></td>
               		</tr>
					
				    
				    </tbody>
				</table>
				<ul uib-pagination boundary-links="true" total-items="vm.totalItems" num-pages="vm.noofPages" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChanged()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
				</div>
				</div>

            </div>

            <!--    SECOND TAB            -->
            <div role="tabpanel" class="tab-pane" id="profile">
               
            <div class="row">
				<div class="list-controls">
				<form name="abc" action="">
				<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-select-box">
					  <select class="selectpicker" ng-model="vm.propertyPastName">
						<option value="">Select Filter</option>
                        <option value="offerName">By name</option>
                        <option value="endDate">By validity</option>
					  </select>
					  <input type="button" value="filter">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-serch-box">
						<input type="text" placeholder="Search" ng-model="vm.searchquery" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch1').click()"><input type="button" value="Search" id="btnSearch1" ng-click="vm.searchPastOffer(vm.searchquery)">
					</div>
				</div>
				<div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 txt_right">
					<input type="button" value="+ add new" class="add_btn" ui-sref="anon.addoffer">
				</div>
				<div class="clearfix"></div>
				</div>
				</form>
				</div>
				</div>
				<div class="row">
				<div class="list-table table-responsive">
				<table>
				<thead>
					<tr>
						<th class="lt-col1">Past Offers</th>
						<th class="lt-col2">Validity</th>
						<th class="lt-col2">Status</th>
						<th class="lt-col3">edit</th>
						<!--<th class="lt-col4">delete</th>-->
						<th class="lt-col5">&nbsp;</th>
					</tr>
				    </thead>
				    <tbody>
					<tr ng-repeat="offerPast in vm.pastsaleoffers | orderBy: vm.propertyPastName">
						<td><img onerror="this.src='images/offer_pic.jpg'" ng-src="{{offerPast.offerImage}}" height="64" width="64" alt="user" class="lt-userimg">	
						<span class="lt-username">
							{{offerPast.offerName}}
						</span><span class="lt-offers">{{offerPast.description | limitTo:80}}</span></td>
						<td>Till {{offerPast.endDate}}</td>
						<td>
							<span ng-if="offerPast.publishStatus == 'published'">All Referrers</span>
							<span ng-if="offerPast.publishStatus == 'unpublished'">My Referrers Only</span>
						</td>
						<td><a href="javascript:void(0);" ui-sref="anon.edit-offer({offerId: '{{offerPast._id}}'})" class="lt-icon-edit" title="Edit">Edit</a></td>
						<!--<td><a href="javascript:void(0);" class="lt-icon-delete"  ng-click="vm.deletePop(offerPast._id,$index,'pastsaleoffers')" title="Delete">Delete</a></td>-->
						<td><a href="javascript:void(0);" ui-sref="anon.view-offer({viewofferId: '{{offerPast._id}}'})" title="View"><img src="images/lt-rgt-arrow.png" alt=""></a></td>
					</tr>
				    </tbody>
				</table>
				<ul uib-pagination boundary-links="true" total-items="vm.totalItemsPast" num-pages="vm.noofPagesPast" max-size="vm.maxsizePast" items-per-page ="vm.itemsPerPagePast"  ng-model="vm.currentPagePast" ng-change="vm.pageChangedPast()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

				</div>
				</div>
                                        
            </div>
            
        </div>
</div>
</div>
</div>
                   
</div>
<div class="popup2 popup5 instant-call-container">
            <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
            <form>
                <div class="form-gp"> 
                    <img src="images/bin.png" class="margin_auto icon_top"><br>
                    <p class="title_txt">Are You Sure ?</p>
                    <p>Are you sure that you want to delete this <br>
					 offer. This action cannot be undone.</p>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
                <button type="submit" class="button_delete" ng-click="vm.deleteOffer();">DELETE</button>
            </form>
            <br>
</div>