<div class="user-dashboard">
                    
          <div class="row">
          
            <div class="col-sm-12">
                        <div class="list-controls">
              
              <div class="row chroma-offer-hedear">
                <div class="col-md-6 col-sm-6 col-xs-12">
                   <h1>{{vm.offer.offerName}}</h1>
                </div>
              
                <!-- <div class="col-md-3 col-sm-3 col-xs-6">
                  
                </div> -->
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <!-- <a href="javascript:void(0);" ui-sref="anon.edit-offer({ offerId: vm.offer._id } )" title="edit" class="add_btn_new_edit">Edit</a> -->
                  <input value="Delete" class="add_btn_delete" ng-click="vm.deletePop(vm.offer._id)" type="button">
                  <!-- <a ng-click="vm.deletePop(vm.offer._id)" class="add_btn_new_delete">Delete</a> -->
                  <input value="Edit" class="add_btn_profile" ui-sref="anon.edit-offer({ offerId: vm.offer._id } )" type="button">

                  <input value="Offer Referral Details" class="add_btn_other" ng-click="vm.otherDetailPop(vm.offer._id)" type="button" ng-if="vm.offer.userRole == 'b_owner'">

                </div>
                <div class="clearfix"></div>
              </div>
              <div class="row">
                
                <div class="col-sm-12 Chroma-Offers-image">
                  <!--<img src="images/offer-detail-slider1.png" alt="Chroma Offers"/>-->
                  <!-- Silider start -->
                  
                  <div id="myCarousel" class="carousel slide offer_slider" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active:!$index}" ng-repeat="offerImages in vm.offerImages"></li>
                      </ol>
                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox" >
                        <div class="item" ng-class="{active:!$index}" ng-repeat="offerImages in vm.offerImages">
                          <!--<img src="images/offer-detail-slider1.png" alt="Chania">-->
                          <img src="{{offerImages.image}}" alt="Offer Image"/>
                        </div>
                        
                      </div>

                  </div>
                  
                  <!-- Silider end -->
                  
                </div>
                
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  {{vm.offer.description}} 
                </div>    
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Offer Validity </h3>
                  <p>From {{vm.offer.startDate}}  Till  {{vm.offer.endDate}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Renumeration Description </h3>
                  <p>{{vm.offer.remuneration_description}} </p>
                </div>  
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Renumeration Value </h3>
                  <p> $ {{vm.offer.remuneration}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Buyers Discount Description </h3>
                  <p>{{vm.offer.discount_description}} </p>
                </div>  
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Buyers Discount </h3>
                  <p> $ {{vm.offer.discount}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Store</h3>
                  <p>{{vm.offer.storeLocator}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Status</h3>
                  <p>
                    <span ng-if="vm.offer.publishStatus == 'published'">All Referrers</span>
                    <span ng-if="vm.offer.publishStatus == 'unpublished'">My Referrers Only</span>
                  </p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <iframe width="100%" height="500" ng-src="{{vm.offerVideosIframe[0].video}}" frameborder="0" allowfullscreen></iframe>
                </div>
                
              </div>
           </div>
                <input value="<    Back" class="add_btn_border_back pull-right" type="button" ui-sref="anon.offers">
        </div>
          
                        
    </div>
</div>
<div class="popup2 popup5 instant-call-container">
            <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
            <form>
                <div class="form-gp"> 
                    <img src="images/bin.png" class="margin_auto icon_top"><br>
                    <p class="title_txt">Are You Sure ?</p>
                    <p>Are you sure that you want to delete this <br>
           offer. This action cannot be undone.</p>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
                <button type="submit" class="button_delete" ng-click="vm.deleteOffer();">DELETE</button>
            </form>
            <br>
</div>

<div class="popup2 popup4 instant-call-container">
            <a href="" ng-click="vm.Close3();" class="close_new">CLOSE</a>
            <form>
              <p><br/></p>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                <p>Total Referrals : {{vm.totalReffsInOfferVar}}</p>
                  <p>Successful Referrals : {{vm.totalofferRefVar.count ? vm.totalofferRefVar.count : 0}}</p>
                  <p>Total Unsuccessful/Pending Referrals : {{vm.totalOfferPendingVar}}</p>
                  <p>Total Referrals Earning : ${{vm.totalofferRefVar.referrerEarning ? vm.totalofferRefVar.referrerEarning : 0}}</p>
                  </p>
                </div>
            </form>
            <br>
</div>
<div style="display: none;" class="overlay"></div>