<div class="user-dashboard">
          <div class="row">
          
            <div class="col-sm-12">
                        <div class="list-controls">
              
              <div class="row chroma-offer-hedear">
                <div class="col-md-12 col-sm-12 col-xs-12">
                   <h1>{{vm.couponData.offerDetails.offerName}}</h1>
                </div>
              
                <div class="clearfix"></div>
              </div>
              <div class="row">
                
                <div class="col-sm-12 Chroma-Offers-image">
                  <!--<img src="images/offer-detail-slider1.png" alt="Chroma Offers"/>-->
                  <!-- Silider start -->
                  
                  <div id="myCarousel" class="carousel slide offer_slider" data-ride="carousel">
                      <!-- Indicators -->
                      <ol class="carousel-indicators">
                      <li data-target="#myCarousel" data-slide-to="{{$index}}" ng-class="{active:!$index}" ng-repeat="offerImages in vm.offerImages"></li>
                      </ol>

                      <!-- Wrapper for slides -->
                      <div class="carousel-inner" role="listbox" >
                        <div class="item" ng-class="{active:!$index}" ng-repeat="offerImages in vm.offerImages">
                          <!--<img src="images/offer-detail-slider1.png" alt="Chania">-->
                          <img src="{{offerImages.image}}" alt="Offer Image"/>
                        </div>

                      </div>

                    </div>
                </div>
                
                 <div class="col-sm-12 Chroma-Offers-paragraph">
                  {{vm.couponData.offerDetails.description}} 
                </div>    
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Offer Validity </h3>
                  <p>From {{vm.couponData.offerDetails.startDate}}  Till  {{vm.couponData.offerDetails.endDate}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Buyers Discount Description </h3>
                  <p>{{vm.couponData.offerDetails.discount_description}} </p>
                </div>  
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Buyers Discount </h3>
                  <p> $ {{vm.couponData.offerDetails.discount}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Store</h3>
                  <p>{{vm.couponData.offerDetails.storeLocator}}</p>
                </div>
                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <h3>Coupon Code</h3>
                  <p>{{vm.couponCode}}</p>
                </div>

                <div class="col-sm-12 Chroma-Offers-paragraph">
                  <iframe width="100%" height="500" ng-src="{{vm.offerVideosIframe[0].video}}" frameborder="0" allowfullscreen></iframe>
                </div>
              </div>
           </div>
                
        </div>
          
                        
    </div>
</div>
