
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content "  ng-app="">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header"><small>Business Owner Referrer List</small></h1>
            <!--ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Users
                </li>
            </ol-->
        </div>
    <!-- </div> -->
    <!-- <div class="row"> -->
    <div class="list-controls"><div class="row" style="margin-right: 0;">
        <div class="col-lg-8">
            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                <div class="lc-serch-box">
                    <input type="text" placeholder="Search" ng-model="vm.search_string" required><input type="button" value="Search" ng-click="vm.searchbusinessOwnersReffers(vm.search_string)">
                </div>
                <div class="clearfix"></div>
         </div> 
    </div></div>
</div>

        <!--div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a  class="list-group-item">
                            <span class="badge">just now</span>
                            <i class="fa fa-fw fa-calendar"></i> Calendar updated
                        </a>                        
                    </div>

                    <div class="text-right">
                        <a >View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div-->

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i></h3>
                </div-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="lt-col1">S.N.</th>                                    
                                    <th>Name</th>
                                    <th>Email</th>
                                    <!--th>Business Name</th>
                                    <th>Position</th-->                                    
                                    <th>Mobile No</th>                                    
                                    <th>Address</th>
                                    <th>Email Status</th>
                                    <th>Mobile Status</th>
                                    <th>Status</th>
                                    <th></th>                                      
                                </tr>
                            </thead>
                            <tbody>
                               <tr ng-repeat="user in vm.r_owner">                                    
                                    <td> {{$index +1}}</td>
                                    <td> {{user.personalInfo.name}} </td>
                                    <td class="break_long_word"> {{user.email}}</td>
                                    <!--td> {{user.business.name}}</td>
                                    <td> {{user.position}}</td-->
                                    <td> {{user.personalInfo.mobileNo}}</td>                                    
                                    <td> {{user.address.address}}
                                     <span>{{user.address.city}}</span>&nbsp
                                    <span>{{user.address.state}}</span>&nbsp
                                    <span>{{user.address.country}}</span>
                                    </td>
                                    <td ng-if="user.verifyEmail.verificationStatus == true">
                                    Verified 
                                    </td>
                                    <td ng-if="user.verifyEmail.verificationStatus == false">
                                    Unverified 
                                    </td> 
                                    <td ng-if="user.verifyMobile.isverify == true">
                                    Verified
                                    </td>
                                    <td ng-if="user.verifyMobile.isverify == false">
                                    Unverified 
                                    </td> 
                                    <td ng-if="user.userStatus == true">
                                    Active 
                                    </td>
                                    <td ng-if="user.userStatus == false">
                                    Inactive 
                                    </td>

                                    <td>
                                    <a href="javascript:void(0)" ui-sref="admin.reffererinfo({id:user._id})">View
                                    </a>                                   
                                    </td>

                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                    <ul uib-pagination boundary-links="true" total-items="vm.totalowner_ref" num-pages="vm.noofPages2" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChangedOwner(vm.currentPage)"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>                        
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>