<style type="text/css" class="ng-scope">
    .skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {background-color: #ecf0f5 !important;}
    .content-wrapper, .right-side, .main-footer {margin-left: 0px !important;}
    .skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {background-color: #ecf0f5 !important;}
    .content {margin-left: 430px !important;}
</style>
<section class="row">
<h3 class="col-md-12 text-center">Forgot password</h3>
<div class="panel panel-default col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 panel-radius">
	<div class="panel-body">
		<form name="vm.forgotPwd" ng-submit="vm.forgotpwd(vm.forgotPwd.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
                            <div class="form-group required">
                                    <label for="email">Email</label>
                                    <div class="input-group" ng-class="{ 'has-error' : vm.forgotPwd.email.$invalid && !vm.forgotPwd.email.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" name="email" placeholder="Email" class="form-control email" ng-model="vm.forgotuser.email" required>                                        
                                    </div>
                                    <span ng-show="vm.forgotPwd.email.$invalid && !vm.forgotPwd.email.$pristine">Enter valid email.</span>
                            </div>
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="vm.forgotPwd.$invalid">Submit</button>
                            </div>
			</fieldset>
		</form>
	</div>
</div>
</section>


