<style type="text/css" class="ng-scope">
    .skin-red .wrapper, .skin-red .main-sidebar, .skin-red .left-side {background-color: #ecf0f5 !important;}
    .content-wrapper, .right-side, .main-footer {margin-left: 0px !important;}
    .skin-green .wrapper, .skin-green .main-sidebar, .skin-green .left-side {background-color: #ecf0f5 !important;}
    .content {margin-left: 430px !important;}
</style>
<section class="row">

<h3 class="col-md-12 text-center">Referral Max</h3>

<!--<h3 class="col-md-12 text-center">Sign in to start your session </h3>-->
<div class="panel panel-default col-xs-offset-1 col-xs-9 col-md-offset-4 col-md-4 panel-radius">
	<div class="panel-body">
		<form name="loginForm" ng-submit="vm.loginstaff(loginForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
                            <div class="form-group required">
                                    <label for="email">Email</label>
                                    <div class="input-group" ng-class="{ 'has-error' : loginForm.email.$invalid && !loginForm.email.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        <input type="email" name="email" placeholder="Email" class="form-control email" ng-model="vm.user.email" required>                                        
                                    </div>
                                    <span ng-show="loginForm.email.$invalid && !loginForm.email.$pristine">Enter valid email.</span>
                            </div>
                            <div class="form-group required">
                                    <label for="password">Password</label>
                                    <div class="input-group" ng-class="{ 'has-error' : loginForm.password.$invalid && !loginForm.password.$pristine }">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        <input type="password" name="password" placeholder="Password" class="form-control email" ng-model="vm.user.password" required>                                        
                                    </div>
                                    <span ng-show="loginForm.password.$invalid && !loginForm.password.$pristine">Password is required.</span>
                            </div>  
                            <div class="text-center form-group">
                                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="loginForm.$invalid">Submit</button>
                            </div>

                            <div class="alert alert-danger fade in" ng-if=vm.status.message !=''>
                                {{vm.status.message}}
                            </div>

			</fieldset>
		</form>
                <a href="#" class="newuser" ui-sref="anon.forgotpwd">Forgot Password?</a>
	</div>
</div>
</section>