<section class="content ">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header">Edit Pages</h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Edit Pages
                </li>
            </ol>
        </div>
    <!-- </div> -->
    <!-- <div class="row col-md-offset-0"> -->
        <div class="col-lg-12">
            <form ng-submit="vm.updatePlaninfo(vm.membershipplansinfo)" accept-charset="UTF-8" role="form" class="form-signin" name="vm.membershipplansinfo">
                <div class="form-group" ng-class="">
                <label>Plane Name</label>                    
                    <input type="text" name="plan_name" placeholder="Plane Name" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.plan_name" required>                    
                </div>

                <div class="form-group" ng-class="">
                <label>Amount</label>                     
                    <input type="text" name="amount" placeholder="Amount" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.amount" required>                    
                </div>
                
                 <div class="form-group" ng-class="">
                 <label>Offers Limit</label>                      
                    <input type="text" name="offers_limit" placeholder="Offers Limit" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.offers_limit" required>                    
                </div>

                <div class="form-group" ng-class="">
                <label>Referrer Limit</label>                    
                    <input type="text" name="refferer_limit" placeholder="Referrer Limit" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.refferer_limit" required>
                </div>

                <div class="form-group" ng-class="">
                <label>Duration</label>                     
                    <input type="text" name="duration" placeholder="Duration" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.duration" required >
                </div>

                <div class="form-group" ng-class="">
                <label>Sales Owner Limit</label>                    
                    <input type="text" name="sowner_limit" placeholder="Sales Owner Limit" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.sowner_limit" required >
                </div>

                <div class="form-group" ng-class="">
                <label>History</label>                    
                    <input type="text" name="history" placeholder="Full history of all offer" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.history" required>
                </div>

                <div class="form-group" ng-class="">

                  <label>Other Plan Details</label>                    

                   <input type="text" name="other_details" placeholder="Add other details to the plan" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.other_details" required>

               </div>



              <div class="form-group" ng-class="">

                <label>Other Plan Details 2</label>                    

                    <input type="text" name="other_details_2" placeholder="Add other details to the plan" class="form-control user name_icon_sprite" ng-model="vm.membershipplansinfo.other_details_2" required>

                </div>


                <!--div class="form-group">
                <textarea ckeditor="editorOptions" ck-editor ng-model="vm.pagesinfo.description" id="editor1"></textarea>
                </div-->
                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    <!-- </div> -->
</section>