
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content ">
    <div class="row-">
        <div class="col-lg-12">
            <h1 class="page-header">
                Membership <small>Plans</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Membership Plans
                </li>
            </ol>
        </div>
    </div>
    <div class="row-">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Plan Panel</h3>
                </div>                
                <div class="panel-body">
                    <div class="list-group" ng-repeat="plans in vm.membershipplans">
                    <span>{{plans.duration}}</span>
                    <a href="javascript:void(0)" ui-sref="admin.getMembershipPlansInfo({id:plans._id})">{{plans.plan_name}}                    
                    </a>                    
                    <!--span ng-if ="vm.reffer.role == 'b_owner'"></span>-->                                                                      
                    </div>


                </div>
            </div>
        </div>

        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Cancelled Membership Plans</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                     <a href="javascript.void(0);" ui-sref="admin.CanceledBusinessPlan"><i class="fa fa-user"></i>Cancelled Membership Plans</a>                        
                    </div>                    
                </div>
            </div>
        </div>
    </div>        
</section>