
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content "  ng-app="">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header"><small>Business Owner offers</small></h1>
            <!--ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Users{{}}
                </li>
            </ol-->
        </div>
    <!-- </div> -->
    <!--div class="row">

            <div class="col-lg-8">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

                <div class="lc-serch-box">
                 <input type="text" placeholder="Search" ng-model="vm.search_string" required><input type="button" value="Search" 
                 ng-click="vm.searchbusinessOwnersReffers(vm.search_string)">
                    </div>
                    <div class="clearfix"></div>
         </div> 
    </div-->
        

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i></h3>
                </div-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th>Offer Name</th>
                                    <th>Description</th>
                                    <th>Offer Amount</th>
                                    <th>Discount</th>
                                    <th>Renumeration</th>
                                    <th>Store Locator</th>
                                    <th>Offer Category</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Created Date</th>
                                    <th>Offer Id</th>
                                </tr>
                            </thead>
                            <tbody>
                               <tr ng-repeat="user in vm.r_offer">
                                    <td> {{$index +1}}</td>
                                    <td> {{user.offerName}} </td>
                                    <td> {{user.description}}</td>
                                    <td> {{user.offerAmount}}</td>
                                    <td> {{user.discount}}</td>
                                    <td> {{user.remuneration}}</td>
                                    <td> {{user.storeLocator}}</td>
                                    <td> {{user.offerCategory}}</td>
                                    <td> {{user.startDate | date}}</td>
                                    <td> {{user.endDate | date}}</td>
                                    <td> {{user.updatedAt | date}}</td>
                                    <td> 
                                    <span>
                                    <a href="javascript:void(0)" ui-sref="admin.offerreferrlist({id:user._id})">View Offer Referrer
                                    </a>
                                    </span>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                    <ul uib-pagination boundary-links="true" total-items="vm.total_offer" num-pages="vm.noofPages3" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChangedOffers(vm.currentPage)"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>