
<section>

    <div class="user-dashboard view_prof_detail">

            <!-- <div class="row"> -->
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" ng-if="vm.offer_refer_view.offerDetails.offerImage == '' ">
                    <img ng-src="images/thumbnail.jpg" height=100 width=100 class="profile_pic">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" ng-if="vm.reffer.personalInfo.profileImg != '' ">
                     <img ng-src="{{vm.offer_refer_view.offerDetails.offerImage}} " height=100 width=100 class="profile_pic">
                </div>
               

                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-lg-offset-0 col-md-offset-2 list-controls">
                    <div class="list-controls">
                        <!-- <div class="row"> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1>Offer Referrer</h1>
                            </div>

                            <div class="clearfix"></div> 
                            <!-- Form Name -->
                            <div class="profile_form">
                                <!-- Text input-->                               

                                <div class="form-group" ng-class="">
                                    <label class="col-lg-4 col-md-4 control-label" for="name">Coupon Code:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                        {{vm.offer_refer_view.couponCode}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="">
                                    <label class="col-lg-4 col-md-4 control-label" for="mobileNo">Referrer:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.email}}
                                       <span>{{vm.offer_refer_view.phone}}</span>                                       
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" ng-class="">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Refer To:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.referrerId.email}}
                                       <span>{{vm.offer_refer_view.referrerId.personalInfo.mobileNo}}</span>
                                       <span>{{vm.offer_refer_view.referrerId.personalInfo.name}}</span>                

                                    </div><div class="clearfix"></div>
                                </div>

                                 <!-- Text input-->                                 

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Referrer Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.createdDate | date}}               

                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Referrer Earning Status:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.referrerEarningStatus}}               

                                    </div><div class="clearfix"></div>
                                </div> 
                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Referrer Earning:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.referrerEarning}}               

                                    </div><div class="clearfix"></div>
                                </div> 


                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Redeemed:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.redeemed}}              

                                    </div><div class="clearfix"></div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Redeemed BY:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.redeemedBy.email}} 
                                       <span>{{vm.offer_refer_view.redeemedBy.name}} </span> 
                                       <span>{{vm.offer_refer_view.redeemedBy.mobileNo}} </span>            

                                    </div><div class="clearfix"></div>
                                </div> 

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Redeemed Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.redeemedDate}}
                                    </div><div class="clearfix"></div>
                                </div>



                                



                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row"><h1>Offer</h1></div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Offer Name:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.offer_refer_view.offerDetails.offerName}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Offer Category:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.offer_refer_view.offerDetails.offerCategory}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                 <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Store Location:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.offer_refer_view.offerDetails.storeLocator}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Renumeration:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.offer_refer_view.offerDetails.remuneration}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Discount:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.offer_refer_view.offerDetails.discount}} 
                                    </div><div class="clearfix"></div>
                                </div>



                           <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Start Date:</label> 
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.offerDetails.startDate | date}}
                                    </div><div class="clearfix"></div>
                                </div>


                            <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">End Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.offerDetails.endDate | date}} 
                                    </div><div class="clearfix"></div>
                                </div>

                            <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Created Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.offer_refer_view.offerDetails.createdDate | date}} 
                                    </div><div class="clearfix"></div>
                                </div>



                            <!-- </div> -->
                        </div>
                    </div>
              
    </div>

</section>

</section>

