
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content "  ng-app="">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header"><small>Offers Details</small></h1>
            <!--ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Users{{}}
                </li>
            </ol-->
        </div>
    <!-- </div> -->
    <!--div class="row">

            <div class="col-lg-8">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">

                <div class="lc-serch-box">
                 <input type="text" placeholder="Search" ng-model="vm.search_string" required><input type="button" value="Search" 
                 ng-click="vm.searchbusinessOwnersReffers(vm.search_string)">
                    </div>
                    <div class="clearfix"></div>
         </div> 
    </div-->
        

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i></h3>
                </div-->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>S.N.</th>
                                    <th>Offer Name</th>
                                    <th>Coupon Code</th>
                                    <th>Referrer</th>
                                    <th>Refer to</th>
                                    <th>Discount</th>
                                    <th>Renumeration</th>                                    
                                    <th>Offer Category</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                    <th>Created Date</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                               <tr ng-repeat="user in vm.offer_refer">
                                    <td> {{$index +1}}</td>
                                    <td> {{user.offerDetails.offerName}} </td>
                                    <td> {{user.couponCode}} </td>
                                    <td> {{user.referrerId.email}}
                                    <span>{{user.referrerId.personalInfo.mobileNo}}</span>
                                    <span>{{user.referrerId.personalInfo.name}}</span>
                                    </td>
                                    <td> {{user.email}}
                                    <span>{{user.phone}}</span>
                                    <span>{{user.name}}</span>
                                    </td>
                                    <td> {{user.offerDetails.discount}}</td>
                                    <td> {{user.offerDetails.remuneration}}</td>
                                    
                                    <td> {{user.offerDetails.offerCategory}}</td>
                                    <td> {{user.offerDetails.startDate | date}}</td>
                                    <td> {{user.offerDetails.endDate | date}}</td>
                                    <td> {{user.updatedAt | date}}</td>

                                     <td> 
                                    <span>
                                    <a href="javascript:void(0)" ui-sref="admin.offerreferrdetails({id:user._id})">View Details                                   
                                    </a>
                                    </span>                                    
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                    <div class="text-right">
                    <ul uib-pagination boundary-links="true" total-items="vm.totl_offer_ref" num-pages="vm.noofPages_o_r" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChangedbusinessOwnersOfferReffers(vm.currentPage)"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>