
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content ">
    <div class="row-">
        <div class="col-lg-12">
            <h1 class="page-header">
                Pages <small>Statistics Overview</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Pages
                </li>
            </ol>
        </div>
    </div>
    <div class="row-">
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Pages Panel</h3>{{vm.pages.title}}
                </div>
                <div class="panel-body">
                    <div class="list-group" ng-repeat="pages in vm.pages">
                    <a href="javascript:void(0)" ui-sref="admin.getpageinfo({id:pages._id})">{{pages.title}}
                    </a>                                                                      
                    </div>                    
                </div>
            </div>
        </div>        
</section>