<section class="content ">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header">Edit Pages</h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Edit Pages
                </li>
            </ol>
        </div>
    <!-- </div> -->
    <!-- <div class="row col-md-offset-0"> -->
        <div class="col-lg-12">
            <form ng-submit="vm.updatePage(vm.pagesinfo)" accept-charset="UTF-8" role="form" class="form-signin" name="vm.pagesinfo">
                <div class="form-group" ng-class="">                    
                    <input type="text" name="title" placeholder="Title" class="form-control user name_icon_sprite" ng-model="vm.pagesinfo.title" required readonly="true">                    
                </div>
                <div class="form-group">
                <textarea ckeditor="editorOptions" ck-editor ng-model="vm.pagesinfo.description" id="editor1"></textarea>
                </div>
                <button type="submit" class="btn btn-default">Update</button>
            </form>
        </div>
    <!-- </div> -->
</section>