<section class="content ">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header">Edit Profile</h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-dashboard"></i> Edit Profile
                </li>
            </ol>
        </div>
    <!-- </div> -->
    <!-- <div class="row col-md-offset-0"> -->
        <div class="col-lg-6">
            <form ng-submit="vm.updateProfile(vm.mngprofile.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.mngprofile">
               
                <div class="form-group">
                    <label>Upload Profile Pic</label>
                    <input type="file" ng-model="vm.file" name="file" base-sixty-four-input required ng-change="vm.onLoad(vm.file)" maxsize="500" accept="image/*">
                </div>
                <div class="form-group">
                    <img ng-src="{{vm.user.personalInfo.profileImg}}" height=100 width=120 alt="Description" />
                </div>
                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.name.$invalid && !vm.mngprofile.name.$pristine }" >
                    <label>Name</label>
                    <input type="text" name="name" placeholder="Name" class="form-control user name_icon_sprite" ng-model="vm.user.personalInfo.name" required>
                    <span ng-show="vm.mngprofile.name.$invalid && !vm.mngprofile.name.$pristine">Name is required.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }" >
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Email" class="form-control email email_icon_sprite" ng-model="vm.user.email" ng-disabled="true">
                    <span ng-show="vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine">Enter valid email.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.mobileNo.$invalid && !vm.mngprofile.mobileNo.$pristine }" >
                    <label>Contact no.</label>
                    <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control phoneno phone_icon_sprite" ng-model="vm.user.personalInfo.mobileNo" ng-minlength="10" ng-maxlength="10" required>
                    <span ng-show="vm.mngprofile.mobileNo.$invalid && !vm.mngprofile.mobileNo.$pristine">Required.</span>
                    <span ng-show="vm.mngprofile.$error.minlength">10 char. only.</span>
                    <span ng-show="vm.mngprofile.$error.maxlength">Not more than 10 characters.</span>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine }" >
                    <label>Address</label>
                    <input type="text" name="address" placeholder="Address" class="form-control newuser" ng-model="vm.user.address.address" required>
                    <span ng-show="vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine">Enter address here.</span>
                </div>
                <button type="submit" class="btn btn-default">Update</button>
                <div class="clearfix">&nbsp;</div>
            </form>
        </div>
    <!-- </div> -->
</section>