 <section class="content "  ng-app="">
 <div class="user-dashboard view_prof_detail">
    <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-lg-offset-0 col-md-offset-2 list-controls">
        <div class="row">
            <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                <h1>Reports</h1>
            </div>
        </div>
        <div id="accordion" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <h3>Overall Referral Report</h3>
            <div>
               <p>Total Referrals : {{vm.totalReffsVar}}</p>
               <p>Successful Referrals : {{vm.totalbusinessRefVar.count}}</p>
               <p>Total Earnings : ${{vm.totalbusinessRefVar.referrerEarning}}</p>
               <p>Pending Referrals : {{vm.totalBusinessPendingVar}}</p>
               <p>Pending Earnings : ${{vm.totalPendingEarningVar.referrerEarning}}</p>
               <p> 
                <input type="submit" value="Download Report" class="btn login" ng-click="vm.exportOverallReferal(vm.totalReffsVar,vm.totalbusinessRefVar.count,vm.totalbusinessRefVar.referrerEarning,vm.totalBusinessPendingVar,vm.totalPendingEarningVar.referrerEarning);">
               </p>
               
            </div>
            <h3 ng-click="vm.tab2Functions()">Monthly Redeemed Offers Report</h3>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <p>
                <form ng-submit="vm.viewReport(vm.mReportForm.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.mReportForm">           
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group add-new-offer-form date-sec">
                             <label class="control-label" for="textinput">Start Date</label>  
                            <input  name="startDate" type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.report.startDate" is-open="vm.popup1.opened" ng-model-options="{timezone:'UTC'}" datepicker-options="vm.dateOptions" close-text="Close" alt-input-formats="altInputFormats" required />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                          </div>
                          
                          <div class="col-sm-6">
                            <div class="form-group add-new-offer-form date-sec">
                              <label class="control-label" for="textinput">End Date</label>  
                              
                              <input type="text" name="endDate" class="form-control" ng-model-options="{timezone:'UTC'}" uib-datepicker-popup="{{vm.format}}" ng-model="vm.report.endDate" min="vm.report.startDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </div>
                          </div>
                      </div>

                      <select name="refferal" class="signup-new-cat selectpicker" ng-model="vm.report.redeemedBy" ng-options="sales._id as sales.personalInfo.name for sales in vm.sales">
                          <option value="">Select Sales Person</option>
                      </select>

                      <select name="refferal" class="signup-new-cat selectpicker" ng-model="vm.report.referrerId" ng-options="user._id as user.personalInfo.name for user in vm.users">
                          <option value="">Select Referral</option>
                      </select>

                      <select name="offer" class="signup-new-cat selectpicker" ng-model="vm.report.offerId"  ng-options="offer._id as offer.offerName for offer in vm.offers">
                          <option value="">Select Offer</option>
                      </select>

                      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                        <input value="Download Report" class="add_btn btn login" type="submit" ng-disabled="vm.mReportForm.$invalid">
                      </div>
                 </form>
                </p>
              </div>
              <h3 ng-click="vm.tab2Functions()">Monthly Redeemed Offers Earning Report</h3>
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <p>
               <form ng-submit="vm.viewEarningReport(vm.mEarningReportForm.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.mEarningReportForm">           
                      <div class="row">
                          <div class="col-sm-6">
                            <div class="form-group add-new-offer-form date-sec">
                             <label class="control-label" for="textinput">Start Date</label>  
                            <input  name="startDate" type="text" class="form-control" uib-datepicker-popup="{{vm.format}}" ng-model="vm.report.startDate" is-open="vm.popup1.opened" ng-model-options="{timezone:'UTC'}" datepicker-options="vm.dateOptions" close-text="Close" alt-input-formats="altInputFormats" required />
                            <span class="input-group-btn">
                              <button type="button" class="btn btn-default" ng-click="vm.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                            </div>
                          </div>
                          
                          <div class="col-sm-6">
                            <div class="form-group add-new-offer-form date-sec">
                              <label class="control-label" for="textinput">End Date</label>  
                              
                              <input type="text" name="endDate" class="form-control" ng-model-options="{timezone:'UTC'}" uib-datepicker-popup="{{vm.format}}" ng-model="vm.report.endDate" min="vm.report.startDate" is-open="vm.popup2.opened" datepicker-options="vm.dateOptions2" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                              <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="vm.open2()"><i class="glyphicon glyphicon-calendar"></i></button>
                              </span>
                            </div>
                          </div>
                      </div>

                      <select name="refferal" class="signup-new-cat selectpicker" ng-model="vm.report.redeemedBy" ng-options="sales._id as sales.personalInfo.name for sales in vm.sales">
                          <option value="">Select Sales Person</option>
                      </select>

                      <select name="refferal" class="signup-new-cat selectpicker" ng-model="vm.report.referrerId" ng-options="user._id as user.personalInfo.name for user in vm.users">
                          <option value="">Select Referral</option>
                      </select>

                      <select name="offer" class="signup-new-cat selectpicker" ng-model="vm.report.offerId"  ng-options="offer._id as offer.offerName for offer in vm.offers">
                          <option value="">Select Offer</option>
                      </select>

                      <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                        <input value="Download Report" class="add_btn btn login" type="submit" ng-disabled="vm.mReportForm.$invalid">
                      </div>
                </form>
              </p>
              <div id="resultReports" style="display: none;">
               <p>Successful Referrals : {{vm.reportResponse.dataEarning[0].count}}</p>
               <p>Total Earnings : ${{vm.reportResponse.dataEarning[0].referrerEarning}}</p>
               <p>Pending Referrals : {{vm.reportResponse.dataPending[0].count}}</p>
               <p>Pending Earnings : ${{vm.reportResponse.dataPending[0].referrerEarning}}</p>
              </div> 
            </div>
            
          </div>
    
    </div>
                   
</div>
</section>
