<section class="row">
<h3 class="col-md-12 text-center">Reset your password</h3>
<div class="panel panel-default col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 panel-radius">
	<div class="panel-body">
		<form name="resetPwd" ng-submit="vm.resetPassword()" class="signin form-horizontal" novalidate autocomplete="off">
			<fieldset>
				<div class="form-group required">
					<label for="newPassword">New Password</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="vm.resetuser.newPassword" placeholder="New Password" required>
                                                <div class="text-center chc-ttl-inf" ng-show="resetPwd.newPassword.$submitted || resetPwd.newPassword.$touched">
                                                    <span ng-show="resetPwd.newPassword.$error.required">Password is required.</span>
                                                </div>
					</div>
				</div>
				<div class="form-group required">
					<label for="verifyPassword">Verify Password</label>
					<div class="input-group">
						<span class="input-group-addon"><i class="fa fa-key"></i></span>
                                                <input type="password" id="verifyPassword" name="verifyPassword" class="form-control" ng-model="vm.resetuser.verifyPassword" placeholder="Verify Password" required compare-to="vm.resetuser.newPassword">
                                                <div class="text-center chc-ttl-inf" ng-show="resetPwd.verifyPassword.$invalid || resetPwd.verifyPassword.$dirty">
                                                    <span ng-show="resetPwd.verifyPassword.$error.compareTo">Must match with password.</span>
                                                </div>
					</div>
				</div>
				<div class="text-center form-group">
					<button type="submit" class="btn btn-lg btn-primary btn-block">Update Password</button>
				</div>

			</fieldset>
		</form>
	</div>
</div>
</section>

