
<!-- Content Header (Page header) -->
<section class="content-header" ng-if="auth.isAuthenticated()">
    <h1>
        <!--Manage Suppliers-->

    </h1>
    <ol class="breadcrumb">
        <li><a ui-sref="admin.dashboard"><i class="fa fa-dashboard"></i> Home</a></li>

    </ol>
</section>
<section class="content "  ng-app="">
    <!-- <div class="row"> -->
        <div class="col-lg-12">
            <h1 class="page-header"><small>Referrer List</small></h1>
        </div>
    <!-- </div> -->
    <!-- <div class="row">  -->
    <div class="list-controls"><div class="row" style="margin-right: 0;">
        <div class="col-lg-8">
        <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
            <div class="lc-serch-box">
                <input type="text" placeholder="Search" ng-model="vm.search_string" required><input type="button" value="Search" ng-click="vm.searchUser(vm.search_string)">
            </div>
            <div class="clearfix"></div>
        </div> 
    </div></div>
</div>


            <!--div class="panel panel-default asf">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i> Tasks Panel</h3>
                </div>
                <div class="panel-body">
                    <div class="list-group">
                        <a  class="list-group-item">
                            <span class="badge">just now</span>
                            <i class="fa fa-fw fa-calendar"></i> Calendar updated
                        </a>                        
                    </div>

                    <div class="text-right">
                        <a >View All Activity <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
            </div>
        </div-->

        <div class="col-lg-12">
            <div class="panel panel-default">
                <!--div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-money fa-fw"></i></h3>
                </div-->
                <div class="panel-body">
                    <div class="list-table table-responsive">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th class="lt-col1">S.N.</th>
                                    <th class="lt-col1">Name</th>
                                    <th class="lt-col2">Email</th>
                                    <!--th class="lt-col3">Business Name</th-->                              
                                    <th class="lt-col5">Mobile No</th>
                                    <th class="lt-col6">Role</th>
                                    <th class="lt-col7">Address</th>
                                    <th class="lt-col8">Email Status</th>
                                    <th class="lt-col9">Mobile Status</th>
                                    <th class="lt-col9">Status</th>
                                    <th class="lt-col9"> </th>                                       
                                </tr>
                            </thead>
                            <tbody>
                               <tr ng-repeat="user in vm.user | orderBy: vm._id">
                                    <td> {{$index +1}}</td>
                                    <td> {{user.personalInfo.name}} </td>
                                    <td class="break_long_word"> {{user.email}}</td>
                                    <!--td> {{user.business.name}}</td-->                                    
                                    <td> {{user.personalInfo.mobileNo}}</td>
                                    <td> {{user.role}}</td>
                                    <td> {{user.address.address}}
                                    <span>{{user.address.city}}</span>&nbsp
                                    <span>{{user.address.state}}</span>&nbsp
                                    <span>{{user.address.country}}</span>

                                    </td>

                                    <td ng-if="user.verifyEmail.verificationStatus == true">
                                    Verified 
                                    </td>
                                    <td ng-if="user.verifyEmail.verificationStatus == false">
                                    Unverified 
                                    </td> 
                                    <td ng-if="user.verifyMobile.isverify == true">
                                    Verified
                                    </td>
                                    <td ng-if="user.verifyMobile.isverify == false">
                                    Unverified 
                                    </td> 
                                    <td ng-if="user.userStatus == true">
                                    <a href="javascript:void(0)" ng-click="vm.changeBusnessOwnerStatus(user._id,false,3)">
                                    Active </a>                                    
                                    </td>
                                    <td ng-if="user.userStatus == false">
                                     <a href="javascript:void(0)" ng-click="vm.changeBusnessOwnerStatus(user._id,true,3)">
                                    Inactive </a>                                    
                                    </td>
                                    <td>
                                    <a href="javascript:void(0)" ui-sref="admin.reffererinfo({id:user._id})">View
                                    </a>                                   
                                    </td>                                 
                                </tr>
                                
                            </tbody>
                        </table>                        
                    </div>
                    <div class="text-right">
                    <ul uib-pagination boundary-links="true" total-items="vm.totalrefers" num-pages="vm.noofPages" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChanged(vm.currentPage)"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                        <!--a ><i class="fa fa-arrow-circle-right"></i></a-->
                    </div>
                </div>
            </div>
        </div>
    <!-- </div> -->
</section>