
<section>

    <div class="user-dashboard view_prof_detail">

            <!-- <div class="row"> -->
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" ng-if="vm.reffer.personalInfo.profileImg == '' ">
                    <img ng-src="images/thumbnail.jpg" height=100 width=100 class="profile_pic">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-2 col-xs-1" ng-if="vm.reffer.personalInfo.profileImg != '' ">
                     <img ng-src="{{vm.reffer.personalInfo.profileImg}}" height=100 width=100 class="profile_pic">
                </div>
               

                <div class="col-lg-9 col-md-9 col-sm-10 col-xs-11 col-lg-offset-0 col-md-offset-2 list-controls">
                    <div class="list-controls">
                        <!-- <div class="row"> -->
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row"><h1>Profile</h1></div>
                            </div>

                            <div class="clearfix"></div> 
                            <!-- Form Name -->
                            <div class="profile_form">
                                <!-- Text input-->
                                <div class="form-group" ng-class="">
                                    <label class="col-lg-4 col-md-4 control-label" for="name">Name:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                        {{vm.reffer.personalInfo.name}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="">
                                    <label class="col-lg-4 col-md-4 control-label" for="mobileNo">Phone:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.personalInfo.mobileNo}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Email:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.email}}               

                                    </div><div class="clearfix"></div>
                                </div>

                                 <!-- Text input-->
                                <!--div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Position:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.position}}               

                                    </div><div class="clearfix"></div>
                                </div>                                

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="address">Address:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.reffer.address.address}}
                                    </div><div class="clearfix"></div>
                                </div>

                                 <div class="form-group"  style="display: {{ vm.reffer.address.city ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="address">City:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      {{vm.reffer.address.city}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  style="display: {{ vm.reffer.address.state ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="city">Province/State:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.address.state}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" style="display: {{ vm.reffer.address.zipcode ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Postal Code:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.address.zipcode}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  style="display: {{ vm.reffer.address.country ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Country:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.address.country}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group"  style="display: {{ vm.reffer.createdDate ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Created Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.createdDate | date:'medium'}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                 <div class="form-group"  style="display: {{ vm.reffer.updatedAt ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Updated Date:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.updatedAt | date:'medium'}} 
                                    </div><div class="clearfix"></div>
                                </div>
                                
                            <div class="form-group ng-if="vm.reffer.role == 's_owner'">
                                <div class="form-group"  style="display: {{ vm.reffer.empId ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Emp Id:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.empId}} 
                                    </div><div class="clearfix"></div>
                                </div>
                            </div>

                            <!--div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row"><h1>Business</h1></div>
                            </div>

                            <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Business Name:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.business.name}} 
                                    </div><div class="clearfix"></div>
                                </div>

                           <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Business Description:</label> 
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.business.description}} 
                                    </div><div class="clearfix"></div>
                                </div>


                            <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Category:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.reffer.business.category.category}} 
                                    </div><div class="clearfix"></div>
                                </div-->


                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Success Refer:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.sucess_reffer}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Pending Refer:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.pending_reffer}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Total Earning:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       {{vm.total_earning[0].referrerEarning}} 
                                    </div><div class="clearfix"></div>
                                </div>





                    <div class="form-group" ng-if="vm.reffer.role == 'b_owner'"> 
                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">No of referrers:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">  
                                    {{vm.total_reffered}}
                                    <span>
                                    <a href="javascript:void(0)" ui-sref="admin.businessreffererlist({id:vm.reffer._id})">View Referrer
                                    </a>
                                    </span>                                 
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">No of Sales Owner:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">  
                                    {{vm.total_sales_owner}}
                                    <span>
                                        <a href="javascript:void(0)" ui-sref="admin.businessalesownerlist({id:vm.reffer._id})">View Employees
                                    </a>
                                    </span>                                      
                                                                             
                                    </div>                                    
                                    <div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">No of offers:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">  
                                    {{vm.total_offer}}
                                    <span>
                                    <a href="javascript:void(0)" ui-sref="admin.offerlist({id:vm.reffer._id})">View offers
                                    </a>
                                    </span>                                      
                                                                             
                                    </div>
                                    
                                    <div class="clearfix"></div>
                                </div>
                    </div>


                        <div class="row" ng-if="vm.reffer.role == 'b_owner'">                        
                                <div class="row" style="display: {{ vm.reffer.membershipDetails ? 'block' : 'none'}}">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="row"><h1>Membership Details</h1></div>
                                </div>
                                </div>
                                <!--div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Successful Referrals :</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{ vm.successRefferer}}
                                        
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Pending/Unsuccessful Referrals :</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{ vm.pendingRefferes}}
                                        
                                    </div><div class="clearfix"></div>
                                </div-->

                        

                                <div class="form-group" style="display: {{ vm.reffer.membershipDetails.plan_name ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Plan Name:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.membershipDetails.plan_name}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" style="display: {{ vm.reffer.membershipDetails.amount ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Amount:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.membershipDetails.amount}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" style="display: {{ vm.reffer.membershipDetails.offers_limit ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Offers Limit:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.membershipDetails.offers_limit}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" style="display: {{ vm.reffer.membershipDetails.refferer_limit ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Refferer Limit:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.membershipDetails.refferer_limit}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group" style="display: {{ vm.reffer.membershipDetails.duration ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Duration:</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        {{vm.reffer.membershipDetails.duration}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                </div>

                        </div>




                            <!-- </div> -->
                        </div>
                    </div>
                <!-- </div> -->
                <!--div class="list-controls footer">

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 pull-right txt_right">
                        <input type="submit" value="Accept" class="btn login" ng-click="vm.acceptProfile(vm.user._id);">
                    </div>

                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-5 pull-right txt_right">

                        <a class="btn btn-default abtncancelinner" ng-click="vm.rejectPopup()">Reject</a>

                    </div>
                </div>
            </div-->
    </div>

</section>
<!--div class="popup2 instant-call-container">
    <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
    <form>
        <div class="form-gp"> 
            <img src="images/bin.png" class="margin_auto icon_top"><br>
            <p class="title_txt">Are You Sure ?</p>
            <p>Are you sure that you want to reject this <br>
             refferer.</p>
             <p><textarea class="form-control input-md profile_field" name="address" placeholder="Comment" ng-model="vm.reject.reason" required rows="2"></textarea></p>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
        <button type="submit" class="button_delete" ng-click="vm.rejectRefferer();">REJECT</button>
    </form>
    <br>
</div-->

</section>

