<div class="offer-dashboard">
    <div class="offer_block">
        <!-- Nav tabs --><div class="card">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a data-target="#home" aria-controls="home" role="tab" data-toggle="tab" ng-click="vm.acceptedRefferers();">Your Referrers</a></li>
            <li role="presentation"><a data-target="#profile" aria-controls="profile" role="tab" data-toggle="tab" ng-click="vm.listAllRefferers();">Referrers</a></li>

        </ul>
        <!--    FIRST TAB      -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
            <div class="row">
				<div class="list-controls">
				<form name="abc" action="">
				<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-select-box">
					  <select class="selectpicker" ng-model="vm.propertyName">
						<option value="">Select Filter</option>
                        <option value="personalInfo.name">By name</option>
                        <option value="email">By email</option>
					  </select>
					  <input type="button" value="filter">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-serch-box">
						<input type="text" placeholder="Search" ng-model="vm.searchquery" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch1').click()"><input type="button" value="Search" id="btnSearch1" ng-click="vm.searchRefferer(vm.searchquery,'accepted')" >
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
				</form>
				</div>
				</div>
				<div class="row">
				<div class="list-table table-responsive">
				<table>
				<thead>
					<tr>
						<th class="lt-col1">NAME/ADDRESS</th>
						<th class="lt-col2">Email</th>
						<th class="lt-col5">Action</th>
						<th class="lt-col6">&nbsp;</th>
					</tr>
				    </thead>
				    <tbody>
					<tr ng-repeat="user in vm.user  | orderBy: vm.propertyName" >
						<td>
							<img onerror="this.src='images/thumbnail.jpg'" ng-src="{{user.personalInfo.profileImg}}"  height="64" width="64" alt="user" class="lt-userimg ">
							<span class="lt-username">
								{{user.personalInfo.name}}
							</span><span class="lt-address">{{user.address.address}}</span></td>
						<td>{{user.email}}</td>
						<td><a href="javascript:void(0)" ng-click="vm.rejectPopup(user._id,'accepted',$index)" title="Reject">Reject</a> | <a href="javascript:void(0)" ui-sref="anon.referrerals({refferer_id: '{{user._id}}'})" title="View Referrals">Referrals</a></td>
						<td><a href="javascript:void(0);" ui-sref="anon.refferer({refferer_id_profile: '{{user._id}}'})" title="View"><img src="images/lt-rgt-arrow.png" alt=""></a></td>
					</tr>
					<tr ng-show="vm.users.length==0">
	                    <td>No records found.</td>
	                    <td></td>
	                    <td></td>
	                    <td></td> 
	                    <td></td>
               		</tr>
					
				    
				    </tbody>
				</table>
				<ul uib-pagination boundary-links="true" total-items="vm.totalItems" num-pages="vm.noofPages" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChanged()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
				</div>
				</div>

            </div>

            <!--    SECOND TAB            -->
            <div role="tabpanel" class="tab-pane" id="profile">
               
            <div class="row">
				<div class="list-controls">
				<form name="abc" action="">
				<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-select-box">
					  <select class="selectpicker" ng-model="vm.propertyPastName">
						<option value="">Select Filter</option>
                        <option value="personalInfo.name">By name</option>
                        <option value="email">By email</option>
					  </select>
					  <input type="button" value="filter">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-serch-box">
						<input type="text" placeholder="Search" ng-model="vm.searchquery"><input type="button" value="Search" ng-click="vm.searchRefferer(vm.searchquery,'all')">
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
				</form>
				</div>
				</div>
				<div class="row">
				<div class="list-table table-responsive">
				<table>
				<thead>
					<tr>
						<th class="lt-col1">NAME/ADDRESS</th>
						<th class="lt-col2">Email</th>
						<th class="lt-col5">Accept/Reject</th>
						<th class="lt-col6">&nbsp;</th>
					</tr>
				    </thead>
				    <tbody>
				   	<tr ng-repeat="alluser in vm.alluser  | orderBy: vm.propertyPastName"">
						<td>
							<img onerror="this.src='images/thumbnail.jpg'" ng-src="{{alluser.personalInfo.profileImg}}"  height="64" width="64" alt="user" class="lt-userimg ">
							<span class="lt-username">
								{{alluser.personalInfo.name}}
							</span><span class="lt-address">{{alluser.address.address}}</span></td>
						<td>{{alluser.email}}</td>
						<td><a href="javascript:void(0)" ng-click="vm.acceptProfile(alluser._id,$index,'all');"  title="Accept">Accept</a> | <a href="javascript:void(0)" ng-click="vm.rejectPopup(alluser._id)"  title="Reject">Reject</a></td>
						<td><a href="javascript:void(0);" ui-sref="anon.refferer({refferer_id_profile: '{{alluser._id}}'})" title="View"><img src="images/lt-rgt-arrow.png" alt=""></a></td>
					</tr>
				    </tbody>
				</table>
				<ul uib-pagination boundary-links="true" total-items="vm.totalItemsAll" num-pages="vm.noofPagesAll" max-size="vm.maxsizeAll" items-per-page ="vm.itemsPerPageAll"  ng-model="vm.currentPageAll" ng-change="vm.pageChangedAll()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>

				</div>
				</div>
                                        
            </div>
            
        </div>
</div>

</div>
                   
</div>
<div class="popup2 instant-call-container">
    <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
    <form>
        <div class="form-gp"> 
            <img src="images/bin.png" class="margin_auto icon_top"><br>
            <p class="title_txt">Are You Sure ?</p>
            <p>Are you sure that you want to reject this <br>
             referrer.</p>
             <p><textarea class="form-control input-md profile_field" name="address" placeholder="Comment" ng-model="vm.reject.reason" required rows="2"></textarea></p>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
        <button type="submit" class="button_delete" ng-click="vm.rejectRefferer();">REJECT</button>
    </form>
    <br>
</div>
