<div class="offer-dashboard">
<div class="row">
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <h1>{{vm.user.personalInfo.name}} Referrals</h1>
                    </div>
                </div>
    <div class="offer_block">
        
            <div class="row">
				<div class="list-controls">
				<form name="abc" action="">
				<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-select-box">
					  <select class="selectpicker" ng-model="vm.propertyName">
						<option value="">Select Filter</option>
                        <option value="personalInfo.name">By name</option>
                        <option value="email">By email</option>
					  </select>
					  <input type="button" value="filter">
					</div>
				</div>
				<div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
					<div class="lc-serch-box">
						<input type="text" placeholder="Search" ng-model="vm.searchquery" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch1').click()"><input type="button" value="Search" id="btnSearch1" ng-click="vm.searchCoupon(vm.searchquery)" >
					</div>
				</div>
				<div class="clearfix"></div>
				</div>
				</form>
				</div>
				</div>
				<div class="row">
				<div class="list-table table-responsive">
				<table>
				<thead>
					<tr>
						<th class="lt-col4">Email/Mobile</th>
						<th class="lt-col4">Coupon Code</th>
						<th class="lt-col4">Offer</th>
						<th class="lt-col4">Status</th>
						<th class="lt-col4">Earnings</th>
						<th class="lt-col4">Redeemed By</th>
						<th class="lt-col4">Redeemed Date</th>
						<th class="lt-col4"></th>
					</tr>
				    </thead>
				    <tbody>
					<tr ng-repeat="coupon in vm.couponData  | orderBy: vm.propertyName" >
						<td>
							<span class="lt-username">
								{{coupon.email}}
							</span><span class="lt-username">{{coupon.phone}}</span></td>
						<td>{{coupon.couponCode}}</td>
						<td>{{coupon.offerId.offerName}}</td>
						<td>{{coupon.redeemed ? 'Redeemed' : 'Not Redeemed'}}</td>
						<td>{{coupon.referrerEarning ? "$"+coupon.referrerEarning : ''}}</td>
						<td>{{coupon.redeemedBy.personalInfo.name ? coupon.redeemedBy.personalInfo.name : "Not Available"}}</td>
						<td>{{coupon.redeemedDate ? coupon.redeemedDate : "Not Available"}} </td>
						<td>
							<span ng-show="{{coupon.referrerEarningStatus == 'Paid'}}"> Paid </span>
							<select ng-hide="{{coupon.referrerEarningStatus == 'Paid'}}" class="selectpicker" ng-model="vm.paymentStatus" ng-change="vm.changePaymentStatus()">
								<option value="">Select Status</option>
		                        <option value="{{coupon.couponCode}}">Paid</option>
		                   </select>
						</td>
					</tr>
					<tr ng-show="vm.couponData.length==0">
	                    <td>No records found.</td>
	                    <td></td>
	                    <td></td>
	                    <td></td> 
	                    <td></td>
               		</tr>
					
				    
				    </tbody>
				</table>
					<ul uib-pagination boundary-links="true" total-items="vm.totalItems" num-pages="vm.noofPages" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChangedCoupon()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
				</div>
				</div>

            </div>

        </div>

                   
</div>
