<section>
    <div class="user-dashboard view_prof_detail">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                    <img onerror="this.src='images/thumbnail.jpg'" ng-src="{{vm.user.personalInfo.profileImg}}" height=100 width=100 class="profile_pic">
                </div>
                <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 list-controls">
                    <div class="list-controls">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h1>Referrer Profile</h1>
                            </div>
                        </div>

                            <div class="clearfix"></div>
                            <!-- Form Name -->
                            <div class="profile_form">
                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.name.$invalid && !vm.mngprofile.name.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="name">Name</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                        : {{vm.user.personalInfo.name}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.mobileNo.$invalid && !vm.mngprofile.mobileNo.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="mobileNo">Phone</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       : {{vm.user.personalInfo.mobileNo}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" ng-class="{ 'has-error' : vm.mngprofile.email.$invalid && !vm.mngprofile.email.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="email">Email</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                       : {{vm.user.email}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  ng-class="{ 'has-error' : vm.mngprofile.address.$invalid && !vm.mngprofile.address.$pristine }">
                                    <label class="col-lg-4 col-md-4 control-label" for="address">Address</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                      : {{vm.user.address.address}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  style="display: {{ vm.user.address.city ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="city">City</label> 
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{vm.user.address.city}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group" style="display: {{ vm.user.address.zipcode ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="zipcode">Postal Code</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{vm.user.address.zipcode}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <!-- Text input-->
                                <div class="form-group"  style="display: {{ vm.user.address.country ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Country</label>
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{vm.user.address.country}} 
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Total Earnings</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{ vm.earning.referrerEarning ? "$"+vm.earning.referrerEarning : "Not Available"}}
                                        
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Successful Referrals</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{ vm.successRefferer}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Pending Earnings</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{ vm.pendingEarning.referrerEarning ? "$"+vm.pendingEarning.referrerEarning : "Not Available"}}
                                        
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Pending / Unsuccessful Referrals</label>  
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12">
                                        : {{ vm.pendingRefferes}}
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group"  style="display: {{ vm.extraData.salesOwnerApproved ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Approved By</label>
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">
                                        : <span class="ng-binding capitalize">{{vm.extraData.salesOwnerApproved}} </span>
                                    </div><div class="clearfix"></div>
                                </div>

                                <div class="form-group"  style="display: {{ vm.extraData.dateTimeFormat ? 'block' : 'none'}}">
                                    <label class="col-lg-4 col-md-4 control-label" for="country">Added On</label>
                                    <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">
                                        : <span class="ng-binding capitalize">{{vm.extraData.dateTimeFormat}} </span>
                                    </div><div class="clearfix"></div>
                                </div>


                            </div>
                    </div>
                </div>
                <div class="list-controls footer">
                    <div class="row">
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                            <input type="submit" value="Accept" class="btn login" ng-click="vm.acceptProfile(vm.user._id);">
                        </div>
                        <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                            <a class="btn btn-default abtncancelinner" ng-click="vm.rejectPopup(vm.user._id)">Reject</a>
                        </div>
                    </div>
                </div>
            </div>
    </div>

</section>
<div class="popup2 instant-call-container">
    <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
    <form>
        <div class="form-gp"> 
            <img src="images/bin.png" class="margin_auto icon_top"><br>
            <p class="title_txt">Are You Sure ?</p>
            <p>Are you sure that you want to reject this <br>
             referrer.</p>
             <p><textarea class="form-control input-md profile_field" name="address" placeholder="Comment" ng-model="vm.reject.reason" required rows="2"></textarea></p>
        </div>
        <div class="clearfix"></div>
        <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
        <button type="submit" class="button_delete" ng-click="vm.rejectRefferer();">REJECT</button>
    </form>
    <br>
</div>

</section>
