<div class="modal-md">
    <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title">Forgot Password</h4>
        </div>
        <div class="modal-body">
            <div class="popup-pro-ipt">
                <form accept-charset="UTF-8" role="form" class="form-signin" novalidate name="forgotpwdForm" ng-submit="$ctrl.forgotpwd(forgotpwdForm.$valid)" >
                    <div class="form-group" >
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="$ctrl.forgotuser.email" required autofocus>
                        <div class="text-center chc-ttl-inf" ng-show="forgotpwdForm.email.$submitted || forgotpwdForm.email.$touched">
                            <span ng-show="forgotpwdForm.$error.email">Invalid email address.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-pink-2x" value="submit" ng-disabled="forgotpwdForm.$invalid">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

