<!-- SIGNUP MODAL START -->
<div class="" >
    <div class="modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Sign Up Here!</h4>
            </div>
            <div class="modal-body">
                <div class="modal-signup">
                    <div class="row">
                        <div class="col-sm-2"></div>
                        <div class="col-sm-7">
                            <div class="{{$ctrl.status.class}}" style="margin-top:18px;">
                                {{$ctrl.status.message}}
                            </div>
                            <div class="signup-right">
                                <form ng-submit="$ctrl.register($ctrl.signup.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="$ctrl.signup">
                                    <div class="form-group" ng-class="($ctrl.signup.businessName.$invalid && $ctrl.signup.businessName.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="text" name="businessName" class="form-control" placeholder="Business Name" ng-model="$ctrl.user.businessName" required /> 
                                        <i ng-show="$ctrl.signup.businessName.$invalid && $ctrl.signup.businessName.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.businessName.$valid && $ctrl.signup.businessName.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.businessName.$valid && $ctrl.signup.businessName.$dirty"  class="labl-instrct">Great name, {{$ctrl.user.businessName}}!</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.email.$invalid && $ctrl.signup.email.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="email" name="email" class="form-control" placeholder="example@gmail.com" ng-model="$ctrl.user.email" required />
                                        <i ng-show="$ctrl.signup.email.$invalid && $ctrl.signup.email.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.email.$valid && $ctrl.signup.email.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.email.$valid && $ctrl.signup.email.$dirty" class="labl-instrct">A confirmation email will be sent here</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.mobileNo.$invalid && $ctrl.signup.mobileNo.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="text" name="mobileNo" class="form-control" placeholder="Contact Phone" ng-model="$ctrl.user.personalInfo.mobileNo" required /> 
                                        <i ng-show="$ctrl.signup.mobileNo.$invalid && $ctrl.signup.mobileNo.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.mobileNo.$valid && $ctrl.signup.mobileNo.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.mobileNo.$valid && $ctrl.signup.mobileNo.$dirty"  class="labl-instrct">Great, {{$ctrl.user.personalInfo.mobileNo}}!</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.address.$invalid && $ctrl.signup.address.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="text" name="address" class="form-control" placeholder="Permanent Address" ng-model="$ctrl.user.address.address" required /> 
                                        <i ng-show="$ctrl.signup.address.$invalid && $ctrl.signup.address.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.address.$valid && $ctrl.signup.address.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.address.$valid && $ctrl.signup.address.$dirty"  class="labl-instrct"> {{$ctrl.user.address.address}}!</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.name.$invalid && $ctrl.signup.name.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="text" name="name" class="form-control" placeholder="Your Name" ng-model="$ctrl.user.personalInfo.name" required /> 
                                        <i ng-show="$ctrl.signup.name.$invalid && $ctrl.signup.name.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.name.$valid && $ctrl.signup.name.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.name.$valid && $ctrl.signup.name.$dirty"  class="labl-instrct">{{$ctrl.user.personalInfo.name}}!</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.password.$invalid && $ctrl.signup.password.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="password" name="password" class="form-control" placeholder="*********" ng-model="$ctrl.user.password" ng-minlength="8" required /> 
                                        <i ng-show="$ctrl.signup.password.$invalid && $ctrl.signup.password.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.password.$valid && $ctrl.signup.password.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.password.$invalid && $ctrl.signup.password.$dirty" class="labl-instrct">Your password is too short. Try again</label>
                                    </div>
                                    <div class="form-group" ng-class="($ctrl.signup.position.$invalid && $ctrl.signup.position.$dirty) ? 'labl-wrng' : ''" >
                                        <input type="text" name="position" class="form-control" placeholder="Position" ng-model="$ctrl.user.position" required /> 
                                        <i ng-show="$ctrl.signup.position.$invalid && $ctrl.signup.position.$dirty" class="chkbx-ipt"></i>
                                        <i ng-show="$ctrl.signup.position.$valid && $ctrl.signup.position.$dirty" class="chkbx-ipt"></i>
                                        <label ng-show="$ctrl.signup.position.$valid && $ctrl.signup.position.$dirty"  class="labl-instrct">{{$ctrl.user.position}}!</label>
                                    </div>
                                    <div class="form-action">
                                        <input class="btn" type="submit" value="SignUp!" ng-disabled="$ctrl.signup.$invalid" />
                                        </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SIGNUP MODAL END -->





