<!--<div class="modal-md">
     Modal content
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Log In</h4>
        </div>
        <div class="modal-body">
            <div class="popup-pro-ipt">
                <div class="chc-ttl-inf" ng-show="$ctrl.status">
                    <span>{{$ctrl.status.message}}</span>
                </div>
                <form accept-charset="UTF-8" role="form" class="form-signin" novalidate name="loginForm" ng-submit="$ctrl.loginUser(loginForm.$valid)" >
                    <div class="form-group" ng-show="!$ctrl.last">
                        <input type="email" name="email" class="form-control" placeholder="Email" ng-model="$ctrl.user.email" required autofocus>
                        <div class="text-center chc-ttl-inf" ng-show="loginForm.email.$submitted || loginForm.email.$touched">
                            <span ng-show="loginForm.$error.email">Invalid email address.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" class="form-control" placeholder="Password" ng-model="$ctrl.user.password" required >
                        <div class="text-center chc-ttl-inf" ng-show="loginForm.password.$submitted || loginForm.password.$touched">
                            <span ng-show="loginForm.password.$error.required">Password is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" class="btn btn-pink-2x" value="Log in" ng-disabled="loginForm.$invalid">
                    </div>
                    <div class="forgot-passwd">
                        <a href="javascript:void(0);" ng-click="$ctrl.whichmoadal(3)">Forgot Password</a>
                    </div>
                    <div class="dnt-hv-acnt">
                        <a href="javascript:void(0);" ng-click="$ctrl.newuserlogin(1);">Don’t have an account? Sign up today!</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>-->
<ul class="dropdown-menu over">
                <li><input type="text" name="email" value="Email" onFocus="if (this.value == this.defaultValue) {
                                        this.value = '';
                                    }" onBlur="if (this.value == '') {
                                                this.value = 'Email';
                                            }" class="form-control email"></li>
                <li><input type="text" name="password" value="Password" onFocus="if (this.value == this.defaultValue) {
                                        this.value = '';}" onBlur="if (this.value == '') {
                                                    this.value = 'Password';
                                                }" class="form-control password second"></li>
                <li><a href="#">Forgot Password?</a></li>
                <li>
                    <button type="button" class="btn login_btn">LogIn</button>
                    <a href="#" class="newuser">New User?</a>
                </li>
            </ul> 