<div ng-controller="HeaderController as vm">
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" ui-sref="admin.dashboard">
            <img src="images/logo.png" alt="merkery_logo" class="hidden-xs hidden-sm"></a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">
            <li class="dropdown">
                <a href="javascript.void(0);" class="dropdown-toggle" data-toggle="dropdown">

                <i ng-if= "loggedAdmin.personalInfo.profileImg !=''" >
                <img ng-src="{{loggedAdmin.personalInfo.profileImg}}" height=20 width=20/>
                </i>

                 {{loggedAdmin.personalInfo.name}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="#" ui-sref="admin.profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <!--li>
                        <a ><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                    </li>
                    <li>
                        <a ><i class="fa fa-fw fa-gear"></i> Settings</a>
                    </li-->
                    <li class="divider"></li>
                    <li>
                        <a href="#" ng-click="vm.logout();"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li><!--  class="active" -->
                    <a href="javascript.void(0);" ui-sref="admin.dashboard"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                </li>
                <li>
                    <a href="javascript.void(0);" ui-sref="admin.owners"><i class="fa fa-user"></i> Employees Management</a>
                </li>

                <li>
                    <a href="javascript.void(0);" ui-sref="admin.businessowners"><i class="fa fa-user"></i> Business Owners Management</a>
                </li>

                <li>
                    <a href="javascript.void(0);" ui-sref="admin.pages"><i class="fa fa-file"></i> Pages Settings</a>
                </li>
                <li>
                    <a href="javascript.void(0);" ui-sref="admin.getMembershipPlans"><i class="fa fa-fw fa fa-usd"></i> Membership Plans</a>
                </li>
                <li>
                    <a href="javascript.void(0);" ui-sref="admin.profile"><i class="fa fa-fw fa fa-cog"></i> Settings</a>
                </li>
                <li>
                    <a href="javascript.void(0);" ui-sref="admin.userlist"><i class="fa fa-user"></i> Referrer Management</a>
                </li>
<!--                <li>
                    <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                    <ul id="demo" class="collapse">
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                        <li>
                            <a href="#">Dropdown Item</a>
                        </li>
                    </ul>
                </li>-->
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</div>