<!-- Left side column. contains the logo and sidebar -->
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <ul class="sidebar-menu">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a ui-sref="admin.dashboard">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span> </i>
          </a>
         
        </li>
    
        
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-users"></i> <span>User Management</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addtutor"><i class="fa fa-circle-o"></i> Add a new user</a></li>
            <li><a ui-sref="admin.tutors"><i class="fa fa-circle-o"></i> List all users</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-users"></i> <span>Offers</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addlearner"><i class="fa fa-circle-o"></i> Add a new offer</a></li>
            <li><a ui-sref="admin.learners"><i class="fa fa-circle-o"></i> List all offers</a></li>
          </ul>
        </li>
          <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-university"></i> <span>Roles</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addinstitution"><i class="fa fa-circle-o"></i> Add a new role</a></li>
            <li><a ui-sref="admin.institutions"><i class="fa fa-circle-o"></i> List all roles</a></li>
          </ul>
        </li>
        
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-book"></i> <span>Products</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
            <li><a ui-sref="admin.addsubject"><i class="fa fa-circle-o"></i> Add a new product</a></li>
            <li><a ui-sref="admin.subjects"><i class="fa fa-circle-o"></i> List all products</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-map-marker"></i> <span>Business Owners</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addspecialisedarea"><i class="fa fa-circle-o"></i> Add a new owner</a></li>
            <li><a ui-sref="admin.specialisedareas"><i class="fa fa-circle-o"></i> List all owners</a></li>
          </ul>
        </li>
         <li class="treeview">
          <a href="javascript:void(0);">
            <i class="fa fa-map-marker"></i> <span>Settings</span> <i class="fa fa-angle-left pull-right"></i>
          </a>
          <ul class="treeview-menu">
           <li><a ui-sref="admin.addexpertise"><i class="fa fa-circle-o"></i> Add a new setting</a></li>
            <li><a ui-sref="admin.expertises"><i class="fa fa-circle-o"></i> List all settings</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
 