/*Main CSS*/
@media only screen and (min-device-width: 998px) and (max-device-width: 1350px) {
#navigation .logo img {max-width: 130px;padding: 16px 0 17px;width: 100%;}
.profile_form .control-label{ font-size:13px;}
}

@media only screen and (max-width:1200px) {
.profile_form .control-label{ font-size:12px;}
.list-controls h1{ font-size:29px;}
.profile_pic{ width:158px; height:161px;}
.form-control{ font-size:13px;}
}

@media only screen and (max-width:1024px) {
.table-responsive{width:780px; margin: 0 auto 50px;}
.table-responsive table{min-width:800px;}
}

@media only screen and (max-device-width: 992px) {
.header_back .header-top li{padding-left: 20px !important;padding-right: 0;margin-right:0;}
.header_back .header-top .dropdown.hid_menu li{padding-left: 0px !important;}
.header_back .logo img {max-width: 125px !important;}
.profile_form .control-label{ font-size:16px;}
}

@media only screen and (max-width: 991px) {
.lli_userimg , .lli_usermane{display: none!important;}
.lli_userlogbtn{width: 40px; height: 40px; margin-bottom: 0; padding: 0; vertical-align:top;  text-indent: -8000px; overflow: hidden; background:#fff url(../../images/log_out.png) no-repeat 3px 3px / 33px 32px;}
.table-responsive{width:580px; margin: 0 auto 50px;}
}

@media only screen and (max-device-width: 800px) {
.user-dashboard{margin-left: 15px; margin-right: 15px; padding: 10px 30px;}
.profile_form .form-group{ padding-bottom:4%; margin-bottom:10px;}
.profile_form .form-group .pad_bot_pass{ padding-bottom:1%}
}


@media only screen and (min-device-width: 767px) and (max-device-width: 998px) {
.user-dashboard .header-top {padding-top: 5px;}
.user-dashboard .header-rightside {display: inline-block;float: left;width: 100%;}
.user-dashboard .header-rightside .header-top img {max-width: 41px !important;}
.user-dashboard .sales button {font-size: 10px;}
.user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {font-size: 12px;}
.user-dashboard .sales h2 {font-size: 15px;}
}

@media only screen and (min-device-width:768px) {
#navigation.narrow_nav.col-md-2{width:8.33333%;}
.main_cont.col-md-10{width:91.6667%;}
#navigation.narrow_nav .logo img.hidden-xs.hidden-sm{display:none;}
#navigation.narrow_nav .navi a {font-size:14px;padding:20px;text-align:center;}
#navigation.narrow_nav .navi a span{display:none;}
#navigation.narrow_nav .navi i {margin-right:0px;}
#navigation.narrow_nav .navi a:hover, #navigation.narrow_nav .navi .active a {border-left:none;display:block;padding-left:20px;}

}
@media only screen and (max-device-width: 767px) {
.login-logo img {margin: 0 auto;}
.login-details .nav-tabs > li {text-align: center;width: 50%;}
.login-signup .login-inner h1 {font-size: 26px;margin-bottom: 0;margin-top: 10px;}
.login-inner .login-form input {font-size: 15px;max-width: 100%;padding: 15px 45px;}
.login-inner .form-details {padding: 25px;}
.login-inner .login-form label {margin-bottom: 20px;width: 100%;}
.login-inner .form-btn {margin: 0;max-width: 180px;}
.tab-content .tab-pane {padding: 20px 0;}
#navigation .navi a {font-size: 14px;padding: 20px;text-align: center;}
#navigation .navi i {margin-right: 0px;}
#navigation .navi a:hover, #navigation .navi .active a {border-left: none;display: block;padding-left: 20px;}
.v-align .header_back {padding: 12px 15px;}
.header_back .header-top li {padding-left: 13px;padding-right: 6px;}
.navbar-default .navbar-toggle {border-color: rgba(0, 0, 0, 0);}
.navbar-header .navbar-toggle {float: left;margin: 0;padding: 0;top: 12px;}
button, html [type="button"], [type="reset"], [type="submit"] {outline: medium none;}
.user-dashboard .sales h2 {color: #8492af;float: left;font-size: 14px;font-weight: 600;margin: 0;padding: 13px 0 0;}
.user-dashboard .btn.btn-secondary.btn-lg.dropdown-toggle > span {font-size: 11px;}
.user-dashboard .sales button {font-size: 11px;padding-right: 23px;}
.user-dashboard .sales h2 {font-size: 12px;}
.gutter {padding: 0;}
.navbar-toggle.srb_menu_toggle{display:none;}
.logo {min-width: 52px;}
.table-responsive{width:560px;}
.table-responsive table{min-width:800px;}
input[type="file"]{width: 100%;}
.add-new-offer-img img {margin-bottom: 15px;}
.add-new-offer-img .cross-span img {margin-bottom:0;}
.user-login-box{margin-top: 8rem;}
}

@media only screen and (max-device-width: 736px) {
.table-responsive{width:470px;}
}

@media only screen and (max-device-width: 640px) {
.logo {min-width: 60px;}
.table-responsive{width:395px;}
}

@media only screen and (max-device-width: 568px) {
.table-responsive{width:340px;}
.offer_block {margin-left: -15px;margin-right: -15px;}
.offer_block .nav-tabs > li{width: 100%;}
.offer_block .nav-tabs>li>a {width: 100% !important; margin-bottom: 5px; border-radius:0 !important;}
.user-dashboard, .offer-dashboard {padding: 25px 40px;}
}

@media only screen and (max-device-width: 480px) {
.list-controls h1{ font-size:24px;}
.table-responsive{width:250px;}
.abtncancelinner{padding-right: 0;}
.offer_block .tab-content{padding: 20px;}
}


@media only screen and (max-device-width: 375px) {
.logo {min-height: 40px;}
.table-responsive{width:240px;}
.user-dashboard, .offer-dashboard {margin:10px 15px 100px !important;padding: 25px 35px;}
.list-controls input[type="button"].add_btn_profile,
.list-controls input[type="button"].add_btn_delete{min-width:150px;}
}

@media only screen and (max-device-width: 360px) {
.list-controls h1{ font-size:20px;}
.table-responsive{width:200px;}
.lc-select-box .selectpicker/*, .list-controls input[type="text"]*/{padding:0 90px 0 10px;}
.list-controls .profile_form input[type="text"]{padding-left: 10px;}
.list-controls .date-sec input[type="text"]{padding-left: 32px;}
.lc-select-box .selectpicker{background-position: calc(100% - 85px) center;}
.list-controls input[type="button"]{width: 80px;}
.profile_form .material-switch > label{margin: 0px 0px 20px;}
.profile_form .material-switch .desc-txt{position: relative;left: unset;display: block;width: 100%;}
}

@media only screen and (max-device-width: 320px) {
.list-controls h1{ font-size:20px;}
}