/* Custome CSS [16-1-2017] */
html, body {height: 100%;font-family: "Lato", sans-serif;}

/*Main CSS*/
/*Login Signup Page*/
a:focus,
a:hover,
a {
    outline: none;
    text-decoration: none;
}
li,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.header-top i {
    font-size: 18px;
}
.bg-image {
    background: url(../../images/background-login.jpg) no-repeat 0 0 / cover;
    position: relative;
    width: 100%;
    height: 100vh;
    display: table;
}
.login-header {
    display: inline-block;
    width: 100%;
    background: #0e1a35;
}
.login-signup {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
}
.login-logo img {
    cursor: pointer;
    max-width: 171px;
    padding: 23px 15px 22px;
    width: 100%;
}
.login-header .navbar-right {
    margin-right: 0px;
}
.login-header .nav-tabs > li.active > a,
.login-header .nav-tabs > li.active > a:focus,
.login-header .nav-tabs > li.active > a:hover {
    background-color: transparent;
    border: none;
    color: #fff;
}
.login-header .nav-tabs > li > a {
    border: medium none;
    border-radius: 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    padding: 15px 30px;
    color: #fff;
}
.login-header .nav-tabs {
    border-bottom: none;
}
.login-header .nav-tabs > li {
    margin-bottom: 0px;
}
.login-header .nav > li > a:focus,
.login-header .nav > li > a:hover {
    background: none;
    text-decoration: none;
}
.login-header .nav-tabs > li.active {
    border-bottom: 6px solid #5584ff;
}
.login-inner h1 {
    color: #8492af;
    font-size: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 0;
    margin-bottom: 20px;
}
.login-inner h1 span {
    color: #5584ff;
}
.login-form {
    text-align: center;
}
.login-form input {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #d4d9e3;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    color: #8492af;
    padding: 15px 50px;
    font-size: 17px;
    max-width: 550px;
}
.login-form label {
    margin-bottom: 30px;
    width: 100%;
}
.user input {
    background: rgba(0, 0, 0, 0) url("../../images/user.png") no-repeat scroll 7px 12px;
}
.pass input {
    background: rgba(0, 0, 0, 0) url("../../images/password.png") no-repeat scroll 7px 12px;
}
.mail input {
    background: rgba(0, 0, 0, 0) url("../../images/mail.png") no-repeat scroll 4px 12px;
}
.login-signup .tab-content {
    background: #ffffff none repeat scroll 0 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
    display: inline-block;
    margin-top: -8px;
    width: 100%;
}
.form-btn {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-weight: 400;
    max-width: 250px;
    padding: 10px 0;
    position: relative;
    width: 100%;
    margin: 40px 0;
    box-shadow: 0 2px 8px #d2d2d2;
    -moz-box-shadow: 0 2px 8px #d2d2d2;
    -webkit-box-shadow: 0 2px 8px #d2d2d2;
}
.form-btn::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 17px;
    top: 9px;
}
.form-details {
    padding: 35px 0;
}
.tab-content .tab-pane {
    padding: 50px 0;
}
/*Login Signup Page*/
/*Home Page*/

.home {
    height: 100%;
    background: #f6f7fa;
}
#navigation {
    /*background: #0e1a35;*/
	background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
	background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
	background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
	background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
	background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */
}
#navigation {
    padding: 0;
}
.display-table {
    display: table;
    padding: 0;
    height: 100%;
    width: 100%;
}
.display-table-row {
    display: table-row;
    height: 100%;
}
.display-table-cell {
    display: table-cell;
    float: none;
    height: 100%;
}
.v-align {
    vertical-align: top;
}
.logo img {
    max-width: 180px;
    padding: 0px 0;
    width: 100%;
    margin: 0 auto;
    vertical-align: middle;
    display: inline;
}
.header-top {
    margin: 0;
    padding-top: 2px;
}
.header-top img {
    /*border-radius: 50%;*/
    max-width: 28px !important;
    width: 100%;
    margin-right: 15px;
    display: inline;
        height: 28px;
}
.add-project {
    background: #5584ff none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 27px 10px 45px;
    position: relative;
}
.header-rightside .nav > li > a:focus,
.header-rightside .nav > li > a:hover {
    background: none;
    text-decoration: none;
}
.add-project::before {
    background: rgba(0, 0, 0, 0) url("../../images/plus.png") no-repeat scroll 0 0;
    content: "";
    ;
    height: 12px;
    left: 17px;
    position: absolute;
    top: 12px;
    width: 12px;
}
.add-project:hover {
    color: #ffffff;
}
.header-top i {
    color: #0e1a35;
}
.icon-info {
    position: relative;
}
.navi i {
    font-size: 20px;
}
.label.label-primary {
    border-radius: 50%;
    font-size: 9px;
    left: 8px;
    position: absolute;
    top: -9px;
}
.icon-info .label {
    border: 2px solid #ffffff;
    font-weight: 500;
    padding: 3px 5px;
    text-align: center;
}
.header-top li {
    display: inline-block;
    text-align: center;
	margin-right:45px;
}
.header-top li.dropdown {margin-right:0;}
.header-top .dropdown-toggle {
    color: #fff;
}
.header-top .dropdown-menu {
    border: medium none;
    left: inherit;
    right: 10px;
    padding: 17px;
}
.view {
    background: #4da8dd none repeat scroll 0 0;
    border-radius: 100px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
    padding: 7px 25px;
}
.navbar-content > span {
    font-size: 13px;
    font-weight: 700;
}
.img-responsive {
    width: 100%;
}
#navigation {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.search input {
    border: none;
    font-size: 15px;
    padding: 15px 9px;
    width: 100%;
    background: rgba(0, 0, 0, 0) url("../../images/search.png") no-repeat scroll 99% 12px;
    color: #8492af;
}
.header_back {
    position:relative;
	background: #000 url("../../images/dash_head_bg.jpg") no-repeat 0 0;background-size: cover;
    box-shadow: 0 1px 12px rgba(0, 0, 0, 0.04);
    /*display: inline-block !important;*/
    line-height: 23px;
    padding: 15px;
    transition: all 0.5s ease 0s;
    width: 100%;
	 min-height: 72px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    
background: #7db9e8; /* Old browsers */
background: -moz-linear-gradient(top, #7db9e8 5%, #1e5799 99%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7db9e8 5%,#1e5799 99%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7db9e8 5%,#1e5799 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#1e5799',GradientType=0 ); /* IE6-9 */

}
.header_back::before {
    /*background: rgba(0, 0, 0, 0.4) none repeat scroll 0 0;*/
    bottom: 0;
    content: " ";
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.header_back a{color:#fff;}
.header_back a:hover{color:#fff;}
.logo {
    text-align: center;
    /*background:#419dd2;*/
    min-height: 72px;
    line-height: 72px;
    min-width: 73px;
}
.navi a {
    /*border-bottom: 1px solid #5ba1d6;*/
    border-top: 1px solid rgba(255,255,255,.15);
    color: #ffffff;
    display: block;
    font-size: 13px;
    font-weight: 400;
    padding: 15px 20px;
    text-decoration: none;
	background:url("../../images/lft-mnu-arrow.png") 95% center no-repeat;
}
.navi li:last-child a {
    border-bottom: 1px solid rgba(255,255,255,.15);
}
.navi i {
    margin-right: 15px;
    color: #fff;
}
.navi .active a {
    background-color: rgba(255,255,255,.15);
	border-left: 4px solid #fff;
    padding-left: 16px;
}
.navi a:hover {
    background-color: rgba(255,255,255,.15);
    border-left: 4px solid #fff;
    display: block;
    padding-left: 16px;
}
.navbar-default {
    /*background-color: #ffffff;
    border-color: #ffffff;*/
	background-color: rgba(0,0,0,0);
    border-color: rgba(0,0,0,0);
}
.navbar-toggle {
    border: none;
	padding:6px 10px 0;
}
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.circle-logo {
    margin: 0 auto;
    padding: 16px 0px 17px !important;
    max-width: 30px !important;
    text-align: center;
}
.hidden-xs {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.user-dashboard {
    margin:18px 5px 200px;
	padding: 25px 40px;
	background:#fff; 
}
.user-dashboard h1 {
    color: #0e1a35;
    font-size: 30px;
    font-weight: 500;
    margin: 0;
    padding: 21px 0;
}
.sales {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #d4d9e3;
    display: inline-block;
    padding: 15px;
    width: 100%;
}
.sales button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 1px solid #dadee7;
    border-radius: 100px;
    font-size: 15px;
    letter-spacing: 0.5px;
    padding-right: 32px;
    color: #0e1a35;
}
.sales button::before {
    content: "";
    font-family: FontAwesome;
    position: absolute;
    right: 12px;
    top: 11px;
}
.sales .btn-group {
    float: right;
}
.sales h2 {
    color: #8492af;
    float: left;
    font-size: 21px;
    font-weight: 600;
    margin: 0;
    padding: 9px 0 0;
}
.btn.btn-secondary.btn-lg.dropdown-toggle > span {
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.5px;
}
.sales .dropdown-menu {
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-radius: 8px;
    width: 100%;
    color: #0e1a35;
}
.sales .btn-group.open .dropdown-toggle,
.btn.active,
.btn:active {
    box-shadow: none;
    text-decoration: none !important;
}
.sales .dropdown-menu > a {
    color: #0e1a35;
    display: inline-block;
    font-weight: 800;
    padding: 9px 0;
    text-align: center;
    width: 100%;
}
#my-cool-chart svg {
    width: 100%;
}
.sales .dropdown-menu > a:hover {
    color: #5584FF;
}
.shield-buttons {
    display: none;
}
.close,
.close:focus,
.close:hover {
    color: #fff;
    ;
    opacity: 1;
    text-shadow: none;
}
.modal-body input {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    margin: 5px 0;
    padding: 14px 10px;
    width: 100%;
    color: #8492af;
}
.modal-body textarea {
    border: 1px solid #d4d9e3;
    font-size: 14px;
    font-weight: 300;
    height: 200px;
    margin-top: 5px;
    padding: 9px 10px;
    width: 100%;
    color: #8492af;
}
.modal-header.login-header h4 {
    color: #ffffff;
}
.modal-footer .add-project {
    background: #5584ff none repeat scroll 0 0;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal-footer .add-project::before {
    display: none;
}
.modal-footer {
    border: 0 none;
    padding: 10px 15px 26px;
    text-align: right;
}
.cancel {
    background: #0E1A35;
    border: medium none;
    border-radius: 100px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 30px;
    position: relative;
}
.modal {
    top: 20%;
}
.modal-header .close {
    margin-top: 2px;
}
.search input:focus {
    border-bottom: 1px solid #BDC4D4;
    line-height: 22px;
    transition: 0.1s all;
}
.modal-header.login-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
/* Custome CSS [16-1-2017] */
.navbar-toggle.srb_menu_toggle{display:block;}

.lft_lgn_info{padding:20px 10px;text-align:center;}
.lli_userimg{display:inline-block; margin:0 auto 15px; width:68px; height:68px; /*border-radius:50%;*/overflow:hidden;}
.lli_usermane{padding-bottom:15px; font-size:18px; color:#fff;}
.lli_userlogbtn{display:inline-block; margin-bottom:20px; padding:9px 30px; font-size:15px; color:#39a3b9; font-weight:900; text-transform:uppercase; line-height:15px; background:#fff;border-radius:20px;}

.lft-mnu{display: inline-block; width:18px; height:18px; background: url(../../images/lft-mnu-icons.png); background-repeat:no-repeat;}
.lft-mnu-manage_sales_managers{background-position:0 0;}
.lft-mnu-manage_profile{background-position:0 -30px;}
.lft-mnu-payment_plan{background-position:0 -60px;}
.lft-mnu-manage_referrers{background-position:0 -90px;}
.lft-mnu-manage_offers{background-position:0 -120px;}
.lft-mnu-manage_store_managers{background-position:0 -150px;}
.dwnarrow{display: inline-block;height: 9px;margin-left: 5px;vertical-align: middle;width: 14px;	background: url(../../images/lft-mnu-arrow2.png) 0 0 no-repeat;}

.main_cont{position:relative;/*padding-bottom:200px;*/}
.list-controls{/*clear:both;*/ margin-bottom:15px; padding:10px 0;}
.lc-select-box{position:relative; display:inline-block; width:100%; height:36px; margin-bottom:10px; line-height:36px; background:#f2f1f1; border:1px solid #e1e1e1; border-radius:50px;overflow: hidden;}
.lc-select-box .selectpicker,
.list-controls input[type="text"]{width:100%; height:34px;margin:0;padding:0 10px; background:none; font-size:13px; color:#949494; font-weight:600;border:0 none;}
.lc-select-box .selectpicker{padding:0 120px 0 10px;background:rgba(255,255,255,0) url(../../images/lft-mnu-arrowsolid.png) calc(100% - 130px) center no-repeat;vertical-align: top;}
.lc-select-box .selectpicker option{width:calc(100% - 130px); padding: 4px 0;}
.list-controls input[type="button"]{position:absolute;right:0; top:0; width:120px; height:36px; font-size:14px; color:#fff; font-weight:700; text-transform:uppercase; /*background:#4da8dd;*/
                                background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
                                    border:0 none; border-radius:0px 50px 50px 0px;}
.list-controls input[type="button"]:hover{background-color:#305da9;}



@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,.lc-select-box .selectpicker{ width:67%;

    } 
}




.lc-serch-box{position:relative;display:inline-block; width:100%;margin-bottom:10px;}
.list-controls input[type="text"]{width:100%;height:36px !important;margin:0; padding-left:36px; background:#fff url(../../images/icon_search.png) 15px center no-repeat;border:1px solid #e1e1e1;border-radius:50px;}
.list-controls input[type="submit"] {
    height: 36px;
    margin: 0 0 10px 0;
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 180px;
    border-radius: 50px;
    border: none;
    padding-left: 0px;
}
.lc-select-box input[type="button"]{right:-1px; top:-1px;}
.txt_right{text-align:right;}
.list-controls input[type="button"].add_btn{position:relative;width:100%; max-width:180px;border-radius:50px;}

.list-table table{margin-bottom:15px; color:#5c5c5c; font-weight:600; width:100%;border-bottom:2px solid #e1e1e1;}
.list-table th{padding:8px 25px;font-size:16px; color:#6d6e71; text-transform:uppercase;background:#dcddde;border:1px solid #dcddde; border-width:0 1px;}
.lt-col1{width:45%;}
.lt-col2{width:30%;}
.lt-col3{width:10%;}
.lt-col4{width:10%;}
.lt-col5{width:5%;}
.list-table tr{border:1px solid #f2f1f1; border-width:0 1px;}
.list-table tr:nth-child(2n+1){background:#f2f1f1;}
.list-table td{padding:15px 25px; font-size:18px;vertical-align:middle;}

.lt-userimg{overflow: hidden; float:left; margin-right:12px;  border:1px solid #ddd; display: inline-block!important; /*border-radius:50%;*/}

.lt-username{display:block;padding-top:5px;}
.lt-address{display:inline-block; padding-left:15px;font-size:13px;font-weight:400; background: url(../../images/icon_add_pin.png) 0 0 no-repeat;}
.lt-icon-edit, .lt-icon-delete{display:inline-block; width:24px; height:24px; text-indent:-8000px; overflow:hidden;}
.lt-icon-edit{background: url(../../images/icon_edit.png) center center no-repeat;}
.lt-icon-delete{background: url(../../images/icon_delete.png) center center no-repeat;}

.main_cont footer{position:absolute; left:0; bottom:0; right:0; width:100%; margin-top:20px; padding:25px;color:#fff; background:#353535;}
.ftr_link a{display:inline-block; margin:0 35px; font-size:14px; color:#fff; font-weight:400;}
.ftr_link a:first-child{margin-left:0;}



/* 19-jan-16 - manage editor   */

.profile_pic{margin-bottom: 10px; border:none; /*-moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%;*/ height:213px; width:211px;}
.list-controls h1{margin-bottom: 10px; padding:0px; color:#5c5c5c;}
.list-controls input[type="button"].add_btn_new{position:relative;width:100%; max-width:180px;border-radius:50px; background:url(../../images/edit_profile.png)13px center no-repeat #4da8dd;
background-image: url(../../images/edit_profile.png), linear-gradient(#305da9, #4eaadf);    background-image: url(../../images/edit_profile.png), -webkit-gradient(linear, left top, left bottom, from(#305da9), to(#4eaadf));    background-image: url(../../images/edit_profile.png), -moz-linear-gradient(top, #305da9, #4eaadf);background-position: 15%;
}


.list-controls input[type="button"].add_btn_border{position:relative;width:100%; max-width:180px; border-radius:50px; /*background:#fff; border:2px solid #49a9e5; color:#49a9e5;*/font-weight: normal;text-transform: capitalize;}
.list-controls input[type="button"].add_btn_border:hover{/*background:#49a9e5;*/
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
    border:none; color:#fff;}
.profile_form{ padding-top:6%;}
.profile_form .form-group{ padding-bottom:5%;}
.profile_form .control-label{ font-size:15px; text-transform:uppercase; color:#919191; font-weight:normal; line-height:33px;}
.list-controls input[type="text"].profile_field{ background:#fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px; border:1px solid #cccccc; padding-left:15px;}
.list-controls input[type="password"].profile_field{ background:none; border:1px solid #cccccc; border-radius:1px;  padding-left:15px;  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.list-controls input[type="email"], .list-controls input[type="number"]{ border:1px solid #cccccc; border-radius:1px;  padding-left:15px;  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.profile_form .material-switch > input[type="checkbox"] {display: none;}
.profile_form .material-switch > label {cursor: pointer; height: 0px; position: relative;  width: 40px;  }
.profile_form .material-switch > label::before { background: rgb(220, 221, 222);/* box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);*/ border-radius: 15px; content: ''; height: 27px; margin-top: -13px; position:absolute; /*opacity: 0.4;*/ transition: all 0.4s ease-in-out; width: 47px;}
.profile_form .material-switch > label::after { background: rgb(255, 255, 255); border-radius: 16px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); content: ''; height: 24px; left: 2px; margin-top: -8px; position: absolute; top: -4px; transition: all 0.3s ease-in-out; width: 24px;}
.profile_form .material-switch > input[type="checkbox"]:checked + label::before {background: inherit; /*opacity: 0.5;*/}
.profile_form .material-switch > input[type="checkbox"]:checked + label::after {background:#fff; left: 20px;}
.profile_form .label-success{ background:#4da8dd !important;}
.profile_form .pad_top{position: relative; padding-top:8px}
.border_grey{ border:1px solid #e2e2e2; width:100%; height:1px}
.user-dashboard .footer { padding:40px 0px 10px;  text-align: right;  border-top: 1px solid #e2e2e2; clear:both;}




/* 23-jan-16 - mebership plan   */

.panel{text-align: center; margin-top:10%;}
.panel:hover { box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4), 0 1px 5px rgba(130, 130, 130, 0.35); }
.panel-body{padding: 0px; text-align: center; background:#ebebeb;}
.the-price{background-color: rgba(235,235,235,1); padding: 20px; margin: 0; }
.the-price h1{line-height: 1em!important;padding: 0!important;margin: 0!important; font-size:40px!important; color:#4aa0d7!important;font-weight: 400 !important; border-bottom: 0 none!important;}

.subscript{font-size: 25px;}

.panel .table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{background: #eee none repeat scroll 0 0; padding:13px; border-top: 1px dashed #d8d8d8; color:#5c5c5c; font-size:16px; font-weight: 400;} 


.panel .panel-heading{ background:url(../../images/membership_headback.jpg) repeat-x #ebebeb; padding:150px 0 0 0; position:relative; }
.panel .panel-heading .silver_back{ background:url(../../images/silver.png) no-repeat; width:152px; height:151px; }
.panel .panel-heading .gold_back{ background:url(../../images/gold.png) no-repeat; width:152px; height:151px; }
.panel .panel-heading .platinum_back{ background:url(../../images/platinum.png) no-repeat; width:152px; height:151px; }

.panel .panel-heading .icon_back{ width:152px; height:151px;margin-left: -76px; position:absolute; left:50%; top:-6px; }

 .panel .panel-title{ font-size:20px!important; color:#9f9f9f!important;font-weight: 400 !important; font-style:italic!important;}

a.panel-footer{/*background:#4da8dd;*/ 
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
    font-size:20px; text-align:center; font-weight:500; display:block; color:#fff; text-decoration:none; cursor:pointer;}
a.panel-footer:hover{ /*background:#3975ba;*/
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */
    color:#fff;
} 


/* CSS-only ribbon styles    */
.cnrflash
{ position: absolute;
    top: -9px;
    right: 4px;
    z-index: 1; /*Set overflow to hidden, to mask inner square*/
    overflow: hidden; /*Set size and add subtle rounding  		to soften edges*/
    width: 100px;
    height: 100px;
    border-radius: 3px 5px 3px 0;
}
.cnrflash-inner
{
    /*Set position, make larger then 			container and rotate 45 degrees*/
    position: absolute;
    bottom: 0;
    right: 0;
    width: 145px;
    height: 145px;
    -ms-transform: rotate(45deg); /* IE 9 */
    -o-transform: rotate(45deg); /* Opera */
    -moz-transform: rotate(45deg); /* Firefox */
    -webkit-transform: rotate(45deg); /* Safari and Chrome */
    -webkit-transform-origin: 100% 100%; /*Purely decorative effects to add texture and stuff*/ /* Safari and Chrome */
    -ms-transform-origin: 100% 100%;  /* IE 9 */
    -o-transform-origin: 100% 100%; /* Opera */
    -moz-transform-origin: 100% 100%; /* Firefox */
    background-image: linear-gradient(90deg, transparent 50%, rgba(255,255,255,.1) 50%), linear-gradient(0deg, transparent 0%, rgba(1,1,1,.2) 50%);
    background-size: 4px,auto, auto,auto;
    background-color: #aa0101;
    box-shadow: 0 3px 3px 0 rgba(1,1,1,.5), 0 1px 0 0 rgba(1,1,1,.5), inset 0 -1px 8px 0 rgba(255,255,255,.3), inset 0 -1px 0 0 rgba(255,255,255,.2);
}
.cnrflash-inner:before, .cnrflash-inner:after
{
    /*Use the border triangle trick to make  				it look like the ribbon wraps round it's 				container*/
    content: " ";
    display: block;
    position: absolute;
    bottom: -16px;
    width: 0;
    height: 0;
    border: 8px solid #800000;
}
.cnrflash-inner:before
{
    left: 1px;
    border-bottom-color: transparent;
    border-right-color: transparent;
}
.cnrflash-inner:after
{
    right: 0;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.cnrflash-label
{
    /*Make the label look nice*/
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    padding-bottom: 5px;
    color: #fff;
    text-shadow: 0 1px 1px rgba(1,1,1,.8);
    font-size: 0.95em;
    font-weight: bold;
    text-align: center;
}


.list-controls input[type="submit"].add_btn,
.add_btn_border_back.pull-right{position:relative; text-align: center; width:100%; max-width:180px;border-radius:50px; color:#fff; border:none; padding-left:0px;
                                background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
}
.list-controls input[type="submit"].add_btn:hover,
.add_btn_border_back.pull-right:hover{/*background:#305da9;*/
                                background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
                                background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
                                background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
                                background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
                                background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
                                background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */  
    
    border:1px; color:#fff;}

.list-controls input[type="button"].add_btn_profile,
.list-controls input[type="button"].add_btn_delete,.list-controls input[type="button"].add_btn_other{
display: inline-block;
    float: right;
    margin-left: 15px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0 30px 0 40px;
    font-size:14px; 
    text-indent: 13px; 
    position:relative;
    width:auto; 
    border-radius:50px; 
}
.list-controls input[type="button"].add_btn_profile{
    background:url(../../images/edit_profile.png)13px center no-repeat #4da8dd;
    background-image: url(../../images/edit_profile.png), linear-gradient(#305da9, #4eaadf);    
    background-image: url(../../images/edit_profile.png), -webkit-gradient(linear, left top, left bottom, from(#305da9), to(#4eaadf));    
    background-image: url(../../images/edit_profile.png), -moz-linear-gradient(top, #305da9, #4eaadf);
    background-position: 25%;
    margin-left: 0px;
}
.list-controls input[type="button"].add_btn_delete{
    background:url(../../images/delete.png)13px center no-repeat #4da8dd;
    background-image: url(../../images/delete.png), linear-gradient(#305da9, #4eaadf);
    background-image: url(../../images/delete.png), -webkit-gradient(linear, left top, left bottom, from(#305da9), to(#4eaadf));
    background-image: url(../../images/delete.png), -moz-linear-gradient(top, #305da9, #4eaadf);
    background-position: 15%;
}

.detail_address-icon{ background:url(../../images/add.jpg) no-repeat; padding:0 0 0 30px; position:relative; margin-left: 10px; margin-bottom: 10px;}
.detail_empoloyee_id-icon{ background:url(../../images/empoloyee_id.jpg) no-repeat; padding:0 0 0 30px; position:relative; margin-left: 10px; margin-bottom: 10px;}
.detail_phone_numb-icon{ background:url(../../images/phone_numb.jpg) no-repeat; padding:0 0 0 30px; position:relative; margin-left: 10px; margin-bottom: 10px;} 
.detail_email-icon{ background:url(../../images/email.jpg) 0 3px no-repeat; padding:0 0 0 30px; position:relative; margin-left: 10px; margin-bottom: 10px;}


a.sales-first-menu {
    display: flex !important;
}


input.btn_new {
    
    background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* FF3.6+ */
    background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));/* Chrome,Safari4+ */
    background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* Opera 11.10+ */
    background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);/* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0'); /* for IE */
    background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);/* W3C */ 
    width: 128px;
    text-align: center;
    color: #fff !important;
}

.user-profile-setting-pop .navbar-content {
    width: 155px !important;
    word-wrap: break-word;
    overflow: hidden;
}
.user-profile-setting-pop li {    margin-right: 0 !important;}




/* CSS For Signup New Page - Dated  - 20 - feb -2017*/
.signup-new {background-color: #fff}
.signup-new .header_back{min-height:190px}
.btn.btn-login-signup {border: 1px solid #fff;border-radius: 30px;padding: 1rem 3rem;color: #fff;}
.btn.btn-login-signup:hover {color: #000;background-color:#fff}
.header-title-text h2 {color: #fff;    font-size: 28px;}
.signup-new-cat {  background: #fff;   border-radius: 20px;padding-left: 15px;width: 100%;height: 36px;margin: 0;color: #949494;font-weight: 600;}
.signup-new-cat:focus{border:none !important;     background: #fff; }
.user-login-box {background: #4da8dd;padding: 3rem;text-align: center;margin-top: 5rem;position: relative;}
footer{background-color:#353535;padding:2rem 1.8rem; /*margin-top: 4rem;*/} 
.user-login-box-content h4 {color: #fff;font-weight: 600;margin-bottom: 2rem;}
.header-title-text {position: absolute;bottom: 10%;    max-width: 200px;}
.add-new-offer-hedear {margin-top: 3rem;}
/*.left-signup-fields {margin-left: -15px;}*/
.user-login-box-content .add-new-offer-form input#textinput {border: 1px solid #fff;background: #4da8dd; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px; color: #fff;}

.user-login-box-content .add-new-offer-form input#textinput::-webkit-input-placeholder {color: #fff;}
.user-login-box-content .add-new-offer-form input#textinput:-moz-placeholder {color: #fff;}
.user-login-box-content .add-new-offer-form input#textinput::-moz-placeholder {color: #fff;}
.user-login-box-content .add-new-offer-form input#textinput:-ms-input-placeholder {color: #fff;}

/* enable absolute positioning */
.inner-addon {
  position: relative;
}

/* style glyph */
user-login-icons .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.right-addon .glyphicon { right: 6%;position: absolute;top: 22%;color: #fff;;}
.right-addon input { padding-right: 30px; }

.left-signup-fields input[type="text"]{width:100%;height:36px;margin:0; padding-left:14px; background:#fff; border:1px solid #e1e1e1;border-radius:50px;}
.left-signup-fields input[type="text"].profile_field{ background:#fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px; border:1px solid #cccccc; padding-left:15px;}
.left-signup-fields input[type="password"].profile_field{ background:#fff; border:1px solid #cccccc; border-radius:1px;  padding-left:15px;  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.left-signup-fields input[type="email"], .left-signup-fields input[type="number"]{background:#fff; border:1px solid #cccccc; border-radius:1px;  padding-left:15px;  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px; background:#fff;}

.right-signup-fields input[type="email"], .list-controls input[type="number"]{ background:#fff; border:1px solid #cccccc; border-radius:1px;  padding-left:15px;  -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.right-signup-fields .name_icon_sprite{ /*background:url(../images/form-sprite.png) right -7px no-repeat; */ background: #fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.right-signup-fields .email_icon_sprite{ /*background:url(../images/form-sprite.png) right -52px no-repeat;*/ background: #fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.right-signup-fields .right-signup-fields .phone_icon_sprite{ /*background:url(../images/form-sprite.png) right -100px no-repeat; */ background: #fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.right-signup-fields .password_icon_sprite{ /*background:url(../images/form-sprite.png) right -148px no-repeat; */ background: #fff; -webkit-border-radius: 30px;-moz-border-radius: 30px;border-radius: 30px;}
.right-signup-fields input[type="text"]{width:100%;height:36px;margin:0; padding-left:14px; background:#fff; border:1px solid #e1e1e1;border-radius:50px;}
.right-signup-fields .signup-new-cat{ background: #fff; border:2px solid #e1e1e1; height: 40px; font-weight: normal;}

.user-login-box-content input.user_login_btn {background: #fff;border: none;padding: 3% 11%;border-radius: 20px;color: #4da8dd;font-weight: 600; margin:0 auto;}

.date-sec {position: relative;}
.date-sec span.input-group-btn {border: 1px solid #ccc;
display: inline-block;
width: 36px;
height: 36px;
border-radius: 50% !important;
overflow: hidden;
position: absolute;
top: 38px;
right: 0px;}
.date-sec span.input-group-btn .btn.btn-default{border: 0 none;}

.addrem-sec fieldset{position: relative;margin: 5px 2px;padding:0;border-radius: 50px;}
.addrem-sec fieldset input{width:calc(100% - 30px); height: 22px !important; margin:6px 0; padding:0 10px;}
.addrem-sec fieldset input[type="file"]{ height: 25px !important; margin:4px 0;}
.addrem-sec .remove.btn{display: inline-block; position: absolute;top:0px; right: 0px;border-radius: 0 50px 50px 0; background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);}


.offer_slider .carousel-indicators .active{background-color: #ccc;}
.offer_slider .item img{/*width: auto;*/ width: 100%; max-width:100%;}

.desc-txt{/*position: absolute;top: 2px;left: 65px;*/ float: left; margin: -20px 0 0 83px; font-size: 13px; color: #949494; font-weight: 600;}

.upld-file-lbl{/*float: right;*/ display:block;width:167px;height:38px;margin-left: calc(100% - 167px);color:#fff;border-radius:50px;overflow:hidden;text-align:center;vertical-align:middle;line-height:36px;text-transform: uppercase;cursor:pointer;
background: -moz-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
background: -webkit-gradient(linear, 90deg, color-stop(0%, #305da9), color-stop(100%, #4eaadf));
background: -webkit-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
background: -o-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
background: -ms-linear-gradient(90deg, #305da9 0%, #4eaadf 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#305da9', endColorstr='#4eaadf', GradientType='0');
background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);
}
.upld-file-lbl:before{content: 'Upload Offers';line-height: 36px; text-align:center;width: 150px;border-radius: 50px; }
#UpldfileCont{/*display: none;*/position: absolute;width: 1px;height: 1px;padding: 0;margin: -1px;overflow: hidden;clip: rect(0,0,0,0);border: 0;}

.addfields{
        background: linear-gradient(0deg, #305da9 0%, #4eaadf 100%);
}
.alert_box{display: inline-block; padding-top: 5px;font-size: 12px; color: #d00;}
 
.user-dashboard.view_prof_detail h1 {margin: 0;padding: 21px 0;border-bottom: 1px solid #ccc;}
.view_prof_detail .profile_form{padding-top: 3%;}
.view_prof_detail label, .view_prof_detail .ng-binding{padding-top: 5px;margin-bottom: 0; font-size: 14px; color: #5c5c5c; font-weight: 600;line-height: 20px;}
.view_prof_detail .profile_form .form-group{padding-top:5px; padding-bottom:5px;background: #f8f8f8;border-radius: 4px;}

.profile_pic.coupon_img { margin-top: 50px;}

.dropdown.hid_menu{display: none;}
.dropdown.hid_menu .dwnarrow{width: 25px; height: 25px; background: url(../../images/nav_slot.png) no-repeat center center !important;}
.header-top .dropdown.hid_menu .dropdown-menu{right: -65px; top: 120%;}
.dropdown.hid_menu .dropdown-menu > li > a{padding: 3px 0px;}

.nav .dropdown.hid_menu.not_logged.open > a,
.nav .dropdown.hid_menu.not_logged.open > a:focus,
.nav .dropdown.hid_menu.not_logged.open > a:hover{background: transparent;border: 0 none;}
header .header .navigation ul.nav li.dropdown.hid_menu.not_logged{display: none;}
header .header .navigation ul.nav li.dropdown.hid_menu.not_logged li{display: block;}
header .header .navigation ul.nav li.dropdown.hid_menu.not_logged li a{display: block; padding: 5px 10px; font-size: 13px; color: #5C5C5C;}
header .header .navigation ul.nav li.dropdown.hid_menu.not_logged li a:hover{background-color: #ddd;}

.dropdown.open .dropdown-toggle,
.dropdown-toggle:hover{text-decoration: none;}

@media only screen and (max-width: 991px) {
    .gap_b_sm_15{margin-bottom: 15px;}

}

.capitalize::first-letter {
  text-transform: uppercase;
}

.input-group{
    width: 100% !important;
}
.input-group-btn{
    display: none;
}

/* @-moz-document url-prefix() {
    .header-top .dropdown-menu {
    left: -100% !important;
}
    
} */


.add_btn_other_profile{
    display: inline-block;
    /* float: right; */
    margin-left: 15px;
    margin-top: 40px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 0px 30px 0 18px;
    font-size: 14px;
    text-indent: 13px;
    position: relative;
    width: auto;
    border-radius: 50px;
}


.report-form-class .signup-new-cat {
    margin-bottom: 15px;
}
.report-form-class .date-sec span.input-group-btn{top:24px;width: 34px;height: 34px;}
.report-form-class .btn.btn-default {font-size: 15px;top: -2px;left: -2px;}
.report-form-class .form-control{border-radius:20px;height: 36px !important; }
.report-form-class input.btn.login {padding: 10px 20px;width: auto;margin-left: 0px;}
.report-form-class input.add_btn {padding: 10px 20px;width: auto;margin-left: 0px;}
.user-profiledetails input.add_btn_other_profile.ng-scope {padding: 10px 20px;width: auto;margin-top: 2em;margin-left: 0px;}


/*-------- 19 july 2017 - Radio Button Formatting Start-----------*/
    
.radioBtn-fmt { text-align: center; padding: 30px 0 10px 0; }
.radioBtn-fmt label { font-size: 16px; margin: 0 30px; cursor: pointer; }
.radioBtn-fmt label span { display: block; padding-left: 10px; color: #428cca; }
.radioBtn-fmt label input[type='radio'] { width: 20px; height: 20px; float: left; margin-top: 0px; margin-right: 10px; }

/*-------- 19 july 2017 - Radio Button Formatting End-----------*/