<section class="home ">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="user-dashboard">
                <div class="row">
                    <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                        <h1>Employees</h1>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="list-controls">
                            <form name="abc" action="">
                            <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                    <div class="lc-select-box">
                                      <select class="selectpicker" ng-model="vm.propertyName">
                                          <option value="">Select Filter</option>
                                            <option value="personalInfo.name">By name</option>
                                            <option value="address.address">By address</option>
                                      </select>
                                      <input type="button" value="filter">
                                    </div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                    <div class="lc-serch-box">
                                        <input type="text" placeholder="Search" ng-model="vm.searchquery" onkeydown = "if (event.keyCode == 13) document.getElementById('btnSearch1').click()"><input type="button" id="btnSearch1" value="Search" ng-click="vm.searchUser(vm.searchquery)">
                                    </div>
                            </div>
                            <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 txt_right">
                                    <input type="button" value="+ add new" class="add_btn" ng-click="vm.openPopup()">
                            </div>
                            <div class="clearfix"></div>
                            </div>
                            </form>
                    </div>
                </div>
                <div class="row">
                    <div class="list-table table-responsive">
                        <table>
                            <tr>
                                    <th class="lt-col1">Name/Address</th>
                                    <th class="lt-col2">Employee Id</th>
                                    <th class="lt-col3">edit</th>
                                    <th class="lt-col4">delete</th>
                                    <th class="lt-col5">&nbsp;</th>
                            </tr>
                            <tr ng-repeat="sales in vm.salesUsers| orderBy: vm.propertyName">
                                    <td><img ng-src="{{sales.personalInfo.profileImg}}" height=70 width=70 alt="user" class="lt-userimg"><span class="lt-username">{{sales.personalInfo.name}}<span><br /><span class="lt-address">{{sales.address.address}}</span></td>
                                    <td>{{sales.empId}}</td>
                                    <td><a href="" class="lt-icon-edit" title="Edit" ng-click="vm.editPopup(sales)">Edit</a></td>
                                    <td><a href="" class="lt-icon-delete" title="Delete" ng-click="vm.deletePop(sales._id)">Delete</a></td>
                                    <td><a href="" ui-sref="anon.view-sales-info({staffId: '{{sales._id}}'})"><img src="images/lt-rgt-arrow.png" alt=""></a></td>
                            </tr>
                            <tr ng-show="vm.salesUsers.length==0">
                                <td>No records found.</td>
                                <td></td>
                                <td></td>
                                <td></td> 
                                <td></td>
                            </tr>
                            
                        </table>
                        <ul uib-pagination boundary-links="true" total-items="vm.totalItems" num-pages="vm.noofPages" max-size="vm.maxsize" items-per-page ="vm.itemsPerPage"  ng-model="vm.currentPage" ng-change="vm.pageChanged()"class="pagination-sm fr" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="popup instant-call-container_new">
        <a class="close" ng-click="vm.close();">CLOSE</a>
        <form ng-submit="vm.addEmp(vm.sales.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.sales">
            <h3 class="heading-3">Add Employee</h3>
            <div class="form-gp">
                
                <div class="form-group">
                    <img class="add_sale_img" ng-src="{{vm.newuser.personalInfo.profileImg}}" height=100 width=100 alt="" />
                </div>
                <div class="form-group form-group_img-selector form-group_new">
                    <input type="file" ng-model="vm.file" name="file" file-uploader ng-change="vm.onLoad(vm.file)"  accept="image/*">
                </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.sales.name.$invalid && !vm.sales.name.$pristine }" >
                    <input type="text" name="name" placeholder="Name" class="form-control new user name_icon_sprite" ng-model="vm.newuser.personalInfo.name" required>
                    <span ng-show="vm.sales.name.$invalid && !vm.sales.name.$pristine" class="alert_box">Name is required.</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.sales.email.$invalid && !vm.sales.email.$pristine }" >
                    <input type="email" name="email" placeholder="Email" class="form-control new email email_icon_sprite" ng-model="vm.newuser.email" required>
                    <span ng-show="vm.sales.email.$invalid && !vm.sales.email.$pristine" class="alert_box">Enter valid email.</span>
                </div>
            </div>
            <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.sales.mobileNo.$invalid && !vm.sales.mobileNo.$pristine }" >
                    <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control new phoneno phone_icon_sprite" ng-model="vm.newuser.personalInfo.mobileNo"  ng-minlength="10" ng-maxlength="10" required>
                    <span ng-show="vm.sales.mobileNo.$invalid && !vm.sales.mobileNo.$pristine || vm.sales.$error.minlength || vm.sales.$error.maxlength" class="alert_box">Required. 10 char. only</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.sales.position.$invalid && !vm.sales.position.$pristine }">
                    <input type="text" name="position" placeholder="Employee Id" class="form-control new newuser"  ng-model="vm.newuser.empId" required >
                    <span ng-show="vm.sales.position.$invalid && !vm.sales.position.$pristine" class="alert_box">Emp id is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.sales.address.$invalid && !vm.sales.address.$pristine }" >
                    <input type="text" name="address" placeholder="Address" class="form-control new newuser" ng-model="vm.newuser.address.address" required>
                   <span ng-show="vm.sales.address.$invalid && !vm.sales.address.$pristine" class="alert_box">Enter address here.</span>
                </div>
            </div>
            <div class="row" ng-show="allowOfferCheck">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_offer" class="" ng-model="vm.newuser.allow_offer"> Allow sales person to add offers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_refferer" class="" ng-model="vm.newuser.allow_refferer"> Allow sales person to add referrers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_redeem_coupon" class="" ng-model="vm.newuser.allow_redeem_coupon"> Allow sales person to redeem coupons </label>
                </div>
            </div>
            <div class="popup-footer form-action">
                <a class="btn btn-default abtncancel" ng-click="vm.close();" >Cancel</a>
                <input class="btn login" type="submit" value="Save" ng-disabled="vm.sales.$invalid" />
            </div>
            </div>
        </form>
    </div>
    <div class="popup3 instant-call-container_new">
        <a class="close" ng-click="vm.closeEdit();">CLOSE</a>
        <form ng-submit="vm.editEmp(vm.editsales.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.editsales">
            <h3 class="heading-3">Edit Employee</h3>
            <div class="form-gp">
            
            <div class="form-group">
                <img class="add_sale_img" ng-src="{{vm.editUser.personalInfo.profileImg}}" height=100 width=100 alt="" />
            </div>
            <div class="form-group form-group_img-selector form-group_new">
                <input type="file" ng-model="vm.file1" name="file" file-uploader ng-change="vm.editOnLoad(vm.file1)"  accept="image/*">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.name.$invalid && !vm.editsales.name.$pristine }" >
                    <input type="text" name="name" placeholder="Name" class="form-control new user name_icon_sprite" ng-model="vm.editUser.personalInfo.name" required>
                    <span ng-show="vm.editsales.name.$invalid && !vm.editsales.name.$pristine" class="alert_box">Name is required.</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.email.$invalid && !vm.editsales.email.$pristine }" >
                    <input type="email" name="email" placeholder="Email" class="form-control new email email_icon_sprite" ng-model="vm.editUser.email" required>
                    <span ng-show="vm.editsales.email.$invalid && !vm.editsales.email.$pristine" class="alert_box">Enter valid email.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.mobileNo.$invalid && !vm.editsales.mobileNo.$pristine }" >
                    <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control new phoneno phone_icon_sprite" ng-model="vm.editUser.personalInfo.mobileNo"  ng-minlength="10" ng-maxlength="10"  required>
                    <span ng-show="vm.editsales.mobileNo.$invalid && !vm.editsales.mobileNo.$pristine || vm.editsales.$error.minlength || vm.editsales.$error.maxlength" class="alert_box">Required. 10 char. only</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.position.$invalid && !vm.editsales.position.$pristine }">
                    <input type="text" name="position" placeholder="Employee Id" class="form-control new newuser"  ng-model="vm.editUser.empId" required >
                    <span ng-show="vm.editsales.position.$invalid && !vm.editsales.position.$pristine" class="alert_box">Emp id is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.address.$invalid && !vm.editsales.address.$pristine }" >
                    <input type="text" name="address" placeholder="Address" class="form-control new newuser" ng-model="vm.editUser.address.address" required>
                   <span ng-show="vm.editsales.address.$invalid && !vm.editsales.address.$pristine" class="alert_box">Enter address here.</span>
                </div>
            </div>
             <div class="row" ng-show="allowOfferCheck">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_offer" class="" ng-model="vm.editUser.allow_offer"> Allow sales person to add offers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_refferer" class="" ng-model="vm.editUser.allow_refferer"> Allow sales person to add referrers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_redeem_coupon" class="" ng-model="vm.editUser.allow_redeem_coupon"> Allow sales person to redeem coupons </label>
                </div>
            </div>
            <div class="popup-footer form-action">
                <a class="btn abtncancel" ng-click="vm.closeEdit();" >Cancel</a>
                <input class="btn login" type="submit" value="Update" ng-disabled="vm.editsales.$invalid" />
            </div>
            </div>
        </form>
<!--        <div class="popup-footer">
            <a href="#">Already Registered?</a>
            <a href="#" class="login" ng-click="vm.login()">LogIn</a>
        </div>-->
    </div>
    <div class="popup2 instant-call-container">
            <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
            <form>
                <div class="form-gp"> 
                    <img src="images/bin.png" class="margin_auto icon_top"><br>
                    <p class="title_txt">Are You Sure ?</p>
                    <p>Are you sure that you want to delete this <br>
					 person. This action cannot be undone.</p>
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
                <button type="submit" class="button_delete" ng-click="vm.deleteEmp();">DELETE</button>
            </form>
            <br>
    </div>
</section>
