<section>
    <div class="user-dashboard view_prof_detail">
        <div class="row">
            <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 list-controls">
                <div class="row">
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                            <h1>Membership Plan Details</h1>
                        </div>
                </div>
                <div class="row" >
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                             <p ng-if="vm.membership.membership_type == 'canceled'">You have cancelled your membership.</p>
                             <p ng-if="vm.membership.membershipDetails.account_type == 'free' && vm.membership.membership_type == 'activated'">Your are currently on a 30 days trial period.</p>
                             <div class="form-group" >
                                <label class="col-lg-4 col-md-4 control-label" for="name">Plan Name:</label><div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">        {{vm.membership.membershipDetails.plan_name}}
                                    </div><div class="clearfix"></div>
                                </div>
                                <div class="form-group" >
                                <label class="col-lg-4 col-md-4 control-label" for="name">Plan Type:</label><div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">        {{vm.membership.membershipDetails.plan_type}}
                                    </div><div class="clearfix"></div>
                                </div>
                                <div class="form-group" >
                                <label class="col-lg-4 col-md-4 control-label" for="name">Plan Fee:</label><div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">  ${{vm.membership.membershipDetails.amount}}
                                    </div><div class="clearfix"></div>
                                </div>
                                <div class="form-group" >
                                <label class="col-lg-4 col-md-4 control-label" for="name">Auto Renewal Date:</label><div class="col-lg-8 col-md-8  col-sm-12 col-xs-12 ng-binding capitalize">  {{vm.membership.membershipDetails.expiry_date}}
                                    </div><div class="clearfix"></div>
                                </div>
                                <div class="form-group" >
                                <label class="col-lg-4 col-md-4 col-xs-10 control-label" for="name"><a class="btn btn-default abtncancelinner" ng-click="vm.renewConfirm()">Renew Now</a></label>
                                </div>
                                
                        </div>
                </div>
            </div>
             <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12 list-controls">
                <div class="list-controls">
                    <div class="row">
                        <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                            <h1>Select Membership Plan</h1>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                        <div class="container radioBtn-fmt">
                            <label class="radio-inline">
                              <input type="radio" checked="checked" id="monthly_radio" name="radioPlan" ng-click="vm.selectPlanType('monthly')"><span>Monthly Price</span>
                            </label>
                            <label class="radio-inline">
                              <input type="radio" id="yearly_radio" name="radioPlan" ng-click="vm.selectPlanType('yearly')"><span>Annual Price</span>
                            </label>
                        </div>

                        <div class="row" id="monthly_plan_div">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " ng-repeat="membershipPlan in vm.ShowMemeberShipPlan">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="icon_back silver_back"></div>
                                        <h3 class="panel-title">{{membershipPlan.plan_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="the-price">
                                            <h1>${{membershipPlan.amount}}/m</h1>
                                        </div>
                                        <table class="table">
                                             <tr>
                                                <td ng-if="membershipPlan.offers_limit == 0">Unlimited Offers Per Year</td>
                                                <td ng-if="membershipPlan.offers_limit != 0">{{membershipPlan.offers_limit}} Offers Per Year</td>
                                            </tr>
                                            <tr class="active">
                                                <td ng-if="membershipPlan.sowner_limit == 0">Unlimited Sales Account</td>
                                                <td ng-if="membershipPlan.sowner_limit != 0">{{membershipPlan.sowner_limit}} Sales Account</td>
                                            </tr>
                                            <tr>
                                                <td ng-if="membershipPlan.refferer_limit == 0">Unlimited Referrers</td>
                                                <td ng-if="membershipPlan.refferer_limit != 0">Max {{membershipPlan.refferer_limit}} Referrers</td>
                                            </tr>
                                            <tr class="active">
                                                <td>{{membershipPlan.history}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details">
                                                <td>{{membershipPlan.other_details}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details_2">
                                                <td>{{membershipPlan.other_details_2}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a class="panel-footer" ng-click="vm.updatePlan(membershipPlan._id,membershipPlan.plan_name,membershipPlan.duration,membershipPlan.amount)">Select Plan</a>
                                </div>
                            </div>

                        

                    </div>

<!------------------------------------Yearly Plan Div ------------------------------------------>
                    <div class="row" id="yearly_plan_div" style="display:none;">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 " ng-repeat="membershipPlan in vm.ShowMemeberShipPlan">
                                <div class="panel">
                                    <div class="panel-heading">
                                        <div class="icon_back silver_back"></div>
                                        <h3 class="panel-title">{{membershipPlan.plan_name}}</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div class="the-price">
                                            <h1>${{membershipPlan.amount}}/m</h1>
                                        </div>
                                        <table class="table">
                                           <tr>
                                                <td ng-if="membershipPlan.offers_limit == 0">Unlimited Offers Per Year</td>
                                                <td ng-if="membershipPlan.offers_limit != 0">{{membershipPlan.offers_limit}} Offers Per Year</td>
                                            </tr>
                                            <tr class="active">
                                                <td ng-if="membershipPlan.sowner_limit == 0">Unlimited Sales Account</td>
                                                <td ng-if="membershipPlan.sowner_limit != 0">{{membershipPlan.sowner_limit}} Sales Account</td>
                                            </tr>
                                            <tr>
                                                <td ng-if="membershipPlan.refferer_limit == 0">Unlimited Referrers</td>
                                                <td ng-if="membershipPlan.refferer_limit != 0">Max {{membershipPlan.refferer_limit}} Referrers</td>
                                            </tr>
                                            <tr class="active">
                                                <td>{{membershipPlan.history}}</td>
                                            </tr>
                                             <tr class="active" ng-if="membershipPlan.other_details">
                                                <td>{{membershipPlan.other_details}}</td>
                                            </tr>
                                            <tr class="active" ng-if="membershipPlan.other_details_2">
                                                <td>{{membershipPlan.other_details_2}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <a class="panel-footer" ng-click="vm.updatePlan(membershipPlan._id,membershipPlan.plan_name,membershipPlan.duration,membershipPlan.amount)">Select Plan</a>
                                </div>
                            </div>

                    </div>

               </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-11 col-sm-12 col-xs-12">
                    <div class="form-group" >
                        <label class="col-lg-12 col-md-12 col-xs-12 control-label" for="name"><a class="btn btn-default abtncancelplan" ng-click="vm.renewCancel()">Cancel Account</a></label>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
<div class="popup2 instant-call-container">
    <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
    <form>
        <div class="form-gp"> 
            <p class="title_txt">Are You Sure ?</p>
            <p>Are you sure that you want to renew <br>
             your membership. This action cannot be undone.</p>
        </div>
        <div class="clearfix"></div>
        <img src="images/ajax-loader.gif" id="loader_img" style="display:none; padding-left: 42%;">
        <div id="submit_div">
            <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
            <button type="submit" class="button_delete" ng-click="vm.renewMembership();">Renew</button>
        </div>
    </form>
    <br>
</div>
<div class="popup3 instant-call-container">
    <a href="" ng-click="vm.Close3();" class="close_new">CLOSE</a>
    <form>
        <div class="form-gp"> 
            <p class="title_txt">Are You Sure ?</p>
            <p>Yes, I want to cancel my account at the end of my agreed to billing period.</p>
        </div>
        <div class="clearfix"></div>
        <img src="images/ajax-loader.gif" id="loader_img" style="display:none; padding-left: 42%;">
        <div id="submit_div">
            <button type="submit" class="button_cancel" ng-click="vm.Close3();">CANCEL</button>
            <button type="submit" class="button_delete" ng-click="vm.cancelMembership();">SUBMIT</button>
        </div>
    </form>
    <br>
</div>
<div style="display: none;" class="overlay"></div>