<section class="home">
    <div class="container-fluid display-table">
        <div class="row display-table-row">
            <div class="user-dashboard view_prof_detail">
                <div class="row">
                    <div class="list-controls">
                        <form name="abc" action="">
                            <div class="row">
                                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12">
                                        <div class="lc-serch-box" ng-if="allow_redeem_coupon">
                                            <input type="text" placeholder="Enter coupon code" ng-model="vm.searchquery" onkeydown="if (event.keyCode == 13) document.getElementById('btnSearch').click()"><input id="btnSearch" type="button" value="Check" ng-click="vm.searchCoupon(vm.searchquery)">
                                        </div>
                                        <div class="lc-serch-box" ng-if="!allow_redeem_coupon">
                                            <p>You are not allowed to redeem coupons</p>
                                        </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </form>
                    </div>
                </div>

                <div class="row" ng-if="vm.user.length > 0" >
                    <div class="col-lg-3 col-md-1 col-sm-2 col-xs-1">
                        <img error="this.src='images/offer_pic.jpg'" ng-src="{{vm.user[0].offerId.offerImage}}"  height=100 width=100 alt="Offer" class="profile_pic coupon_img">
                       
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-2 list-controls">
                        <div class="list-controls">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row"><h1>Coupon Details</h1></div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Form Name -->
                                <div class="profile_form">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Coupon Code:</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].couponCode}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <div class="form-group" ng-if="vm.user[0].status !==undefined">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Coupon Status:</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].status}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Offer Name :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].offerDetails.offerName}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Offer Description :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].offerDetails.description}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Buyers Discount :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            $ {{vm.user[0].offerDetails.discount}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Buyers Discount Description :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                             {{vm.user[0].offerDetails.discount_description}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Renumeration Description :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].offerDetails.remuneration_description}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Renumeration Dollar Value :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            $ {{vm.user[0].offerDetails.remuneration}}
                                        </div><div class="clearfix"></div>
                                    </div>
                                        
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Offer Start Date :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].offerDetails.startDate}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Offer End Date :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].offerDetails.endDate}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="row" ng-if="vm.user.length > 0">
                    <div class="col-lg-3 col-md-1 col-sm-2 col-xs-1">
                        <img onerror="this.src='images/thumbnail.jpg'" ng-src="{{vm.user[0].referrerId.personalInfo.profileImg}}"  height=100 width=100 alt="Referrer" class="profile_pic coupon_img">
                       
                    </div>
                    <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12 col-lg-offset-0 col-md-offset-2 list-controls">
                        <div class="list-controls">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    <div class="row"><h1>Referrer Details</h1></div>
                                </div>
                                <div class="clearfix"></div>
                                <!-- Form Name -->
                                <div class="profile_form">
                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Referrer Name:</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].referrerId.personalInfo.name}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Email Address :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].referrerId.email}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                    <!-- Text input-->
                                    <div class="form-group">
                                        <label class="col-lg-4 col-md-4 control-label" for="name">Mobile :</label>  
                                        <div class="col-lg-8 col-md-8  col-sm-12 col-xs-12"> 
                                            {{vm.user[0].referrerId.personalInfo.mobileNo}}
                                        </div><div class="clearfix"></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="list-controls footer" ng-if="vm.user.length > 0">
    
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                        <input value="Redeem Coupon" class="add_btn" type="submit" ng-click="vm.redeemCoupon()">
                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                        <input value="Reject Coupon" class="add_btn_border" type="button" ng-click="vm.rejectCoupon()">
                    </div>
                
                </div>    

            </div>
        </div>
    </div>
</section>

