<section>
    <div class="user-dashboard">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                <img ng-src="{{vm.saleuser.personalInfo.profileImg}}" height=100 width=100 class="profile_pic">

            </div>
            <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12 list-controls">
                <div class="list-controls">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <h1>{{vm.saleuser.personalInfo.name}}</h1>
                        </div>
                    <!-- <div class="col-lg-7 col-md-7 col-sm-4 col-xs-5 pull-right txt_right"></div> -->
                        <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 pull-right txt_right">
                            <input value="Delete" class="add_btn_delete" type="button" ng-click="vm.deletePop(vm.saleuser._id)">
                            <input value="Edit" class="add_btn_profile" type="button" ng-click="vm.editPopup(vm.saleuser)">
                        </div>
                        
                    </div>
                    <div class="clearfix"></div>

                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail_address-icon">{{vm.saleuser.address.address}}</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail_empoloyee_id-icon">{{vm.saleuser.empId}}</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail_phone_numb-icon">{{vm.saleuser.personalInfo.mobileNo}}</div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 detail_email-icon">{{vm.saleuser.email}}</div>
                    </div>

                </div>
            </div>
            <div class="list-controls footer">
                <div class="row">
                    <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6 pull-right txt_right">
                        <input type="button" value="Back" class="add_btn_border" ui-sref="anon.dashboard">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
         <div class="popup3 instant-call-container_new">
        <a class="close" ng-click="vm.closeEdit();">CLOSE</a>
        <form ng-submit="vm.editEmp(vm.editsales.$valid)" accept-charset="UTF-8" role="form" class="form-signin" novalidate name="vm.editsales">
            <h3 class="heading-3">Edit Employee</h3>
            <div class="form-gp">
           
            <div class="form-group">
                <img class="add_sale_img" ng-src="{{vm.editUser.personalInfo.profileImg}}" height=100 width=120 alt="Description" />
            </div>
            <div class="form-group form-group_img-selector form-group_new">
                <input type="file" ng-model="vm.file1" name="file" file-uploader ng-change="vm.editOnLoad(vm.file1)" maxsize="500" accept="image/*">
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.name.$invalid && !vm.editsales.name.$pristine }" >
                    <input type="text" name="name" placeholder="Name" class="form-control new user name_icon_sprite" ng-model="vm.editUser.personalInfo.name" required>
                    <span ng-show="vm.editsales.name.$invalid && !vm.editsales.name.$pristine" class="alert_box">Name is required.</span>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.email.$invalid && !vm.editsales.email.$pristine }" >
                    <input type="email" name="email" placeholder="Email" class="form-control new email email_icon_sprite" ng-model="vm.editUser.email" required>
                    <span ng-show="vm.editsales.email.$invalid && !vm.editsales.email.$pristine" class="alert_box">Enter valid email.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.mobileNo.$invalid && !vm.editsales.mobileNo.$pristine }" >
                    <input type="number" name="mobileNo" placeholder="Phone Number" class="form-control new phoneno phone_icon_sprite" ng-model="vm.editUser.personalInfo.mobileNo"   ng-minlength="10" ng-maxlength="10"  required>
                    <span ng-show="vm.editsales.mobileNo.$invalid && !vm.editsales.mobileNo.$pristine || vm.editsales.$error.minlength || vm.editsales.$error.maxlength" class="alert_box">Required. 10 char. only</span>
                    
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.position.$invalid && !vm.editsales.position.$pristine }">
                    <input type="text" name="position" placeholder="Employee Id" class="form-control new newuser"  ng-model="vm.editUser.empId" required >
                    <span ng-show="vm.editsales.position.$invalid && !vm.editsales.position.$pristine" class="alert_box">Emp id is required.</span>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-class="{ 'has-error' : vm.editsales.address.$invalid && !vm.editsales.address.$pristine }" >
                    <input type="text" name="address" placeholder="Address" class="form-control new newuser" ng-model="vm.editUser.address.address" required>
                   <span ng-show="vm.editsales.address.$invalid && !vm.editsales.address.$pristine" class="alert_box">Enter address here.</span>
                </div>
            </div>
            <div class="row" ng-show="allowOfferCheck">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_offer" class="" ng-model="vm.editUser.allow_offer"> Allow sales person to add offers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_refferer" class="" ng-model="vm.editUser.allow_refferer"> Allow sales person to add referrers </label>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                   <label class="checkbox-inline"> <input type="checkbox" name="allow_redeem_coupon" class="" ng-model="vm.editUser.allow_redeem_coupon"> Allow sales person to redeem coupons </label>
                </div>
            </div>
            <div class="popup-footer form-action">
                <a class="btn btn-default abtncancel" ng-click="vm.close();" >Cancel</a>
                <input class="btn login" type="submit" value="Update" ng-disabled="vm.editsales.$invalid" />
            </div>
            </div>
        </form>
<!--        <div class="popup-footer">
            <a href="#">Already Registered?</a>
            <a href="#" class="login" ng-click="vm.login()">LogIn</a>
        </div>-->
    </div>
    <div class="popup2 instant-call-container">
        <a href="" ng-click="vm.Close2();" class="close_new">CLOSE</a>
        <form>
            <div class="form-gp"> 
                <img src="images/bin.png" class="margin_auto icon_top"><br>
                <p class="title_txt">Are You Sure ?</p>
                <p>Are you sure that you want to delete this <br>
                                     person. This action cannot be undone.</p>
            </div>
            <div class="clearfix"></div>
            <button type="submit" class="button_cancel" ng-click="vm.Close2();">CANCEL</button>
            <button type="submit" class="button_delete" ng-click="vm.deleteEmp();">DELETE</button>
        </form>
        <br>
    </div>
</section>
<div class="clearfix"></div>